// Variáveis

	// Fontes
	$f-serif-1: "Bitstream Charter", "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif;
  $f-serif-2: "Caladea", "Cambria", serif;
	$f-sans-1: "Liberation Sans", "FreeSans", "Nimbus Sans L", "Arial", "Helvetica", sans-serif;
	$f-mono-1: "Liberation Mono", "Consolas", "Monaco", monospace;

	// Cores
	$c-heading-main: rgb( 220, 40, 40 ); $c-heading-sides: rgb( 115, 0, 0 );
	$c-row-bg: rgb( 255, 235, 155 ); $c-row-b: rgb( 200, 0, 0 );
	$c-odd-row: rgb( 255, 255, 255 ); $c-even-row: rgb( 200, 200, 200 );

// Misturas
  @mixin set-main-font() // Definir Fonte Principal
    { font: { family: $f-serif-1; size-adjust: .459 }
      @supports not( font-size-adjust: .459 )
        { font-family: o-remove( $f-serif-1, "Bitstream Charter" ) } }

	@mixin checkbox-base-colors( $middle-color ) // Design Inicial das Caixas de Seleção
		{ $sides-color: darken( $middle-color, 10% ); background-image: linear-gradient( 0deg, $sides-color 0%, $middle-color 40%, $middle-color 60%, $sides-color 100% ) }

	@mixin checkbox-checked-colors( $middle-color ) // Design das Caixas de Seleção Ativas
		{ $sides-color: darken( $middle-color, 10% ); background-image: linear-gradient( 0deg, $sides-color 0%, $middle-color 40%, $middle-color 60%, $sides-color 100% ); @include checkbox-shadow( $middle-color ) }

	@mixin checkbox-shadow( $color ) 	// Sombras das Caixas de Seleção
		{ box-shadow: 0 0 .3rem .1rem rgba( $color, .6 ), 0 0 .6rem .2rem rgba( $color, .4 ), 0 0 .9rem .3rem rgba( $color, .2 ) }
