@charset "UTF-8";

@import "../../global/mixins", "../../global/functions", "lista-de-tarefas-var";

/* Geral */
* { padding: 0; margin: 0 }
@include enclosed-viewport;
html { font-size: 62.5% }
body { @include set-main-font; font-size: 1.6rem; line-height: 1.15; background: linear-gradient( 45deg, rgba( 230, 180, 0, .7 ), rgba( 230, 180, 0, .7 ) ), url( "../../../multimedia/images/background/task-list-bg.jpg" ) top center/cover; background-blend-mode: color-burn;
 	@supports not ( background-blend-mode: color-burn ) { background-image: url( "../../../multimedia/images/background/task-list-bg.jpg" ) } }
::selection { background-color: adjust-color( $c-heading-main, $saturation: -20%, $lightness: 15% ) }

/* Recipiente da Lista de Tarefas */
#listContainer { height: 100%; @include row-flex( $main-aligment: center ) }

/* Lista de Tarefas – Geral */
#taskList { table-layout: fixed; width: 100%; max-width: 80rem; border: none; border-spacing: 0; word-break: break-word; caret-color: $c-row-b }

/* Lista de Tarefas – Cabeçalho */
#taskList caption { font: { family: $f-serif-2; size: 2rem; size-adjust: initial }; word-spacing: .4rem; text-align: left; padding: 1rem; background: linear-gradient( 90deg, $c-heading-sides -50%, $c-heading-main, $c-heading-sides 150% ); cursor: default; user-select: none; position: relative;
	& img { float: right; cursor: pointer; display: none;
		&:focus { outline: none; filter: invert(100%) } }
	& #inputDisplayer { float: right; width: 2.3rem; height: 2.3rem; position: relative; cursor: pointer;
		&::before, &::after { content: ""; display: inline-block; width: 100%; height: .3rem; background-color: black; border-radius: .1rem; position: absolute; top: 1rem }
	 	&::after { transform: rotate( 90deg ); transition: opacity .3s ease-out }
		&.plus::after { opacity: 1 }
		&.minus::after { opacity: 0 }
		&:focus { outline: none;
		 	&::before, &::after { background-color: white } } } }
#taskList thead { visibility: collapse;
	& input[ name="entryInput" ] { color: white; box-sizing: border-box; width: 100%; padding: .8rem 1rem; border: none; background-color: rgb( 100, 100, 100 ); transition: background-color 1s ease-out; cursor: pointer;
		&:hover { background-color: rgb( 50, 50, 50 ) }
		&::placeholder { color: white; transition: opacity 1s ease-out }
		&:focus { border: solid .2rem $c-heading-sides; border-top: none; outline: none; cursor: text;
			&::placeholder { opacity: 0 } } } }

/* Lista de Tarefas – Corpo */
#taskList tbody { display: block; max-height: 70vh; hyphens: auto; overflow: auto; overflow-wrap: break-word;
	& tr { display: block;
		&:nth-child( odd ) { background: $c-odd-row }
		&:nth-child( even ) { background: $c-even-row }
		&:hover { background-color: adjust-color( $c-row-bg, $saturation: -15%, $lightness: 10% ) }
		&:focus-within { background-color: $c-row-bg; outline: solid .2rem $c-row-b } }
	& td { display: block; color: black; font-size: 1.4rem;
	 	& label { box-sizing: border-box; display: inline-block; width: 100%; user-select: none;
			& > span { display: inline-block; vertical-align: middle;
				&:first-of-type { width: 1.1rem; height: 1.1rem; border: solid .1rem transparent; border-radius: .2rem; background-color: black; margin-left: 1%; cursor: pointer;
					&:not( [ class*="imp" ] ) { background-color: transparent; border-color: rgb( 80, 80, 80 ) }
					&.imp1 { @include checkbox-base-colors( rgb( 110, 200, 150 ) ) };
				 	&.imp2 { @include checkbox-base-colors( rgb( 110, 150, 200 ) ) };
					&.imp3 { @include checkbox-base-colors( rgb( 200, 140, 65 ) ) };
				 	&.imp4 { @include checkbox-base-colors( rgb( 170, 60, 60 ) ) } }
				&:last-of-type { white-space: pre-wrap; max-width: 94%; margin: 1%; margin-right: 0; cursor: copy;
					&.finished { text-decoration: line-through }
					&:focus { color: adjust-color( $c-row-b, $saturation: -10%, $lightness: -10% ); outline: none; cursor: text }
					@media ( max-width: 26.8em /* 429px */ ) { max-width: 92%; margin: 1.5%; margin-right: 0 } } }
			& input[ name="taskItem" ]:checked + span {
				&:not( [ class*="imp" ] ) { background-color: rgb( 140, 140, 140 ) }
			 	&.imp1 { @include checkbox-checked-colors( rgb( 20, 255, 120 ) ) }
			 	&.imp2 { @include checkbox-checked-colors( rgb( 20, 145, 255 ) ) }
			 	&.imp3 { @include checkbox-checked-colors( rgb( 255, 170, 65 ) ) }
				&.imp4 { @include checkbox-checked-colors( rgb( 255, 80, 80 ) ) } } } }
	& tr:nth-child( odd ) span.finished { color: $c-even-row }
	& tr:nth-child( even ) span.finished { color: $c-odd-row }
 	& tr:hover span.finished { color: initial } }

/* Lista de Tarefas – Rodapé */
#taskList tfoot { color: white; font: { family: $f-serif-2; size-adjust: initial }; display: block; background: black; user-select: none;
	& * { display: inherit }
	& tr:first-child { columns: 4rem 9; column: { gap: .2rem; rule: solid medium white }; border-bottom: solid medium white;
		& td { width: 100%; height: 3.5rem; padding: .8rem 0; break-inside: avoid; cursor: pointer;
			&:hover, &:focus { background-color: $c-heading-main }
			&:focus { outline: none }
			& img { display: inline-block; width: 100%; height: 100% } } }
	& tr:last-child { text-align: center; padding: .8rem; cursor: default;
		& samp { display: inline; font-family: inherit } }
	@media ( max-width: 49.95em /* 799px */ )
		{ & tr:first-child { column-count: 8;
				& :nth-child( 2 ) { display: none } } }
	@media ( max-width: 33.7em /* 539px */ )
		{	& tr:first-child { column-count: 4;
				& :nth-child( 2n+3 ) { border-top: solid medium white } } }
	@media ( max-width: 33.7em /* 539px */ ), ( max-height: 34.95em /* 559px */ )
 		{ & tr:last-child { display: none } } }

/* Menu de Contexto */
#contextMenu { $w-ul: 20rem; $px-li: 1.2rem; $py-li: .5rem;
  & { color: rgb( 30, 30, 30 ); font: { family: $f-sans-1; size: 1.2rem; size-adjust: initial }; border: solid .1rem rgb( 40, 40, 40 ); box-shadow: .2rem .2rem .5rem .1rem rgba( 0, 0, 0, .5 ); position: absolute; cursor: default; user-select: none }
	& ul { list-style: none; background-color: rgb( 250, 250, 250 );
    & li { padding: $py-li $px-li;
      &:not( :last-child ) { border-bottom: solid .1rem rgb( 160, 160, 160 ) }
      &:hover { color: white; background: rgb( 120, 120, 120 );
        & > samp { color: inherit } }
      & > samp { color: rgb( 120, 120, 120 ); float: right; font: bold 1rem $f-mono-1 };
        & kbd { font-family: inherit } } }
  & > ul { width: $w-ul; padding: .4rem 0;
    & > li {
      & > section { position: relative;
        &::after { content: url( "../../../multimedia/images/icon/menu-arrow.png" ); position: absolute; right: 0; top: 0 }
        & > :first-child { font: { size: inherit; weight: normal } }
        & > ul { display: none; width: 30rem; position: absolute; left: calc( #{ $w-ul } - #{ $px-li } ); top: -$py-li;
          & > li:not( :hover ) { color: rgb( 30, 30, 30 ) } } } } } }

/* Versão para Impressão */
@media print
	{ #taskList { position: fixed; top: 0; counter-reset: list-tasks 0;
			& thead, & tfoot, & img { display: none }
			& caption { text-align: center }
			& tbody { display: flex; flex-direction: column; visibility: hidden;
				& tr, & td { display: contents }
				& span { display: none !important }
				& input:checked ~ span:last-of-type { display: block !important; visibility: visible;
					&::before { counter-increment: list-tasks 1; content: counter( list-tasks, decimal-leading-zero ) ". " } } } }
		#contextMenu { display: none } }
