@charset "UTF-8";
/* Geral */
* { padding: 0; margin: 0; }

html { height: 100%; }
html body { height: 100%; overflow-y: hidden; }

html { font-size: 62.5%; }

body { font-family: "Bitstream Charter", "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif; font-size-adjust: 0.459; font-size: 1.6rem; line-height: 1.15; background: linear-gradient(45deg, rgba(230, 180, 0, 0.7), rgba(230, 180, 0, 0.7)), url("../../../multimedia/images/background/task-list-bg.jpg") top center/cover; background-blend-mode: color-burn; }
@supports not (font-size-adjust: 0.459) { body { font-family: "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif; } }
@supports not (background-blend-mode: color-burn) { body { background-image: url("../../../multimedia/images/background/task-list-bg.jpg"); } }

::-moz-selection { background-color: #d57b7b; }

::selection { background-color: #d57b7b; }

/* Recipiente da Lista de Tarefas */
#listContainer { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

/* Lista de Tarefas – Geral */
#taskList { table-layout: fixed; width: 100%; max-width: 80rem; border: none; border-spacing: 0; word-break: break-word; caret-color: #c80000; }

/* Lista de Tarefas – Cabeçalho */
#taskList caption { font-family: "Caladea", "Cambria", serif; font-size: 2rem; font-size-adjust: initial; word-spacing: .4rem; text-align: left; padding: 1rem; background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #730000), color-stop(#dc2828), color-stop(150%, #730000)); background: linear-gradient(90deg, #730000 -50%, #dc2828, #730000 150%); cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: relative; }
#taskList caption img { float: right; cursor: pointer; display: none; }
#taskList caption img:focus { outline: none; -webkit-filter: invert(100%); filter: invert(100%); }
#taskList caption #inputDisplayer { float: right; width: 2.3rem; height: 2.3rem; position: relative; cursor: pointer; }
#taskList caption #inputDisplayer::before, #taskList caption #inputDisplayer::after { content: ""; display: inline-block; width: 100%; height: .3rem; background-color: black; border-radius: .1rem; position: absolute; top: 1rem; }
#taskList caption #inputDisplayer::after { -webkit-transform: rotate(90deg); transform: rotate(90deg); -webkit-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out; }
#taskList caption #inputDisplayer.plus::after { opacity: 1; }
#taskList caption #inputDisplayer.minus::after { opacity: 0; }
#taskList caption #inputDisplayer:focus { outline: none; }
#taskList caption #inputDisplayer:focus::before, #taskList caption #inputDisplayer:focus::after { background-color: white; }

#taskList thead { visibility: collapse; }
#taskList thead input[name="entryInput"] { color: white; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: .8rem 1rem; border: none; background-color: #646464; -webkit-transition: background-color 1s ease-out; transition: background-color 1s ease-out; cursor: pointer; }
#taskList thead input[name="entryInput"]:hover { background-color: #323232; }
#taskList thead input[name="entryInput"]::-webkit-input-placeholder { color: white; -webkit-transition: opacity 1s ease-out; transition: opacity 1s ease-out; }
#taskList thead input[name="entryInput"]:-ms-input-placeholder { color: white; -webkit-transition: opacity 1s ease-out; transition: opacity 1s ease-out; }
#taskList thead input[name="entryInput"]::-ms-input-placeholder { color: white; -webkit-transition: opacity 1s ease-out; transition: opacity 1s ease-out; }
#taskList thead input[name="entryInput"]::placeholder { color: white; -webkit-transition: opacity 1s ease-out; transition: opacity 1s ease-out; }
#taskList thead input[name="entryInput"]:focus { border: solid 0.2rem #730000; border-top: none; outline: none; cursor: text; }
#taskList thead input[name="entryInput"]:focus::-webkit-input-placeholder { opacity: 0; }
#taskList thead input[name="entryInput"]:focus:-ms-input-placeholder { opacity: 0; }
#taskList thead input[name="entryInput"]:focus::-ms-input-placeholder { opacity: 0; }
#taskList thead input[name="entryInput"]:focus::placeholder { opacity: 0; }

/* Lista de Tarefas – Corpo */
#taskList tbody { display: block; max-height: 70vh; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; overflow: auto; overflow-wrap: break-word; }
#taskList tbody tr { display: block; }
#taskList tbody tr:nth-child(odd) { background: white; }
#taskList tbody tr:nth-child(even) { background: #c8c8c8; }
#taskList tbody tr:hover { background-color: #fbf3d2; }
#taskList tbody tr:focus-within { background-color: #ffeb9b; outline: solid 0.2rem #c80000; }
#taskList tbody td { display: block; color: black; font-size: 1.4rem; }
#taskList tbody td label { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; width: 100%; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#taskList tbody td label > span { display: inline-block; vertical-align: middle; }
#taskList tbody td label > span:first-of-type { width: 1.1rem; height: 1.1rem; border: solid .1rem transparent; border-radius: .2rem; background-color: black; margin-left: 1%; cursor: pointer; }
#taskList tbody td label > span:first-of-type:not([class*="imp"]) { background-color: transparent; border-color: #505050; }
#taskList tbody td label > span:first-of-type.imp1 { background-image: -webkit-gradient(linear, left bottom, left top, from(#49ba7b), color-stop(40%, #6ec896), color-stop(60%, #6ec896), to(#49ba7b)); background-image: linear-gradient(0deg, #49ba7b 0%, #6ec896 40%, #6ec896 60%, #49ba7b 100%); }
#taskList tbody td label > span:first-of-type.imp2 { background-image: -webkit-gradient(linear, left bottom, left top, from(#497bba), color-stop(40%, #6e96c8), color-stop(60%, #6e96c8), to(#497bba)); background-image: linear-gradient(0deg, #497bba 0%, #6e96c8 40%, #6e96c8 60%, #497bba 100%); }
#taskList tbody td label > span:first-of-type.imp3 { background-image: -webkit-gradient(linear, left bottom, left top, from(#a67230), color-stop(40%, #c88c41), color-stop(60%, #c88c41), to(#a67230)); background-image: linear-gradient(0deg, #a67230 0%, #c88c41 40%, #c88c41 60%, #a67230 100%); }
#taskList tbody td label > span:first-of-type.imp4 { background-image: -webkit-gradient(linear, left bottom, left top, from(#842f2f), color-stop(40%, #aa3c3c), color-stop(60%, #aa3c3c), to(#842f2f)); background-image: linear-gradient(0deg, #842f2f 0%, #aa3c3c 40%, #aa3c3c 60%, #842f2f 100%); }
#taskList tbody td label > span:last-of-type { white-space: pre-wrap; max-width: 94%; margin: 1%; margin-right: 0; cursor: copy; }
#taskList tbody td label > span:last-of-type.finished { text-decoration: line-through; }
#taskList tbody td label > span:last-of-type:focus { color: #8e0707; outline: none; cursor: text; }
@media (max-width: 26.8em) { #taskList tbody td label > span:last-of-type { max-width: 92%; margin: 1.5%; margin-right: 0; } }
#taskList tbody td label input[name="taskItem"]:checked + span:not([class*="imp"]) { background-color: #8c8c8c; }
#taskList tbody td label input[name="taskItem"]:checked + span.imp1 { background-image: -webkit-gradient(linear, left bottom, left top, from(#00e05f), color-stop(40%, #14ff78), color-stop(60%, #14ff78), to(#00e05f)); background-image: linear-gradient(0deg, #00e05f 0%, #14ff78 40%, #14ff78 60%, #00e05f 100%); -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(20, 255, 120, 0.6), 0 0 0.6rem 0.2rem rgba(20, 255, 120, 0.4), 0 0 0.9rem 0.3rem rgba(20, 255, 120, 0.2); box-shadow: 0 0 0.3rem 0.1rem rgba(20, 255, 120, 0.6), 0 0 0.6rem 0.2rem rgba(20, 255, 120, 0.4), 0 0 0.9rem 0.3rem rgba(20, 255, 120, 0.2); }
#taskList tbody td label input[name="taskItem"]:checked + span.imp2 { background-image: -webkit-gradient(linear, left bottom, left top, from(#0077e0), color-stop(40%, #1491ff), color-stop(60%, #1491ff), to(#0077e0)); background-image: linear-gradient(0deg, #0077e0 0%, #1491ff 40%, #1491ff 60%, #0077e0 100%); -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(20, 145, 255, 0.6), 0 0 0.6rem 0.2rem rgba(20, 145, 255, 0.4), 0 0 0.9rem 0.3rem rgba(20, 145, 255, 0.2); box-shadow: 0 0 0.3rem 0.1rem rgba(20, 145, 255, 0.6), 0 0 0.6rem 0.2rem rgba(20, 145, 255, 0.4), 0 0 0.9rem 0.3rem rgba(20, 145, 255, 0.2); }
#taskList tbody td label input[name="taskItem"]:checked + span.imp3 { background-image: -webkit-gradient(linear, left bottom, left top, from(#ff930e), color-stop(40%, #ffaa41), color-stop(60%, #ffaa41), to(#ff930e)); background-image: linear-gradient(0deg, #ff930e 0%, #ffaa41 40%, #ffaa41 60%, #ff930e 100%); -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(255, 170, 65, 0.6), 0 0 0.6rem 0.2rem rgba(255, 170, 65, 0.4), 0 0 0.9rem 0.3rem rgba(255, 170, 65, 0.2); box-shadow: 0 0 0.3rem 0.1rem rgba(255, 170, 65, 0.6), 0 0 0.6rem 0.2rem rgba(255, 170, 65, 0.4), 0 0 0.9rem 0.3rem rgba(255, 170, 65, 0.2); }
#taskList tbody td label input[name="taskItem"]:checked + span.imp4 { background-image: -webkit-gradient(linear, left bottom, left top, from(#ff1d1d), color-stop(40%, #ff5050), color-stop(60%, #ff5050), to(#ff1d1d)); background-image: linear-gradient(0deg, #ff1d1d 0%, #ff5050 40%, #ff5050 60%, #ff1d1d 100%); -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(255, 80, 80, 0.6), 0 0 0.6rem 0.2rem rgba(255, 80, 80, 0.4), 0 0 0.9rem 0.3rem rgba(255, 80, 80, 0.2); box-shadow: 0 0 0.3rem 0.1rem rgba(255, 80, 80, 0.6), 0 0 0.6rem 0.2rem rgba(255, 80, 80, 0.4), 0 0 0.9rem 0.3rem rgba(255, 80, 80, 0.2); }
#taskList tbody tr:nth-child(odd) span.finished { color: #c8c8c8; }
#taskList tbody tr:nth-child(even) span.finished { color: white; }
#taskList tbody tr:hover span.finished { color: initial; }

/* Lista de Tarefas – Rodapé */
#taskList tfoot { color: white; font-family: "Caladea", "Cambria", serif; font-size-adjust: initial; display: block; background: black; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#taskList tfoot * { display: inherit; }
#taskList tfoot tr:first-child { -webkit-columns: 4rem 9; columns: 4rem 9; -webkit-column-gap: .2rem; column-gap: .2rem; -webkit-column-rule: solid medium white; column-rule: solid medium white; border-bottom: solid medium white; }
#taskList tfoot tr:first-child td { width: 100%; height: 3.5rem; padding: .8rem 0; -webkit-column-break-inside: avoid; break-inside: avoid; cursor: pointer; }
#taskList tfoot tr:first-child td:hover, #taskList tfoot tr:first-child td:focus { background-color: #dc2828; }
#taskList tfoot tr:first-child td:focus { outline: none; }
#taskList tfoot tr:first-child td img { display: inline-block; width: 100%; height: 100%; }
#taskList tfoot tr:last-child { text-align: center; padding: .8rem; cursor: default; }
#taskList tfoot tr:last-child samp { display: inline; font-family: inherit; }
@media (max-width: 49.95em) { #taskList tfoot tr:first-child { -webkit-column-count: 8; column-count: 8; }
  #taskList tfoot tr:first-child :nth-child(2) { display: none; } }
@media (max-width: 33.7em) { #taskList tfoot tr:first-child { -webkit-column-count: 4; column-count: 4; }
  #taskList tfoot tr:first-child :nth-child(2n+3) { border-top: solid medium white; } }
@media (max-width: 33.7em), (max-height: 34.95em) { #taskList tfoot tr:last-child { display: none; } }

/* Menu de Contexto */
#contextMenu { color: #1e1e1e; font-family: "Liberation Sans", "FreeSans", "Nimbus Sans L", "Arial", "Helvetica", sans-serif; font-size: 1.2rem; font-size-adjust: initial; border: solid 0.1rem #282828; -webkit-box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5); box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5); position: absolute; cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#contextMenu ul { list-style: none; background-color: #fafafa; }
#contextMenu ul li { padding: 0.5rem 1.2rem; }
#contextMenu ul li:not(:last-child) { border-bottom: solid 0.1rem #a0a0a0; }
#contextMenu ul li:hover { color: white; background: #787878; }
#contextMenu ul li:hover > samp { color: inherit; }
#contextMenu ul li > samp { color: #787878; float: right; font: bold 1rem "Liberation Mono", "Consolas", "Monaco", monospace; }
#contextMenu ul li kbd { font-family: inherit; }
#contextMenu > ul { width: 20rem; padding: .4rem 0; }
#contextMenu > ul > li > section { position: relative; }
#contextMenu > ul > li > section::after { content: url("../../../multimedia/images/icon/menu-arrow.png"); position: absolute; right: 0; top: 0; }
#contextMenu > ul > li > section > :first-child { font-size: inherit; font-weight: normal; }
#contextMenu > ul > li > section > ul { display: none; width: 30rem; position: absolute; left: calc( 20rem - 1.2rem ); top: -0.5rem; }
#contextMenu > ul > li > section > ul > li:not(:hover) { color: #1e1e1e; }

/* Versão para Impressão */
@media print { #taskList { position: fixed; top: 0; counter-reset: list-tasks 0; }
  #taskList thead, #taskList tfoot, #taskList img { display: none; }
  #taskList caption { text-align: center; }
  #taskList tbody { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; visibility: hidden; }
  #taskList tbody tr, #taskList tbody td { display: contents; }
  #taskList tbody span { display: none !important; }
  #taskList tbody input:checked ~ span:last-of-type { display: block !important; visibility: visible; }
  #taskList tbody input:checked ~ span:last-of-type::before { counter-increment: list-tasks 1; content: counter(list-tasks,decimal-leading-zero) ". "; }
  #contextMenu { display: none; } }
/*# sourceMappingURL=lista-de-tarefas.css.map */