// Variáveis

	// Fontes
		// Bases
		@include embassy-bt;

		// Seleção
		$f-serif-1: "Bitstream Charter", "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif;
    $f-serif-2: "Caladea", "Cambria", serif;
		$f-mono-1: "Liberation Mono", "Consolas", "Monaco", monospace;
		$f-decorative-1: "Embassy BT", $f-serif-2;

	// Cores

		// Bases
		$hue-var: 15;
			$C-1: (); $C-2: ();
			@for $i from 0 through 9
				{ $C-1: append( $C-1, 270 - ( $hue-var - $i * 3 ), space );
				 	$C-2: append( $C-2, 300 - ( $hue-var - $i * 3 ), space ) };

		// Seleção
		$c-0: ( hsl( 0, 0%, 96% ) );
		$c-1: ( hsl( nth( $C-1, 7 ), 60%, 33% ), hsl( nth( $C-1, 4 ), 45%, 65% ),
						hsl( nth( $C-1, 6 ), 10%, 85% ), hsl( nth( $C-1, 1 ), 20%, 60% ),
						hsl( nth( $C-1, 4 ), 60%, 70% ), hsl( nth( $C-1, 1 ), 8%, 50% ),
            hsl( nth( $C-1, 9 ), 30%, 75% ) );
		$c-2: ( hsl( nth( $C-2, 8), 50%, 40% ) );

		// Componentes
		$c-anchor: ( link: nth( $c-1, 5 ), hover: darken( nth( $c-1, 5 ), 10% ), active: darken( nth( $c-1, 5 ), 20% ), visited: darken( nth( $c-1, 5 ), 30% ) );

	// Medidas

		// Geral
		$b-size: ( small: .1rem, medium: .2rem );
		$m-size: ( small: 1rem, medium: 1.6rem, large: 4rem, x-large: 5.6rem );

		// Componentes
		$h-fixed-header: 16.5rem;
			$h-fixed-menu: ( whole: 4.2rem, list: 4rem );
		$h-frame-container: 60.6rem;

// Misturas
  @mixin set-main-font() // Definir Fonte Principal
    { font: { family: $f-serif-1; size-adjust: .459 }
      @supports not( font-size-adjust: .459 )
        { font-family: o-remove( $f-serif-1, "Bitstream Charter" ) } }

	@mixin banner-color-whole( $color1: nth( $c-1, 1 ), $color2: nth( $c-1, 2 ) ) // Cor de Fundo do Banner Fixo
		{ background-image: linear-gradient( -90deg, $color1 20%, $color2 75%, transparent 75.1% ) }

	@mixin banner-color-hgroup( $color1: white, $color2: nth( $c-1, 2 ), $color3: nth( $c-1, 1 ) ) // Cor de Fundo e Forma do Título Apresentativo no Banner
		{ background-image: linear-gradient( 180deg, $color1 0%, $color1 65%, transparent 65.1% ),
		 										linear-gradient( 90deg, $color2, $color3 );
			clip-path: polygon( 0 0, 85% 0, 100% 100%, 0 100% ) }

/* Animações */
@include move-right( 2rem, $overrun: true, $opacity: true ); @include move-bottom( 1rem, $opacity: true );
@include fade-in-out( $middle: .9 );

/* Classes Locais */
	/* Textos Sombreados, com Gradientes e Interativos */
	.text-shadow { @include text-shadow( $color: hsl( 0, 0%, 0% ) ) }
	.text-movement { @include text-shadow( $color: nth( $c-1, 1 ), $hover: true ); @include raise-object( $transition: true ) }
	.text-gradient { @include text-gradient( $color1: nth( $c-1, 2 ), $color2: nth( $c-1, 1 ) );
									 @supports not ( -webkit-background-clip: text ) { color: nth( $c-1, 1 ); background-image: none } }
