@charset "UTF-8";
/* Predefinições Globais */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p { text-indent: 1.2em; text-align: justify; }
p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }
dd::after { content: "\0A"; white-space: pre; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

@font-face { font-family: "Embassy BT"; src: local("Embassy BT"), local("Embassy BT Regular"), local("EmbassyBT-Regular"), url("../../multimedia/fonts/embassy-bt/embassy-bt-regular.woff2"), url("../../multimedia/fonts/embassy-bt/embassy-bt-regular.ttf"); font-weight: normal; font-style: normal; }
/* Animações */
@-webkit-keyframes move-right { 0% { right: 2rem; opacity: 0; }
  80% { right: -0.5rem; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: 2rem; opacity: 0; }
  80% { right: -0.5rem; }
  100% { right: 0; opacity: 1; } }
@-webkit-keyframes move-bottom { 0% { bottom: 1rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@keyframes move-bottom { 0% { bottom: 1rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@-webkit-keyframes fade-in-out { 0% { opacity: 0; }
  10% { opacity: 0.9; }
  90% { opacity: 0.9; }
  100% { opacity: 0; } }
@keyframes fade-in-out { 0% { opacity: 0; }
  10% { opacity: 0.9; }
  90% { opacity: 0.9; }
  100% { opacity: 0; } }
/* Classes Locais */
/* Textos Sombreados, com Gradientes e Interativos */
.text-shadow { text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.15); }

.text-movement { text-shadow: 1px 1px 3px rgba(89, 34, 135, 0.3), 3px 3px 5px rgba(89, 34, 135, 0.15); }
.text-movement:hover { text-shadow: 2px 2px 4px rgba(89, 34, 135, 0.3), 4px 4px 6px rgba(89, 34, 135, 0.15); }
.text-movement { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.text-movement:hover { -webkit-transform: translate(0, -2px) scale(1.05) skewX(-2deg); transform: translate(0, -2px) scale(1.05) skewX(-2deg); }

.text-gradient { color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#9e7ece), to(#592287)); background-image: linear-gradient(90deg, #9e7ece, #592287); -webkit-background-clip: text; background-clip: text; }
@supports not (-webkit-background-clip: text) { .text-gradient { color: #592287; background-image: none; } }

/* Predefinições Locais */
html { height: 100%; }
html body { height: 100%; overflow-y: hidden; }

body { font-family: "Bitstream Charter", "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif; font-size-adjust: 0.459; line-height: 1.2; }
@supports not (font-size-adjust: 0.459) { body { font-family: "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif; } }

::-moz-selection { background-color: #c5acd2; }

::selection { background-color: #c5acd2; }

/* Cabeçalho Fixo */
/* Banner de Apresentação */
#intro-banner { background-image: -webkit-gradient(linear, right top, left top, color-stop(20%, #592287), color-stop(75%, #9e7ece), color-stop(75.1%, transparent)); background-image: linear-gradient(-90deg, #592287 20%, #9e7ece 75%, transparent 75.1%); border-bottom: solid 0.1rem black; }
#intro-banner::after { content: ""; display: table; clear: both; }
#intro-banner hgroup { float: left; width: 60%; max-width: 50rem; text-align: center; padding: .4rem 0; overflow-x: hidden; background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(65%, white), color-stop(65.1%, transparent)), -webkit-gradient(linear, left top, right top, from(#9e7ece), to(#592287)); background-image: linear-gradient(180deg, white 0%, white 65%, transparent 65.1%), linear-gradient(90deg, #9e7ece, #592287); -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%); clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%); }
#intro-banner hgroup h1 { font: italic 3.4rem "Caladea", "Cambria", serif; letter-spacing: .4rem; word-spacing: .7rem; margin-bottom: .7rem; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#intro-banner hgroup h1 span { display: inline-block; -webkit-animation: move-right 1.4s ease-in-out forwards; animation: move-right 1.4s ease-in-out forwards; position: relative; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#intro-banner hgroup h1 span::first-letter { font: 4.4rem/1.1 "Embassy BT", "Caladea", "Cambria", serif; margin-right: 0.4rem; }
#intro-banner hgroup h2 { color: white; font-size: 1.6rem; letter-spacing: .1rem; position: relative; -webkit-animation: move-bottom 0.6s ease-out 1.4s both; animation: move-bottom 0.6s ease-out 1.4s both; }
#intro-banner address { float: right; color: white; padding: .5rem 3% 1.7rem 2rem; border-left: solid 0.1rem black; background-color: #3e175e; }
#intro-banner address span { display: block; font-size: 2.5rem; letter-spacing: .3rem; margin-bottom: 1.5rem; cursor: default; }
#intro-banner address dl { font-size: 1.3rem; }
#intro-banner address dl dd { -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all; cursor: copy; }

/* Barra de Mensagem & Pesquisa */
#intro-banner + div { display: table; width: 100%; min-height: 4rem; text-align: center; }
#intro-banner + div #displayer-text { display: table-cell; vertical-align: middle; }
#intro-banner + div #displayer-image { display: table-cell; vertical-align: middle; min-width: 4rem; width: 4rem; cursor: pointer; }
#intro-banner + div #displayer-image img { width: 2rem; height: auto; }
#intro-banner + div#content-displayer #displayer-text { padding: 1rem 0; background-color: #f0e7db; }
#intro-banner + div#content-displayer #displayer-text samp { font: 1.4rem/1.5 "Caladea", "Cambria", serif; cursor: default; }
#intro-banner + div#content-displayer #displayer-text input { display: none; }
#intro-banner + div#content-displayer #displayer-image { background-color: #d9d5dd; }
#intro-banner + div#search-displayer #displayer-text { padding: 1rem 0; background-color: whitesmoke; caret-color: #9e7ece; }
#intro-banner + div#search-displayer #displayer-text samp { display: none; }
#intro-banner + div#search-displayer #displayer-text input { font-size: 1.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; width: 100%; padding: 0 1.8rem; background-color: unset; }
#intro-banner + div#search-displayer #displayer-text input::-webkit-input-placeholder { color: #4d4d4d; -webkit-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out; }
#intro-banner + div#search-displayer #displayer-text input:-ms-input-placeholder { color: #4d4d4d; -webkit-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out; }
#intro-banner + div#search-displayer #displayer-text input::-ms-input-placeholder { color: #4d4d4d; -webkit-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out; }
#intro-banner + div#search-displayer #displayer-text input::placeholder { color: #4d4d4d; -webkit-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out; }
#intro-banner + div#search-displayer #displayer-text input:focus { outline: none; }
#intro-banner + div#search-displayer #displayer-text input:focus::-webkit-input-placeholder { opacity: 0; }
#intro-banner + div#search-displayer #displayer-text input:focus:-ms-input-placeholder { opacity: 0; }
#intro-banner + div#search-displayer #displayer-text input:focus::-ms-input-placeholder { opacity: 0; }
#intro-banner + div#search-displayer #displayer-text input:focus::placeholder { opacity: 0; }
#intro-banner + div#search-displayer #displayer-image { background-color: #d9cfe2; }

/* Barra de Navegação */
#fixed-nav { font-size: 1.4rem; border: solid 0.2rem black; background-color: #787878; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#fixed-nav ul { text-align: center; }
#fixed-nav > ul::after { content: ""; display: table; clear: both; }
#fixed-nav > ul > li { float: left; -webkit-box-sizing: border-box; box-sizing: border-box; width: calc( ( 1 * ( 100% - ( 0rem * ( 2 - 1 ) ) )/2 ) + ( 0rem * ( 1 - 1 ) ) ); position: relative; z-index: 1; }
#fixed-nav > ul > li:not(:last-child) { border-right: solid 0.2rem black; }
#fixed-nav > ul > li a { display: inline-block; font-weight: bold; text-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 255, 255, 0.6); width: 100%; padding: 1.1rem 0; background-color: #8f85ad; cursor: pointer; -webkit-transition: background-color .5s ease-out; transition: background-color .5s ease-out; }
#fixed-nav > ul > li a:hover, #fixed-nav > ul > li a:focus { background-color: #a394d1; outline: none; }
#fixed-nav > ul > li a:active { background-color: #9482c9; }
#fixed-nav > ul > li > ul { width: 100%; height: 0; overflow: hidden; position: absolute; top: calc( 4.2rem - 0.2rem ); left: 0; -webkit-transition: height 1s ease; transition: height 1s ease; }
#fixed-nav > ul > li > ul li { border-bottom: solid 0.1rem black; }
#fixed-nav > ul > li:hover > ul { height: calc( 4rem * 5 ); }

/* Tela de Frames */
#frame-container { -webkit-box-sizing: border-box; box-sizing: border-box; height: calc( 100% - 16.5rem ); background-color: black; position: relative; z-index: 0; }
#frame-container [name="content-screen"] { -webkit-box-sizing: inherit; box-sizing: inherit; width: 100%; height: 100%; }
#frame-container .info-box { display: none; font-size: 1.2rem; color: white; text-align: center; min-width: 28rem; width: 20%; max-width: 35rem; padding: .4rem .6rem; background-color: #8f85ad; border-radius: .2rem; position: absolute; left: 50%; top: .4rem; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-animation: fade-in-out 6s both infinite linear paused; animation: fade-in-out 6s both infinite linear paused; cursor: default; }
#frame-container .info-box samp { font-family: inherit; }

/* Inquéritos de Mídia */
/* Banner de Apresentação – Largura Baixa */
@media (max-width: 56.2em) { #intro-banner { position: relative; }
  #intro-banner hgroup { text-align: left; width: 94%; max-width: unset; padding-left: 6%; -webkit-clip-path: unset; clip-path: unset; }
  #intro-banner address { text-align: center; border: none; background-color: transparent; position: absolute; right: 0; top: 0; }
  #intro-banner address span { color: #592287; font-size: 3.5rem; margin-bottom: 1.3rem; }
  @supports (-webkit-background-clip: text) { #intro-banner address span { color: transparent; background-image: -webkit-gradient(linear, left bottom, left top, from(#592287), to(#9e7ece)); background-image: linear-gradient(0deg, #592287, #9e7ece); -webkit-background-clip: text; background-clip: text; } }
  #intro-banner address dl { font-size: 1.4rem; }
  #intro-banner address dl dt { display: none; } }
@media (max-width: 38.7em) { #intro-banner hgroup { text-align: center; width: 100%; padding: 0; }
  #intro-banner address { display: none; } }
/* Barra de Mensagem & Pesquisa – Largura ou Altura Baixa */
@media (max-width: 38.7em), (max-height: 24.95em) { #intro-banner { border: none; }
  #intro-banner + div { display: none; } }
@media (max-height: 24.95em) and (min-width: 38.75em) { #frame-container { height: calc( 100% - 12.4rem ); } }
@media (max-width: 38.7em) { #intro-banner hgroup h2 { margin-bottom: 0.3rem; }
  #frame-container { height: calc( 100% - 11.9rem ); } }

/*# sourceMappingURL=home.css.map */