@import "../global/preset", "../global/mixins", "../global/functions", "../global/animations", "../global/typography", "home-var";

/* Predefinições Locais */
@include enclosed-viewport;
body { @include set-main-font; line-height: 1.2 }
::selection { background-color: nth( $c-1, 7 ) }

/* Cabeçalho Fixo */
#fixed-header {}

	/* Banner de Apresentação */
	#intro-banner { @include banner-color-whole; @include clearfix; border-bottom: solid map-get( $b-size, small ) black;
		& hgroup { float: left; width: 60%; max-width: 50rem; text-align: center; padding: .4rem 0; overflow-x: hidden; @include banner-color-hgroup;
		 	h1 { font: italic 3.4rem $f-serif-2; letter-spacing: .4rem; word-spacing: .7rem; margin-bottom: .7rem; user-select: none;
				& span { display: inline-block; animation: move-right 1.4s ease-in-out forwards; position: relative; backface-visibility: hidden;
				 	&::first-letter { font: 4.4rem/1.1 $f-decorative-1; margin-right: .4rem } } }
		 	h2 { color: white; font-size: 1.6rem; letter-spacing: .1rem; position: relative; animation: move-bottom .6s ease-out 1.4s both } }
		& address { float: right; color: white; padding: .5rem 3% 1.7rem 2rem; border-left: solid map-get( $b-size, small ) black; background-color: darken( nth( $c-1, 1 ), 10% );
		 	& span { display: block; font-size: 2.5rem; letter-spacing: .3rem; margin-bottom: 1.5rem; cursor: default }
			& dl { font-size: 1.3rem;
				& dd { user-select: all; cursor: copy } } } }

	/* Barra de Mensagem & Pesquisa */
	#intro-banner + div { display: table; width: 100%; min-height: 4rem; text-align: center;
		& #displayer-text { display: table-cell; vertical-align: middle }
		& #displayer-image { display: table-cell; vertical-align: middle; min-width: 4rem; width: 4rem; cursor: pointer;
			& img { width: 2rem; height: auto } }
		&#content-displayer {
			& #displayer-text { padding: 1rem 0; background-color: hsl( 35, 40%, 90% );
				& samp { font: 1.4rem/1.5 $f-serif-2; cursor: default }
				& input { display: none } }
			& #displayer-image { background-color: nth( $c-1, 3 ) } }
		&#search-displayer {
			& #displayer-text { padding: 1rem 0; background-color: nth( $c-0, 1 ); caret-color: nth( $c-1, 2 );
				& samp { display: none }
				& input { font-size: 1.5rem; box-sizing: border-box; height: 100%; width: 100%; padding: 0 1.8rem; background-color: unset;
					&::placeholder { color: hsl( 0, 0, 30% ); transition: opacity .3s ease-out }
				 	&:focus { outline: none;
						&::placeholder { opacity: 0 } } } }
			& #displayer-image { background-color: saturate( nth( $c-1, 3 ), 15% ) } } }

	/* Barra de Navegação */
	#fixed-nav { font-size: 1.4rem; border: solid map-get( $b-size, medium ) black; background-color: hsl( 0, 0%, 47% ); user-select: none;
		& ul { text-align: center }
		& > ul { @include clearfix;
			& > li { float: left; box-sizing: border-box; @include col-calc( 0rem, 2 ); position: relative; z-index: 1;
				&:not( :last-child ) { border-right: solid map-get( $b-size, medium ) black }
				& a { display: inline-block; font-weight: bold; text-shadow: .1rem .1rem .3rem hsla( 0, 0%, 100%, .6 ); width: 100%; padding: 1.1rem 0; background-color: nth( $c-1, 4 ); cursor: pointer; transition: background-color .5s ease-out;
				 	&:hover, &:focus { background-color: adjust-color( nth( $c-1, 4 ), $saturation: 20%, $lightness: 10% ); outline: none }
				 	&:active { background-color: adjust-color( nth( $c-1, 4 ), $saturation: 20%, $lightness: 5% ) } }
				& > ul { width: 100%; height: 0; overflow: hidden; position: absolute; top: calc( #{ map-get( $h-fixed-menu, whole ) } - #{ map-get( $b-size, medium ) } ); left: 0; transition: height 1s ease;
				 	& li { border-bottom: solid map-get( $b-size, small ) black } }
				&:hover > ul { height: calc( #{ map-get( $h-fixed-menu, list ) } * 5 ) } } } }

/* Tela de Frames */
#frame-container { box-sizing: border-box; height: calc( 100% - #{ $h-fixed-header } ); background-color: black; position: relative; z-index: 0;
	& [ name="content-screen" ] { box-sizing: inherit; width: 100%; height: 100% }
 	& .info-box { display: none; font-size: 1.2rem; color: white; text-align: center; min-width: 28rem; width: 20%; max-width: 35rem; padding: .4rem .6rem; background-color: nth( $c-1, 4 ); border-radius: .2rem; position: absolute; left: 50%; top: .4rem; transform: translateX( -50% ); animation: fade-in-out 6s both infinite linear paused; cursor: default;
		& samp { font-family: inherit } } }

/* Inquéritos de Mídia */

	/* Banner de Apresentação – Largura Baixa */
	@media ( max-width: 56.2em /* 899px */ )
		{ #intro-banner { position: relative;
				& hgroup { text-align: left; width: 94%; max-width: unset; padding-left: 6%; clip-path: unset }
				& address { text-align: center; border: none; background-color: transparent; position: absolute; right: 0; top: 0;
					& span { color: nth( $c-1, 1 ); font-size: 3.5rem; margin-bottom: 1.3rem;
						@supports( -webkit-background-clip: text ) { @include text-gradient( $color1: nth( $c-1, 1 ), $color2: nth( $c-1, 2 ), $deg: 0deg ) } }
					& dl { font-size: 1.4rem;
						& dt { display: none } } } } }
	@media ( max-width: 38.7em /* 619px */ )
		{ #intro-banner {
				& hgroup { text-align: center; width: 100%; padding: 0 }
				& address { display: none } } }

	/* Barra de Mensagem & Pesquisa – Largura ou Altura Baixa */
	@media ( max-width: 38.7em /* 619px */ ), ( max-height: 24.95em /* 399px */ )
		{ #intro-banner { border: none }
			#intro-banner + div { display: none } }
	@media ( max-height: 24.95em /* 399px */ ) and ( min-width: 38.75em /* 620px */ )
		{ #frame-container { height: calc( 100% - 12.4rem ) } }
	@media ( max-width: 38.7em /* 619px */ )
		{ #intro-banner hgroup h2 { margin-bottom: .3rem }
			#frame-container { height: calc( 100% - 11.9rem ) } }
