@import "../global/no-js";

/* Configurações Gerais */
#fixed-header a, #frame-container [ name="content-screen" ] { visibility: hidden }

/* Aviso sobre Necessidade de Ativar o JavaScript */
div#no-js-bg {
	& div { color: white; text-align: center; position: absolute; top: 50%; left: 50%; transform: translateX( -50% ); cursor: default;
		& p:first-child { font-size: 3.2rem; font-weight: 900; letter-spacing: .2rem; margin-bottom: 2rem }
		&	p:last-child { font-size: 1.6rem; font-weight: 700 } } }
