@charset "UTF-8";
/* Predefinições Globais */
*, *::before, *::after { -webkit-animation: none !important; animation: none !important; -webkit-transition: none !important; transition: none !important; }

body > *:not(noscript) { -webkit-filter: brightness(60%) grayscale(50%) !important; filter: brightness(60%) grayscale(50%) !important; }

noscript #no-js-bg { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; }

/* Configurações Gerais */
#fixed-header a, #frame-container [name="content-screen"] { visibility: hidden; }

/* Aviso sobre Necessidade de Ativar o JavaScript */
div#no-js-bg div { color: white; text-align: center; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); cursor: default; }
div#no-js-bg div p:first-child { font-size: 3.2rem; font-weight: 900; letter-spacing: .2rem; margin-bottom: 2rem; }
div#no-js-bg div p:last-child { font-size: 1.6rem; font-weight: 700; }
/*# sourceMappingURL=nojs-home.css.map */