// Fontes
@include gotham-rnd; @include museo-sans; @include montserrat; @include proxima-nova-sc;

$f-sans-1: "Gotham Rounded", sans-serif; $f-sans-2: "Museo Sans", sans-serif; $f-sans-3: "Montserrat", sans-serif;
$f-display-1: "Proxima Nova Sc", sans-serif;

// Cores
$c-0: ( hsl( 0, 0%, 95% ), hsl( 0, 0%, 88% ), hsl( 0, 0, 93% ), hsl( 0, 0, 98% ),
        hsl( 0, 0%, 91% ), hsl( 0, 0%, 75% ) );
$c-1: ( hsl( 198, 77%, 49% ), hsl( 199, 18%, 40% ), hsl( 200, 18%, 26% ), hsl(200, 15%, 84%),
        hsl( 200, 16%, 62% ), hsl( 198, 63%, 74% ), hsl( 200, 13%, 78% ), hsl( 197, 74%, 64% ),
        hsl( 201, 100%, 42% ), hsl( 200, 19%, 18% ), hsl( 200, 15%, 73% ), hsl(200, 10%, 70%),
        hsl( 208, 57%, 66% ), hsl( 199, 18%, 33% ), hsl( 198, 19%, 86% ), hsl( 199, 71%, 68% ),
        hsl( 199, 21%, 79% ) );
$c-2: ( hsl( 257, 37%, 96% ) );
$c-3: ( hsl( 20, 25%, 95% ) );
$c-4: ( hsl( 179, 33%, 76% ), hsl( 171, 55%, 25% ), hsl( 170, 11%, 89% ),  hsl( 168, 15%, 68% ),
        hsl(186, 30%, 90%), hsl( 180, 10%, 78% ) );
$c-5: ( hsl( 218, 45%, 47% ) );

// Gradientes
$c-lg: ( "linear-gradient( 90deg, hsl( 0, 0%, 99% ), hsl( 0, 0%, 96% ) 44%, hsl( 0, 0%, 89% ) 70%, hsl( 0, 0%, 89% ) 92%, hsl( 0, 0%, 95% ) )",
         "linear-gradient( 90deg, hsl( 198, 77%, 49% ), hsl( 201, 83%, 46% ) )",
         "linear-gradient( 135deg, #{ nth( $c-1, 8 ) }, #{ mix( nth( $c-1, 1 ), nth( $c-1, 8 ), 30% ) } 50%, #{ nth( $c-1, 1 ) } )",
         "linear-gradient( 90deg, hsl( 198, 78%, 83% ), hsl( 193, 36%, 64% ) )",
         "linear-gradient( 270deg, hsl( 179, 33%, 76% ), hsl( 184, 33%, 82% ) 5.6%, hsl( 203, 32%, 92% ) 16.5%, transparent 62.5%, transparent 71.5%, hsl( 187, 34%, 85% ) )",
         "linear-gradient( 135deg, #{ nth( $c-1, 1 ) }, hsl( 198, 73%, 74% ) )",
         "linear-gradient( 315deg, #{ nth( $c-1, 13 ) }, hsl( 198, 73%, 74% ) )",
         "linear-gradient( 180deg, #{ nth( $c-1, 1 ) }, hsl( 198, 73%, 74% ) )" );

// Sombras
$bs: ( "0 .3rem .4rem rgba( 0, 0, 0, 0.15 )", "0 .4rem .6rem rgba( 0, 0, 0, 0.15 )", "0 .5rem .6rem rgba( 0, 0, 0, 0.15 )",
       "0 .1rem 1rem rgba( 127, 127, 127, .15 )", "0 .3rem .4rem rgba( 0, 0, 0, .05 )" );

$ds: ( "drop-shadow( .8rem .8rem 1rem rgba(0, 0, 0, 0.25) )", "drop-shadow( 1rem 1rem 1.2rem rgba( 0, 0, 0, 0.25 ) )",
       "drop-shadow( .3rem .2rem .3rem rgba( 0, 0, 0, .15 ) )", "drop-shadow( .4rem .4rem .5rem rgba( 0, 0, 0, .25 ) )" );

// Máscaras
$cp: ( "polygon( 0% 0%, 100% 0%, 100% 100%, 0% 83% )",
       "polygon( 0% 30%, 3% 35%, 4.5% 38%, 6.2% 41%, 7.8% 43.8%, 13.5% 33.3%, 16.5% 28.5%, 19.5% 24.4%, 22.5% 20.6%, 25.5% 17%, 28.5% 13.9%, 31.5% 11.1%, 34.5% 8.7%, 37.5% 6.5%, 40.5% 4.7%, 43.5% 3.2%, 46.5% 2%, 49.5% 1.1%, 52.5% 0.4%, 55.5% 0.1%, 59.7% 0.1%, 62.5% 0.3%, 65.5% 0.9%, 68.5% 1.8%, 71.5% 2.9%, 74.5% 4.4%, 77.5% 5.9%, 80.5% 8%, 83.5% 10.1%, 86.5% 12.7%, 89.5% 15.4%, 92.5% 18.5%, 95.5% 21.9%, 98.5% 25.5%, 100% 27.5%, 100% 100%, 0% 100% )" );

// Transições & Animações
@include move-right( 4rem, true, 0, true ); @include move-bottom( 7rem, false, 0, true );

$a-dt: ( 1s ease-in-out, .5s ease-in-out, .65s ease-in-out, .8s ease-in-out,
         1s ease-in, 1.2s ease-in-out );

// Outros
$br: ( .3rem );

// Componentes
$default-bg: nth( $c-0, 4 ); $hpad: ( default: 4.5rem, responsive: 1.5rem );
$top-header: ( height: ( default: 13.8rem ) );
