@charset "UTF-8";

/* Geral */
* { padding: 0; margin: 0 }
html { font-size: 62.5%; height: 100% }
	body { font: 1.6rem/1.15 "Liberation Sans", "FreeSans", "Nimbus Sans L", "Arial", "Helvetica", sans-serif; height: 100%; overflow: hidden }
	a, a:link, a:visited, a:hover, a:active { color: inherit; text-decoration: none }
::-moz-selection { background-color: rgb( 240, 180, 80 ) }
::selection { background-color: rgb( 240, 180, 80 ) }

/* Menu Superior – Versão Padrão */
#staticMenu { display: inline-block; box-sizing: border-box; width: 100%; padding: 0 6%; background: rgb( 250, 250, 250 ); -webkit-user-select: none; -moz-user-select: none; user-select: none; clip-path: inset(0 0 .1rem); position: relative; z-index: 1 }
	#staticMenu *:not(a) { display: inline-block }
		#staticMenu h1 { font-size: 1.7rem; font-weight: bold; word-spacing: .5rem; margin-right: 1rem; cursor: pointer }
		#staticMenu ul { list-style: none; font-size: 1.5rem; cursor: pointer }
			#staticMenu ul li { padding: 1.4rem .8rem; margin: 0 .5rem; transition: background-color 1s ease-out }
				#staticMenu ul li:hover, #staticMenu .selected { background-color: rgb( 230, 230, 230 ) }
#staticMenuLeft { float: left }
#staticMenuRight { float: right }
	#loginList li::before { content: ""; display: inline-block; margin-right: .6rem; background-repeat: no-repeat; background-size: contain; background-position: center bottom }
		#loginList li:first-of-type::before { background-image: url("../../../multimedia/images/icon/sign-up.png"); width: 1.5rem; height: 1.5rem }
		#loginList li:last-of-type::before { background-image: url("../../../multimedia/images/icon/login.png"); width: 1.4rem; height: 1.4rem }

/* Menu Superior – Versão para Janelas com Largura Pequena */
@media( max-width: 40.55em /* 649px */ )
	{ #staticMenu { padding: 1rem 4%; clip-path: unset }
			#staticMenu h1 { box-sizing: border-box; height: 2.4rem; padding: .25rem 0 }
			#slidingButton { width: 2.8rem; height: 2.4rem; border: solid .1rem rgb( 200, 200, 200 ); background: url("../../../multimedia/images/icon/menu-button.png") no-repeat center/contain; cursor: pointer; transition: background-color 1s ease-out }
				#slidingButton:hover { background-color: rgb( 240, 240, 240 ) }
		#slidingMenu { display: block; width: 100%; background: rgb( 235, 235, 235 ); position: absolute; left: 0; top: -20rem; z-index: 0 }
			#slidingMenu *:not(a) { display: inherit }
				#slidingMenu ul { list-style: none; font-size: 1.5rem; cursor: pointer }
					#slidingMenu ul li { padding: 1.4rem .8rem; margin: 0; transition: background-color 1s ease-out }
						#slidingMenu ul li:hover, #slidingMenu .selected { background-color: white }
			#loginList { border-bottom: solid .2rem black } }

/* Menu Superior – Versão para Janelas com Largura Pequena – Animação de Deslocamento do Menu */
@keyframes moveMenu
	{ from { transform: translateY( 0 ) }
		to { transform: translateY( 24.5rem ) }	}
#slidingMenu.moved { animation: moveMenu 1.2s ease-out forwards }

/* Corpo da Página */
#pageBody { display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; height: calc( 100% - 4rem ); margin-top: -1rem; background: url("../../../multimedia/images/background/purrfect-match-bg.jpg") no-repeat center 90%/cover; overflow: auto }
	#actionCall { color: white; text-align: center; padding: 1rem }
		#actionCall hgroup { padding: 2rem 0; cursor: default }
			#actionCall hgroup h1 { font-size: 6.5rem; font-weight: normal; text-shadow: 0 .3rem .5rem black; margin-bottom: 1.6rem }
			#actionCall hgroup h2 { font-size: 2.2rem; font-weight: normal; padding-bottom: 1.6rem; border-bottom: solid .1rem white }
		#actionCall button { color: black; text-align: center; font-size: 1.5rem; font-weight: bold; padding: 1rem 3rem; margin-bottom: 1rem; border: none; border-radius: .4rem; background-color: white; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; transition: background-color 1s ease-out}
			#actionCall button:hover { background-color: rgb( 230, 230, 230 ) }
			#actionCall button::before { content: ""; display: inline-block; height: 1.4rem; width: 1.4rem; margin-right: .6rem; background: url("../../../multimedia/images/icon/cat-paw.png") no-repeat center bottom/contain }

/* Corpo da Página – Versão para Janelas com Largura Pequena */
@media( max-width: 40.55em /* 649px */ )
	{ #pageBody { height: calc( 100% - 3rem ) } }
@media( max-width: 27.45em /* 439px */ )
	{ #actionCall hgroup h1 { font-size: calc( 8vw + 3rem ) }
		#actionCall hgroup h2 { font-size: calc( 2.5vw + 1rem ) } }
