#top-header { $alpha-top-header: true !default; padding: 3.9rem 0 4.4rem; box-shadow: unquote( nth( $bs, 4 ) ); position: relative; z-index: 2;
  @if $alpha-top-header { background-color: hsla( 252, 252, 252, .5 ) } @else { background-image: unquote( nth( $c-lg, 1 ) ) }
  & .content-container { @include set-main-grid; padding: 0 map-get( $hpad, default ); @include row-flex( $side: flex-end );
    & .logo {
      @media ( max-width: 37.45em /* 599px */ ) { width: 16rem } }
    & .menu-container { @include row-flex( $main: flex-start, $side: stretch );
      & .nav-container { @include column-flex( $side: flex-end ); margin-right: 8rem; outline: none;
        & .pages-list { font: { family: $f-sans-2; weight: 300 }; color: nth( $c-1, 2 ); overflow: hidden;
          & li { display: inline-block;
            & a { display: inline-block; @include color-change( nth( $c-1, 1 ), nth( $c-1, 2 ), nth( $a-dt, 3 ) ); outline: none;
              @media ( max-width: 31.2em /* 499px */ ) { @include color-change( saturate( nth( $c-4, 5 ), 40% ), nth( $c-4, 5 ), nth( $a-dt, 3 ) ) } }
            &:not( :last-child ) { $rmar: 4.8rem; margin-right: $rmar;
              &::after { content: "/"; color: nth( $c-1, 4 ); position: relative; right: -$rmar/2 } }
            @media ( max-width: 49.95em /* 799px */ ) {
              &:not( :last-child ) { margin-right: 2.4rem;
                &::after { content: "" } } }
            @media ( max-width: 31.2em /* 499px */ ) { display: block; cursor: default;
              &:nth-child( n ) { margin-right: 0; padding: .8rem 1rem }
              &:not( :last-child ) { border-bottom: solid .1rem nth( $c-4, 5 ) } } }
          @media ( max-width: 31.2em /* 499px */ ) { height: 0; color: nth( $c-4, 5 ); background-color: nth( $c-4, 6 ); border-radius: 0 0 .3rem .3rem; position: absolute; top: 2rem; transition: height nth( $a-dt, 3 ) } }
        @include social-list-1( 1.6rem, 3.4rem, ( twitter: "twitter-2.png", facebook: "facebook-2.png", youtube: "youtube-2.png", linkedin: "linkedin-2.png" ) ) {
          & a { filter: hue-rotate( -70deg ) opacity( 30% ) brightness( 130% ); transition: filter nth( $a-dt, 1 );
            &:hover, &:focus { filter: hue-rotate( -70deg ) opacity( 60% ) brightness( 130% ) }
            &:active { filter: hue-rotate( -70deg ) opacity( 90% ) brightness( 130% ) } }
          @media ( max-width: 49.95em /* 799px */ ) { margin-top: .8rem }
          @media ( max-width: 37.45em /* 599px */ ) { margin: 0 0 1rem }
          @media ( max-width: 31.2em /* 499px */ ) { display: none } }
        @media ( max-width: 59.35em /* 949px */ ) { margin-right: 3rem }
        @media ( max-width: 49.95em /* 799px */ ) { flex-direction: column-reverse; margin-right: 0 }
        @media ( max-width: 31.2em /* 499px */ ) { position: relative; width: 1.6rem; height: 1.6rem; background: url( "../../multimedia/images/x-small/xs-dropdown-1.png" ) no-repeat center/cover; cursor: pointer } }
      & .button-container { display: inline-block; text-transform: uppercase;
        & button { font-size: 1.2rem; color: nth( $c-1, 1 ); padding: 2rem 1.7rem; border: solid .1rem nth( $c-1, 1 ); backface-visibility: hidden; transition: transform nth( $a-dt, 3 );
          &:hover, &:focus { transform: scaleX( 1.05 ) }
          &:active { transform: translateY( -.1rem ) scaleX( 1.05 ) } }
        @media ( max-width: 49.95em /* 799px */ ) { display: none } } }
    @media ( max-width: 59.35em /* 949px */ ) { padding: 0 map-get( $hpad, responsive ) }
    @media ( max-width: 49.95em /* 799px */ ) { align-items: stretch }
    @media ( max-width: 31.2em /* 499px */ ) { align-items: center } } }
