#top-footer {
  & .copyright-section { background-color: lighten( nth( $c-0, 5), 2% );
    & .content-container { @include set-main-grid(); padding: 5.2rem map-get( $hpad, default ) 3.8rem;
      & .nav-container { font-size: 1.2rem; @include row-flex( $main: center ); color: nth( $c-1, 12 ); margin-bottom: 4rem;
        & .logo { margin-right: 3.8rem;
          @media ( max-width: 40.6em /* 649px */ ) { display: none } }
        & .pages-list {
          & li { display: inline-block;
            &:not( :last-child ) { $rmar: 3.5rem; margin-right: $rmar;
              &::after { content: "/"; color: inherit; position: relative; right: -$rmar/2 } }
            @media ( max-width: 34.95em /* 559px */ ) {
              &:not( :last-child ) { margin-right: 1rem;
                &::after { content: "" } } }
            @media ( max-width: 22.45em /* 359px */ ) {
              &:last-child { display: none } } } }
        @media ( max-width: 40.6em /* 649px */ ) { margin-bottom: 2rem } }
      & .text-block { font-size: 1.2rem; color: nth( $c-1, 11 ); text-align: center;
        & .text-set { line-height: 1.83; margin-bottom: 3.2rem;
          & .text {  }
          @media ( max-width: 40.6em /* 649px */ ) { display: none } }
        & .copyright { cursor: default;
          & .message {  } } }
      @media ( max-width: 56.2em /* 899px */ ) { padding: 4.5rem map-get( $hpad, responsive ) }
      @media ( max-width: 40.6em /* 649px */ ) { padding: 1.5rem map-get( $hpad, responsive ) } } } }
