#top-footer {
  & .links-section { background-color: lighten( nth( $c-0, 5 ), 1% );
    & .content-container { @include set-main-grid(); @include row-flex( wrap, $side: flex-start ); padding: 5rem map-get( $hpad, default );
      & .links-set { color: nth( $c-1, 2 );
        & .title { display: block; font: { size: 1.8rem; weight: 500 }; text-transform: capitalize; cursor: default; margin-bottom: 2.2rem;
          &::after { content: "" }
          @media ( max-width: 65.6em /* 1049px */ ) { font-size: 1.5rem } }
        & .content { display: block;
          & ul { font-size: 1.4rem;
            & li {
              &:not( :last-child ) { margin-bottom: 2.2rem } }
            @media ( max-width: 65.6em /* 1049px */ ) { font-size: 1.2rem } }
          & .magazine-list { font-weight: 500;  color: nth( $c-1, 5 );
            & li { font-size: 1.8rem;
              &:not( :last-child ) { margin-bottom: 3rem }
              @media ( max-width: 65.6em /* 1049px */ ) { font-size: 1.4rem }
              @media ( max-width: 56.2em /* 899px */ ) {
                &:not( :last-child ) { margin-bottom: 0 } } }
            @media ( max-width: 56.2em /* 899px */ ) { @include row-flex( $main: space-evenly, $side: flex-start ) } }
          & .picklife-list {
            @media ( max-width: 34.95em /* 559px */ ) { @include row-flex( $main: space-around );
              & li:nth-child( n ) { margin-bottom: 0 } } } }
        &.magazine {
          @media ( max-width: 56.2em /* 899px */ ) { flex-basis: 40%; order: -2 } }
        &.product-learn {
          & .removable {
            @media ( max-width: 56.2em /* 899px */ ) { display: none } }
          @media ( max-width: 28.1em /* 449px */ ) { flex-basis: 100% } }
        &.picklife {
          @media ( max-width: 34.95em /* 559px */ ) { flex-basis: 100%; order: 1 } }
        &.resources {
          @media ( max-width: 28.1em /* 449px */ ) { flex-basis: 100% } }
        &.reviews {
          @media ( max-width: 56.2em /* 899px */ ) { flex-basis: 40%; order: -1 } }
        @media ( max-width: 56.2em /* 899px */ ) { text-align: center; margin-bottom: 3rem } }
      @media ( max-width: 55.6em /* 889px */ ) { padding: 4.5rem map-get( $hpad, responsive ) .5rem } } } }
