/* Seção de Contato */
#contact-us { @include background-1;
  .content-container { box-sizing: border-box; @include row-flex( $side-aligment: flex-start ); @include set-grid; padding: 10rem 0;
    @media( max-width: 81.2em /* 1299px */ ) { justify-content: space-around }
    @media( max-width: 68.7em /* 1099px */ ) { flex-direction: column-reverse; padding: 5rem 3rem }
    @media( max-width: 53.09em /* 849px */ ) { align-items: center }
    & .side-content {
      &[ class~="subscribe" ] {
        & .subscribe-form { max-width: 48.5rem; margin-bottom: 9.4rem;
          @media( max-width: 68.7em /* 1099px */ ) { margin: 4.5rem 0 0 }
          @media( max-width: 53.09em /* 849px */ ) { text-align: center }
          @include heading-block-1( 9.5rem, nth( $c-0, 3 ), inherit ) {
            @media( max-width: 68.7em /* 1099px */ ) { margin-bottom: 2rem } }
          & .form-body { width: 100%;
            @include input-1( $padding: 3rem 2.1rem, $icon: ( "name='email'": "email-2.png" ), $bg-x: calc( 100% - 1.8rem ) ) { width: 100%; margin-bottom: 3.2rem }
            @include action-button-1( $icon: "done-1.png" ) } }
        & .nav-container {
          @media( max-width: 68.7em /* 1099px */ ) { display: none }
          & .heading-container { text-transform: uppercase; line-height: 1; margin-bottom: 3.8rem;
            & .title { font: { size: 1.6rem; weight: 500 }; color: nth( $c-0, 3 ) } }
          @include social-list-block-1( 2.4rem, 5.4rem, ( facebook: "facebook-2.png", twitter: "twitter-2.png", linkedin: "linkedin-2.png", youtube: "youtube-2.png" ) ) {
            a { transition: filter nth( $a-dt, 1 );
              &:hover, &:focus { filter: sepia( 50% ) saturate( 25 ) hue-rotate( 150deg ) }
              &:active { filter: sepia( 100% ) saturate( 50 ) hue-rotate( 150deg ) } } } } }
      &[ class~="contact" ] {
        @media( max-width: 68.7em /* 1099px */ ) { width: 100% }
        & .contact-form { max-width: 50rem;
          @media ( max-width: 68.7em /* 1099px */ ) { max-width: none }
          @include heading-block-1( 5rem, nth( $c-0, 3 ), inherit ) {
            @media ( max-width: 68.7em /* 1099px */ ) and ( min-width: 53.1em /* 850px */ ) { display: flex; margin-bottom: 2rem }
            @media ( max-width: 53.09em /* 849px */ ) { text-align: center; margin-bottom: 2rem }
            & .heading-set { margin-bottom: 5rem;
              @media ( max-width: 68.7em /* 1099px */ ) and ( min-width: 53.1em /* 850px */ ) { flex-grow: 1 }
              @media ( max-width: 53.09em /* 849px */ ) { margin-bottom: 2rem }
              @media ( max-width: 26.2em /* 419px */ ) {
                & .title {
                  & .line:nth-child( n ) { display: inline } } } }
            & .text-set { max-width: 41.8rem; font-family: $f-sans-1; text-transform: none;
              @media ( max-width: 68.7em /* 1099px */ ) and ( min-width: 53.1em /* 850px */ ) { max-width: 40rem; align-self: center }
              @media ( max-width: 53.09em /* 849px */ ) { max-width: 75rem; margin: 0 auto }
              & .text { color: nth( $c-1, 4 );
                &:not( :last-of-type ) { margin-bottom: 2rem }
                @media ( max-width: 53.09em /* 849px */ ) { text-align: center } } } }
          & .form-body {
            & .fields-container { margin-bottom: 3.2rem;
              & .inputs-set { @include row-flex( $side-aligment: flex-start ); margin-bottom: 1rem;
                @media ( max-width: 33.1em /* 529px */ ) { flex-direction: column; align-items: stretch }
                @include input-1( $icon: ( "name='name'": "profile-1.png", "name='email'": "email-2.png" ), $bg-x: calc( 100% - 1.4rem ) ) { flex: 1 1 23.5rem; max-height: 7.3rem;
                  &:not( :last-of-type ) { margin-right: 1.1rem;
                    @media ( max-width: 33.1em /* 529px */ ) { margin: { right: 0; bottom: 2rem } } } } }
              @include input-1( $target: textarea, $icon: ( "name='message'": "message-1.png" ), $bg-x: calc( 100% - 1.6rem ), $bg-y: 1.4rem ) { width: 100%; height: unset } }
            & .button-container {
              @media ( max-width: 33.1em /* 529px */ ) { text-align: center }
              @include action-button-1 } } } } } } }
