/* Rodapé Superior */
#top-footer {
  & .copyright { background-color: nth( $c-0, 7 );
    & .content-container { @include set-grid; padding: 4rem 0;
      & .message { font: { size: 1rem; weight: 700 }; color: nth( $c-0, 4 ); line-height: 1; text-align: center; word-spacing: .2rem;
        @media ( max-width: 24.35em /* 389px */ ) { & .removable { display: none } } } } } }
