@charset "UTF-8";

/* Predefinições Globais */
*, *::before, *::after { animation: none !important; transition: none !important }
body > *:not( noscript ) { filter: brightness( 60% ) grayscale( 50% ) !important }
noscript #no-js-bg { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh }
