// Misturas Globais de Fontes

	// Open Sans
	@mixin open-sans( $bold: false, $italic: false )
		{ @font-face
				{ font-family: "Open Sans";
					src: local( "Open Sans" ), local( "Open Sans Regular" ), local( "OpenSans-Regular" ),
					url( "../../multimedia/fonts/open-sans/open-sans-regular.woff2" ), url( "../../multimedia/fonts/open-sans/open-sans-regular.ttf" );
					font-weight: normal; font-style: normal }
			@if $bold
				{ @font-face
						{ font-family: "Open Sans";
							src: local( "Open Sans Negrito" ), local( "Open Sans Bold" ), local( "OpenSans-Negrito" ), local( "OpenSans-Bold" ),
							url( "../../multimedia/fonts/open-sans/open-sans-bold.woff2" ), url( "../../multimedia/fonts/open-sans/open-sans-bold.ttf" );
							font-weight: bold; font-style: normal } }
			@if $italic
				{ @font-face
						{ font-family: "Open Sans";
							src: local( "Open Sans Itálico" ), local( "Open Sans Italic" ), local( "OpenSans-Itálico" ), local( "OpenSans-Italic" ),
							url( "../../multimedia/fonts/open-sans/open-sans-italic.woff2" ), url( "../../multimedia/fonts/open-sans/open-sans-italic.ttf" );
							font-weight: normal; font-style: italic } }
			@if $bold and $italic
				{ @font-face
						{ font-family: "Open Sans";
							src: local( "Open Sans Itálico e Negrito" ), local( "Open Sans Bold Italic" ), local( "OpenSans-ItálicoNegrito" ), local( "OpenSans-BoldItalic" ),
							url( "../../multimedia/fonts/open-sans/open-sans-bold-italic.woff2" ), url( "../../multimedia/fonts/open-sans/open-sans-bold-italic.ttf" );
							font-weight: bold; font-style: italic } } }

	// Ubuntu
	@mixin ubuntu( $bold: false, $italic: false )
		{ @font-face
				{ font-family: "Ubuntu";
					src: local( "Ubuntu" ), local( "Ubuntu Regular" ), local( "Ubuntu-Regular" ),
					url( "../../multimedia/fonts/ubuntu/ubuntu-regular.woff2" ), url( "../../multimedia/fonts/ubuntu/ubuntu-regular.ttf" );
					font-weight: normal; font-style: normal }
			@if $bold
				{ @font-face
						{ font-family: "Ubuntu";
							src: local( "Ubuntu Negrito" ), local( "Ubuntu Bold" ), local( "Ubuntu-Negrito" ), local( "Ubuntu-Bold" ),
							url( "../../multimedia/fonts/ubuntu/ubuntu-bold.woff2" ), url( "../../multimedia/fonts/ubuntu/ubuntu-bold.ttf" );
							font-weight: bold; font-style: normal } }
			@if $italic
				{ @font-face
						{ font-family: "Ubuntu";
							src: local( "Ubuntu Itálico" ), local( "Ubuntu Italic" ), local( "Ubuntu-Itálico" ), local( "Ubuntu-Italic" ),
							url( "../../multimedia/fonts/ubuntu/ubuntu-italic.woff2" ), url( "../../multimedia/fonts/ubuntu/ubuntu-italic.ttf" );
							font-weight: normal; font-style: italic } }
			@if $bold and $italic
				{ @font-face
						{ font-family: "Ubuntu";
							src: local( "Ubuntu Itálico e Negrito" ), local( "Ubuntu Bold Italic" ), local( "Ubuntu-ItálicoNegrito" ), local( "Ubuntu-BoldItalic" ),
							url( "../../multimedia/fonts/ubuntu/ubuntu-bold-italic.woff2" ), url( "../../multimedia/fonts/ubuntu/ubuntu-bold-italic.ttf" );
							font-weight: bold; font-style: italic } } }

	// Palatino Linotype
	@mixin palatino-linotype( $bold: false, $italic: false )
		{ @font-face
				{ font-family: "Palatino Linotype";
					src: local( "Palatino Linotype" ), local( "Palatino Linotype Regular" ), local( "PalatinoLinotype-Regular" ),
					url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-regular.woff2" ), url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-regular.ttf" );
					font-weight: normal; font-style: normal }
			@if $bold
				{ @font-face
						{ font-family: "Palatino Linotype";
							src: local( "Palatino Linotype Negrito" ), local( "Palatino Linotype Bold" ), local( "PalatinoLinotype-Negrito" ), local( "PalatinoLinotype-Bold" ),
							url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-bold.woff2" ), url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-bold.ttf" );
							font-weight: bold; font-style: normal } }
			@if $italic
				{ @font-face
						{ font-family: "Palatino Linotype";
							src: local( "Palatino Linotype Itálico" ), local( "Palatino Linotype Italic" ), local( "PalatinoLinotype-Itálico" ), local( "PalatinoLinotype-Italic" ),
							url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-italic.woff2" ), url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-italic.ttf" );
							font-weight: normal; font-style: italic } }
			@if $bold and $italic
				{ @font-face
						{ font-family: "Palatino Linotype";
							src: local( "Palatino Linotype Itálico e Negrito" ), local( "Palatino Linotype Bold Italic" ), local( "PalatinoLinotype-ItálicoNegrito" ), local( "PalatinoLinotype-BoldItalic" ),
							url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-bold-italic.woff2" ), url( "../../multimedia/fonts/palatino-linotype/palatino-linotype-bold-italic.ttf" );
							font-weight: bold; font-style: italic } } }

	// Cambria
	@mixin cambria( $bold: false, $italic: false )
		{ @font-face
				{ font-family: "Cambria";
					src: local( "Cambria" ), local( "Cambria Regular" ), local( "Cambria-Regular" ),
					url( "../../multimedia/fonts/cambria/cambria-regular.woff2" ), url( "../../multimedia/fonts/cambria/cambria-regular.ttf" );
					font-weight: normal; font-style: normal }
			@if $bold
				{ @font-face
						{ font-family: "Cambria";
							src: local( "Cambria Negrito" ), local( "Cambria Bold" ), local( "Cambria-Negrito" ), local( "Cambria-Bold" ),
							url( "../../multimedia/fonts/cambria/cambria-bold.woff2" ), url( "../../multimedia/fonts/cambria/cambria-bold.ttf" );
							font-weight: bold; font-style: normal } }
			@if $italic
				{ @font-face
						{ font-family: "Cambria";
							src: local( "Cambria Itálico" ), local( "Cambria Italic" ), local( "Cambria-Itálico" ), local( "Cambria-Italic" ),
							url( "../../multimedia/fonts/cambria/cambria-italic.woff2" ), url( "../../multimedia/fonts/cambria/cambria-italic.ttf" );
							font-weight: normal; font-style: italic } }
			@if $bold and $italic
				{ @font-face
						{ font-family: "Cambria";
							src: local( "Cambria Itálico e Negrito" ), local( "Cambria Bold Italic" ), local( "Cambria-ItálicoNegrito" ), local( "Cambria-BoldItalic" ),
							url( "../../multimedia/fonts/cambria/cambria-bold-italic.woff2" ), url( "../../multimedia/fonts/cambria/cambria-bold-italic.ttf" );
							font-weight: bold; font-style: italic } } }

	// Times New Roman
	@mixin times-new-roman( $bold: false, $italic: false )
		{ @font-face
				{ font-family: "Times New Roman";
					src: local( "Times New Roman" ), local( "Times New Roman Regular" ), local( "TimesNewRoman-Regular" ),
					url( "../../multimedia/fonts/times-new-roman/times-new-roman-regular.woff2" ), url( "../../multimedia/fonts/times-new-roman/times-new-roman-regular.ttf" );
					font-weight: normal; font-style: normal }
			@if $bold
				{ @font-face
						{ font-family: "Times New Roman";
							src: local( "Times New Roman Negrito" ), local( "Times New Roman Bold" ), local( "TimesNewRoman-Negrito" ), local( "TimesNewRoman-Bold" ),
							url( "../../multimedia/fonts/times-new-roman/times-new-roman-bold.woff2" ), url( "../../multimedia/fonts/times-new-roman/times-new-roman-bold.ttf" );
							font-weight: bold; font-style: normal } }
			@if $italic
				{ @font-face
						{ font-family: "Times New Roman";
							src: local( "Times New Roman Itálico" ), local( "Times New Roman Italic" ), local( "TimesNewRoman-Itálico" ), local( "TimesNewRoman-Italic" ),
							url( "../../multimedia/fonts/times-new-roman/times-new-roman-italic.woff2" ), url( "../../multimedia/fonts/times-new-roman/times-new-roman-italic.ttf" );
							font-weight: normal; font-style: italic } }
			@if $bold and $italic
				{ @font-face
						{ font-family: "Times New Roman";
							src: local( "Times New Roman Itálico e Negrito" ), local( "Times New Roman Bold Italic" ), local( "TimesNewRoman-ItálicoNegrito" ), local( "TimesNewRoman-BoldItalic" ),
							url( "../../multimedia/fonts/times-new-roman/times-new-roman-bold-italic.woff2" ), url( "../../multimedia/fonts/times-new-roman/times-new-roman-bold-italic.ttf" );
							font-weight: bold; font-style: italic } } }

	// Embassy BT
	@mixin embassy-bt( $bold: false, $italic: false )
		{ @font-face
				{ font-family: "Embassy BT";
					src: local( "Embassy BT" ), local( "Embassy BT Regular" ), local( "EmbassyBT-Regular" ),
					url( "../../multimedia/fonts/embassy-bt/embassy-bt-regular.woff2" ), url( "../../multimedia/fonts/embassy-bt/embassy-bt-regular.ttf" );
					font-weight: normal; font-style: normal } }
