#life-events { background: url( "../../multimedia/images/large/l-couple-1.jpg" ) no-repeat left 60%/auto nth( $c-0, 4 );
  & .content-container { box-sizing: border-box; max-width: 120rem; margin: 0 auto 0 35.1rem; height: 76rem; padding-top: 10rem; position: relative;
    & .heading-container {
      & .heading-set {
        @include title-1( 6.2rem, true ) {
          & .title {
            & .m-line {
              @media ( max-width: 24.95em /* 399px */ ) { display: block } }
            @media ( max-width: 37.45em /* 599px */ ) { font-size: 12vw }
            @media ( max-width: 24.95em /* 399px */ ) { text-transform: capitalize; font-size: 4.5rem }
            & .m-gradient {
              @media ( max-width: 24.95em /* 399px */ ) { @include text-gradient( unquote( nth( $c-lg, 3 ) ), nth( $c-1, 8 ) ) } } }
          & .subtitle { text-indent: 0;
            & .removable {
              @media ( max-width: 37.45em /* 599px */ ) { display: none } } } } }
        @media ( max-width: 79.95em /* 1279px */ ) { text-align: center; margin-bottom: 4rem } }
    & .side-images { box-sizing: border-box; position: absolute; right: 0; top: 19rem;
      & .row { @include clearfix;
        & .image-container { float: right;
          &:not( :last-of-type ) { margin-left: 7rem }
          @include ilustration-1 }
        &:first-child { max-width: 48.7rem; margin: { left: auto; right: 0 };
          & .image-container { @include col-calc( 7rem, 3, 1 ) } }
        &:not( :first-child ) { max-width: 68.4rem;
          & .image-container { @include col-calc( 7rem, 4, 1 ) } }
        &:not( :last-child ) { margin-bottom: 11.2rem }
        @media ( max-width: 98.7em /* 1579px */ ) { display: none } }
      & > .image-container { flex: 0 1 auto; max-width: 9rem; margin-bottom: 3rem;
        @include ilustration-1( 1.5rem );
        @include sort-order( ".investment" ".wealth" ".maternity" ".marriage" ".aging" ".legacy" ".home" );
        &.marriage { position: relative; right: -11rem }
        &.home, &.aging, &.legacy { margin-left: 15rem }
        & .ilustration {
          @media ( max-width: 24.95em /* 399px */ ) { display: block; width: 10rem; margin: 0 auto 1.5rem } }
        & .description-container {
          & .description {
            @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.2rem } } }
        @media ( max-width: 79.95em /* 1279px */ ) { max-width: none;
          @include sort-order( ".marriage" ".maternity" ".home" ".legacy" ".aging" ".investment" ".wealth" );
          &:nth-of-type( n ) { margin-left: 0; flex-basis: 32% }
          &.marriage { flex-basis: 100%; position: static } }
        @media ( max-width: 34.35em /* 549px */ ) {
          &:not( .marriage ) { flex-basis: 50% } } }
      @media ( max-width: 98.7em /* 1579px */ ) { display: flex; flex-flow: column-reverse wrap; justify-content: flex-start; align-content: center; width: 50%; max-height: 75rem; top: 1rem }
      @media ( max-width: 86.2em /* 1379px */ ) { align-content: flex-end }
      @media ( max-width: 79.95em /* 1279px */ ) { position: static; flex-direction: row; justify-content: space-evenly; width: 100%; max-width: 75rem; max-height: none; margin: 0 auto } }
    @media ( max-width: 98.7em /* 1579px */ ) { max-width: none; margin: { left: 24rem; right: 3rem } }
    @media ( max-width: 79.95em /* 1279px */ ) { margin: 0; height: auto; padding: 3rem map-get( $hpad, responsive ) 5rem } }
  @media ( max-width: 79.95em /* 1279px */ ) { background-image: none } }
