#picklife {
  & .content-container { @include set-grid; padding-bottom: 12.4rem;
    & > .heading-container { margin-bottom: 6rem;
      & .heading-set { display: inline-block; position: relative; @include icon-after( "x-small/xs-ilustration-1.png", -15rem );
        @include title-1( 3.9rem, $f-size: ( 9rem, 1.4rem ) );
        @media ( max-width: 74.95em /* 1249px */ ) {
          &::after { right: -10rem } } }
      @media ( max-width: 78.1em /* 1249px */ ) and ( min-width: 75em /* 1200px */ ) { padding-left: 2.5rem }
      @media ( max-width: 74.95em /* 1249px */ ) { text-align: center } }
    & .articles-block { width: 100%; border-collapse: collapse;
      @include articles-table( ( dolorum: "medium/m-dolorum-1.jpg", etiam: "medium/m-etiam-1.jpg", morbi: "medium/m-morbi-1.jpg",
                                 curabitur: "medium/m-curabitur-1.jpg", nulla: "medium/m-nulla-1.jpg", cras: "medium/m-cras-1.jpg" ) ) } }
  @media ( max-width: 43.7em /*699px*/ ) { display: none } }
