@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }
dd::after { content: "\0A"; white-space: pre; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; font-weight: inherit; line-height: 1; text-transform: inherit; background-color: transparent; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; }

input, textarea { outline: none; resize: none; }

template { display: none; }

/* Pré-Configurações do Site */
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Light"), local("GothamRounded-Light"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Light.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Book"), local("GothamRounded-Book"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Book.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Book.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Medium"), local("GothamRounded-Medium"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Bold"), local("GothamRounded-Bold"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Thin Italic"), local("GothamRounded-ThinItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Book Italic"), local("GothamRounded-BookItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.otf"); font-weight: 400; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Medium Italic"), local("GothamRounded-MediumItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Bold Italic"), local("GothamRounded-BoldItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100"), local("MuseoSans-100"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300"), local("MuseoSans-300"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500"), local("MuseoSans-500"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700"), local("MuseoSans-700"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900"), local("MuseoSans-900"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100 Italic"), local("MuseoSans-100Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf"); font-weight: 100; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300 Italic"), local("MuseoSans-300Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500 Italic"), local("MuseoSans-500Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700 Italic"), local("MuseoSans-700Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900 Italic"), local("MuseoSans-900Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf"); font-weight: 900; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../multimedia/fonts/montserrat/Montserrat-Bold.woff2"), url("../../multimedia/fonts/montserrat/Montserrat-Bold.ttf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf ExtraCondensed Bold"), local("ProximaNovaScOsf-ExtraCondensedBold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.otf"); font-weight: 700; font-style: normal; font-stretch: extra-condensed; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf Condensed Bold"), local("ProximaNovaScOsf-CondensedBold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.otf"); font-weight: 700; font-style: normal; font-stretch: condensed; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf Bold"), local("ProximaNovaScOsf-Bold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@-webkit-keyframes move-right { 0% { right: 4rem; opacity: 0; }
  80% { right: -1rem; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: 4rem; opacity: 0; }
  80% { right: -1rem; }
  100% { right: 0; opacity: 1; } }
@-webkit-keyframes move-bottom { 0% { bottom: 7rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@keyframes move-bottom { 0% { bottom: 7rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
/* Inquéritos de Mídia */
/* Configurações Locais */
body { font: 400 1.6rem/1 "Gotham Rounded", sans-serif; background-color: #fafafa; overflow-x: hidden; }

/* Componentes */
#top-header { padding: 3.9rem 0 4.4rem; -webkit-box-shadow: 0 .1rem 1rem rgba( 127, 127, 127, .15 ); box-shadow: 0 .1rem 1rem rgba( 127, 127, 127, .15 ); position: relative; z-index: 2; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 0, 0%, 99% )), color-stop(44%, hsl( 0, 0%, 96% )), color-stop(70%, hsl( 0, 0%, 89% )), color-stop(92%, hsl( 0, 0%, 89% )), to(hsl( 0, 0%, 95% )) ); background-image: linear-gradient( 90deg, hsl( 0, 0%, 99% ), hsl( 0, 0%, 96% ) 44%, hsl( 0, 0%, 89% ) 70%, hsl( 0, 0%, 89% ) 92%, hsl( 0, 0%, 95% ) ); }
#top-header .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 0 4.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
@media (max-width: 37.45em) { #top-header .content-container .logo { width: 16rem; } }
#top-header .content-container .menu-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
#top-header .content-container .menu-container .nav-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-right: 8rem; outline: none; }
#top-header .content-container .menu-container .nav-container .pages-list { font-family: "Museo Sans", sans-serif; font-weight: 300; color: #546d78; overflow: hidden; }
#top-header .content-container .menu-container .nav-container .pages-list li { display: inline-block; }
#top-header .content-container .menu-container .nav-container .pages-list li a { display: inline-block; outline: none; }
#top-header .content-container .menu-container .nav-container .pages-list li a { -webkit-transition: color 0.65s ease-in-out; transition: color 0.65s ease-in-out; }
#top-header .content-container .menu-container .nav-container .pages-list li a:hover, #top-header .content-container .menu-container .nav-container .pages-list li a:focus { color: #2f91bb; }
#top-header .content-container .menu-container .nav-container .pages-list li a:active { color: #1da3dd; }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list li a { -webkit-transition: color 0.65s ease-in-out; transition: color 0.65s ease-in-out; }
  #top-header .content-container .menu-container .nav-container .pages-list li a:hover, #top-header .content-container .menu-container .nav-container .pages-list li a:focus { color: #d7f1f4; }
  #top-header .content-container .menu-container .nav-container .pages-list li a:active { color: #d4f4f7; } }
#top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { margin-right: 4.8rem; }
#top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child)::after { content: "/"; color: #d0d8dc; position: relative; right: -2.4rem; }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { margin-right: 2.4rem; }
  #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child)::after { content: ""; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list li { display: block; cursor: default; }
  #top-header .content-container .menu-container .nav-container .pages-list li:nth-child(n) { margin-right: 0; padding: 0.8rem 1rem; }
  #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { border-bottom: solid 0.1rem #deeced; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list { height: 0; color: #deeced; background-color: #c1cdcd; border-radius: 0 0 .3rem .3rem; position: absolute; top: 2rem; -webkit-transition: height 0.65s ease-in-out; transition: height 0.65s ease-in-out; } }
#top-header .content-container .menu-container .nav-container .social-list li { display: inline-block; }
#top-header .content-container .menu-container .nav-container .social-list li:not(:last-child) { margin-right: 3.4rem; }
#top-header .content-container .menu-container .nav-container .social-list li a { display: inline-block; width: 1.6rem; height: 1.6rem; background-repeat: no-repeat; background-position: center; background-size: contain; outline: none; }
#top-header .content-container .menu-container .nav-container .social-list li a.twitter { background-image: url("../../multimedia/images/x-small/xs-twitter-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.facebook { background-image: url("../../multimedia/images/x-small/xs-facebook-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.youtube { background-image: url("../../multimedia/images/x-small/xs-youtube-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.linkedin { background-image: url("../../multimedia/images/x-small/xs-linkedin-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list a { -webkit-filter: hue-rotate(-70deg) opacity(30%) brightness(130%); filter: hue-rotate(-70deg) opacity(30%) brightness(130%); -webkit-transition: -webkit-filter 1s ease-in-out; transition: -webkit-filter 1s ease-in-out; transition: filter 1s ease-in-out; transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out; }
#top-header .content-container .menu-container .nav-container .social-list a:hover, #top-header .content-container .menu-container .nav-container .social-list a:focus { -webkit-filter: hue-rotate(-70deg) opacity(60%) brightness(130%); filter: hue-rotate(-70deg) opacity(60%) brightness(130%); }
#top-header .content-container .menu-container .nav-container .social-list a:active { -webkit-filter: hue-rotate(-70deg) opacity(90%) brightness(130%); filter: hue-rotate(-70deg) opacity(90%) brightness(130%); }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container .social-list { margin-top: 0.8rem; } }
@media (max-width: 37.45em) { #top-header .content-container .menu-container .nav-container .social-list { margin: 0 0 1rem; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .social-list { display: none; } }
@media (max-width: 59.35em) { #top-header .content-container .menu-container .nav-container { margin-right: 3rem; } }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin-right: 0; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container { position: relative; width: 1.6rem; height: 1.6rem; background: url("../../multimedia/images/x-small/xs-dropdown-1.png") no-repeat center/cover; cursor: pointer; } }
#top-header .content-container .menu-container .button-container { display: inline-block; text-transform: uppercase; }
#top-header .content-container .menu-container .button-container button { font-size: 1.2rem; color: #1da3dd; padding: 2rem 1.7rem; border: solid 0.1rem #1da3dd; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.65s ease-in-out; transition: -webkit-transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out, -webkit-transform 0.65s ease-in-out; }
#top-header .content-container .menu-container .button-container button:hover, #top-header .content-container .menu-container .button-container button:focus { -webkit-transform: scaleX(1.05); transform: scaleX(1.05); }
#top-header .content-container .menu-container .button-container button:active { -webkit-transform: translateY(-0.1rem) scaleX(1.05); transform: translateY(-0.1rem) scaleX(1.05); }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .button-container { display: none; } }
@media (max-width: 59.35em) { #top-header .content-container { padding: 0 1.5rem; } }
@media (max-width: 49.95em) { #top-header .content-container { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; } }
@media (max-width: 31.2em) { #top-header .content-container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

#intro .heading-block { height: 83.6rem; padding-top: 4.6rem; background-color: white; }
#intro .heading-block { background-repeat: no-repeat; background-size: cover; }
@media (min-width: 87.45em) { #intro .heading-block { background-image: url("../../multimedia/images/x-large/xl-family-1.jpg"); background-position: center; } }
@media (min-width: 62.45em) and (max-width: 87.45em) { #intro .heading-block { background-image: url("../../multimedia/images/x-large/xl-family-2.jpg"); background-position: left; } }
@media (min-width: 37.45em) and (max-width: 62.45em) { #intro .heading-block { background-image: url("../../multimedia/images/large/l-family-1.jpg"); background-position: left; } }
@media (max-width: 37.45em) { #intro .heading-block { background-image: url("../../multimedia/images/medium/m-family-2.jpg"); background-position: left; } }
#intro .heading-block .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 0 4.5rem; }
#intro .heading-block .content-container .title-container .title { text-transform: uppercase; }
#intro .heading-block .content-container .title-container .title .side-line { display: block; color: #36464e; font-size: 1.8rem; font-weight: 500; letter-spacing: .2rem; position: relative; -webkit-animation: move-right 1.2s ease-in-out 4.2s both; animation: move-right 1.2s ease-in-out 4.2s both; }
@media (max-width: 43.7em) { #intro .heading-block .content-container .title-container .title .side-line { font-size: 1.4rem; } }
@media (max-width: 26.7em) { #intro .heading-block .content-container .title-container .title .side-line { margin-bottom: 1rem; } }
#intro .heading-block .content-container .title-container .title .display-line { display: inline-block; text-indent: -1rem; font-family: "Proxima Nova Sc", sans-serif; font-size: 18.7rem; font-weight: 700; font-stretch: extra-condensed; letter-spacing: -1rem; color: transparent; background-image: linear-gradient( 135deg, #1da3dd, hsl( 198, 73%, 74% ) ); -webkit-background-clip: text; background-clip: text; margin: -1.8rem auto .5rem 0; position: relative; -webkit-animation: move-bottom 1.4s ease-in-out both; animation: move-bottom 1.4s ease-in-out both; }
@supports not (-webkit-background-clip: text) { #intro .heading-block .content-container .title-container .title .display-line { color: #77acda; background-image: unset; } }
#intro .heading-block .content-container .title-container .title .display-line:nth-of-type(2) { width: 37.8rem; -webkit-animation-delay: .3s; animation-delay: .3s; }
@media (max-width: 26.7em) { #intro .heading-block .content-container .title-container .title .display-line:nth-of-type(2) { width: 28rem; } }
#intro .heading-block .content-container .title-container .title .display-line:nth-of-type(4) { width: 41rem; -webkit-animation-delay: 1.6s; animation-delay: 1.6s; }
@media (max-width: 26.7em) { #intro .heading-block .content-container .title-container .title .display-line:nth-of-type(4) { width: 30rem; } }
#intro .heading-block .content-container .title-container .title .display-line:nth-of-type(6) { color: transparent; background-image: linear-gradient( 315deg, #77acda, hsl( 198, 73%, 74% ) ); -webkit-background-clip: text; background-clip: text; width: 40.4rem; -webkit-animation-delay: 2.9s; animation-delay: 2.9s; }
@supports not (-webkit-background-clip: text) { #intro .heading-block .content-container .title-container .title .display-line:nth-of-type(6) { color: #36464e; background-image: unset; } }
@media (max-width: 26.7em) { #intro .heading-block .content-container .title-container .title .display-line:nth-of-type(6) { width: 29.5rem; } }
@media (max-width: 43.7em) { #intro .heading-block .content-container .title-container .title .display-line { font-size: 15rem; margin-bottom: 3.5rem; } }
@media (max-width: 26.7em) { #intro .heading-block .content-container .title-container .title .display-line { font-size: 12rem; margin-bottom: 4.5rem; letter-spacing: 0; } }
@media (max-width: 26.7em) { #intro .heading-block .content-container .title-container .title .display-line { font-size: 10rem; } }
@media (max-width: 43.7em) { #intro .heading-block .content-container .title-container .title { text-align: center; margin-top: 2rem; } }
@media (max-width: 59.35em) { #intro .heading-block .content-container { padding: 0 1.5rem; } }
#intro .form-block { background-color: #f3f1f9; }
#intro .form-block .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 0 4.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; position: relative; top: -15.2rem; }
#intro .form-block .content-container [name^="quote-form"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; margin-right: 4rem; }
#intro .form-block .content-container [name^="quote-form"] .form-body { margin-bottom: 2.7rem; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field { margin-bottom: 1.4rem; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field label[for^="zip"] { display: block; font-size: 3rem; font-weight: 500; color: #36464e; text-transform: uppercase; margin-bottom: 3.5rem; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 2.5rem; color: #36464e; background-color: #f5f1ef; border: solid 0.1rem #e0e0e0; border-left: solid 0.3rem #93cde6; -webkit-transition: all 0.65s ease-in-out; transition: all 0.65s ease-in-out; width: 100%; padding: 2.7rem 2.2rem; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-webkit-input-placeholder { color: #c0c9ce; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:-ms-input-placeholder { color: #c0c9ce; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-ms-input-placeholder { color: #c0c9ce; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::placeholder { color: #c0c9ce; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus { border-color: #93cde6; background-color: rgba(108, 135, 147, 0.15); }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-webkit-input-placeholder { opacity: 0; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus:-ms-input-placeholder { opacity: 0; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-ms-input-placeholder { opacity: 0; }
#intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::placeholder { opacity: 0; }
@media (max-width: 28.1em) { #intro .form-block .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { padding: 2.4rem 1.6rem; font-size: 2rem; } }
#intro .form-block .content-container [name^="quote-form"] .form-body button[name='quote'] { font-size: 1.8rem; text-transform: uppercase; color: #1d6358; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 2.8rem 1.4rem; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 77%, 49% )), to(hsl( 201, 83%, 46% )) ); background-image: linear-gradient( 90deg, hsl( 198, 77%, 49% ), hsl( 201, 83%, 46% ) ); -webkit-backface-visibility: hidden; backface-visibility: hidden; color: white; }
#intro .form-block .content-container [name^="quote-form"] .form-body button[name='quote'] { -webkit-box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
#intro .form-block .content-container [name^="quote-form"] .form-body button[name='quote']:hover, #intro .form-block .content-container [name^="quote-form"] .form-body button[name='quote']:focus { -webkit-transform: translateY(-0.3rem) scale(1.008); transform: translateY(-0.3rem) scale(1.008); -webkit-box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); }
#intro .form-block .content-container [name^="quote-form"] .form-body button[name='quote']:active { -webkit-transform: translateY(-0.4rem) scale(1.012); transform: translateY(-0.4rem) scale(1.012); -webkit-box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); }
#intro .form-block .content-container [name^="quote-form"] .form-footer .message { color: #8fa3ae; font-size: 1.8rem; }
#intro .form-block .content-container [name^="quote-form"] .form-footer .message a { color: #1da3dd; }
#intro .form-block .content-container [name^="quote-form"] .form-footer .message a { -webkit-transition: color 0.5s ease-in-out; transition: color 0.5s ease-in-out; }
#intro .form-block .content-container [name^="quote-form"] .form-footer .message a:hover, #intro .form-block .content-container [name^="quote-form"] .form-footer .message a:focus { color: #0a93d8; }
#intro .form-block .content-container [name^="quote-form"] .form-footer .message a:active { color: #008bd6; }
@media (max-width: 68.7em) { #intro .form-block .content-container [name^="quote-form"] { position: relative; top: 5rem; width: 100%; max-width: 60rem; text-align: center; margin-right: 0; } }
#intro .form-block .content-container .video-image { max-width: 60rem; position: relative; cursor: pointer; }
#intro .form-block .content-container .video-image .background-image { -webkit-filter: drop-shadow( .8rem .8rem 1rem rgba(0, 0, 0, 0.25) ); filter: drop-shadow( .8rem .8rem 1rem rgba(0, 0, 0, 0.25) ); -webkit-transition: -webkit-filter 1s ease-in-out, -webkit-transform 0.8s ease-in-out; transition: -webkit-filter 1s ease-in-out, -webkit-transform 0.8s ease-in-out; transition: filter 1s ease-in-out, transform 0.8s ease-in-out; transition: filter 1s ease-in-out, transform 0.8s ease-in-out, -webkit-filter 1s ease-in-out, -webkit-transform 0.8s ease-in-out; }
#intro .form-block .content-container .video-image .image-components { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 3.5rem; }
#intro .form-block .content-container .video-image .image-components .play-button { width: 100%; height: 13.2rem; -webkit-transition: -webkit-transform 1s ease-in-out; transition: -webkit-transform 1s ease-in-out; transition: transform 1s ease-in-out; transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }
#intro .form-block .content-container .video-image .image-components .play-button img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#intro .form-block .content-container .video-image .image-components .description { -webkit-transition: opacity 0.8s ease-in-out; transition: opacity 0.8s ease-in-out; }
@media (max-width: 34.35em) { #intro .form-block .content-container .video-image .image-components .description { display: none; } }
@media (max-width: 34.35em) { #intro .form-block .content-container .video-image .image-components { left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } }
#intro .form-block .content-container .video-image:hover .background-image { -webkit-transform: translateY(-0.6rem) scale(1.03); transform: translateY(-0.6rem) scale(1.03); -webkit-filter: drop-shadow( 1rem 1rem 1.2rem rgba( 0, 0, 0, 0.25 ) ) brightness(50%); filter: drop-shadow( 1rem 1rem 1.2rem rgba( 0, 0, 0, 0.25 ) ) brightness(50%); }
#intro .form-block .content-container .video-image:hover .play-button { -webkit-transform: translate(25%, 25%); transform: translate(25%, 25%); }
#intro .form-block .content-container .video-image:hover .description { opacity: 0; }
@media (max-width: 34.35em) { #intro .form-block .content-container .video-image:hover .play-button { -webkit-transform: none; transform: none; } }
#intro .form-block .content-container .video-image:active .background-image { -webkit-transform: translateY(-0.9rem) scale(1.05); transform: translateY(-0.9rem) scale(1.05); }
@media (max-width: 68.7em) { #intro .form-block .content-container .video-image { margin-bottom: 2rem; } }
@media (max-width: 68.7em) { #intro .form-block .content-container { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
@media (max-width: 59.35em) { #intro .form-block .content-container { padding: 0 1.5rem; } }
#intro .footer-block { padding: 6.8rem 1.5rem; background-color: #ededed; }
#intro .footer-block .content-container { width: 100%; max-width: 120rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
#intro .footer-block .content-container .companies-list { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; overflow: hidden; -webkit-transition: height 1s ease-in; transition: height 1s ease-in; }
#intro .footer-block .content-container .companies-list .list-container ul::after { content: ""; display: table; clear: both; }
#intro .footer-block .content-container .companies-list .list-container ul li { -webkit-box-sizing: border-box; box-sizing: border-box; float: left; width: calc( ( 1 * ( 100% - ( 0rem * ( 5 - 1 ) ) )/5 ) + ( 0rem * ( 1 - 1 ) ) ); height: 14.4rem; padding: 2.1rem 4.2rem; border-left: solid 0.1rem #e0e0e0; }
#intro .footer-block .content-container .companies-list .list-container ul li img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
@media (max-width: 87.45em) { #intro .footer-block .content-container .companies-list .list-container ul li { padding: 2rem 3.5rem; } }
@media (max-width: 74.95em) { #intro .footer-block .content-container .companies-list .list-container ul li { padding: 2rem 3rem; } }
@media (max-width: 59.35em) { #intro .footer-block .content-container .companies-list .list-container ul li { width: calc( ( 1 * ( 100% - ( 0rem * ( 4 - 1 ) ) )/4 ) + ( 0rem * ( 1 - 1 ) ) ); } }
@media (max-width: 49.95em) { #intro .footer-block .content-container .companies-list .list-container ul li { width: calc( ( 1 * ( 100% - ( 0rem * ( 3 - 1 ) ) )/3 ) + ( 0rem * ( 1 - 1 ) ) ); } }
@media (max-width: 37.45em) { #intro .footer-block .content-container .companies-list .list-container ul li { width: calc( ( 1 * ( 100% - ( 0rem * ( 2 - 1 ) ) )/2 ) + ( 0rem * ( 1 - 1 ) ) ); } }
@media (max-width: 28.1em) { #intro .footer-block .content-container .companies-list .list-container ul li { width: calc( ( 1 * ( 100% - ( 0rem * ( 1 - 1 ) ) )/1 ) + ( 0rem * ( 1 - 1 ) ) ); } }
@media (max-width: 28.1em) { #intro .footer-block .content-container .companies-list { max-width: 30rem; } }
#intro .footer-block .content-container .displayer-button { -ms-flex-negative: 0; flex-shrink: 0; margin: .7rem 2.1rem 0 3.8rem; position: relative; }
#intro .footer-block .content-container .displayer-button .button-border img { width: auto; }
@media (max-width: 68.7em) { #intro .footer-block .content-container .displayer-button .button-border img { width: 9rem; } }
#intro .footer-block .content-container .displayer-button .plus-circle { width: 8.8rem; height: 8.8rem; border-radius: 50%; background-color: #f2f2f2; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); cursor: pointer; }
#intro .footer-block .content-container .displayer-button .plus-circle::before, #intro .footer-block .content-container .displayer-button .plus-circle::after { content: ""; display: inline-block; width: 2.8rem; height: 0.2rem; background-color: #1da3dd; }
#intro .footer-block .content-container .displayer-button .plus-circle::before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#intro .footer-block .content-container .displayer-button .plus-circle::after { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }
#intro .footer-block .content-container .displayer-button .plus-circle::after, #intro .footer-block .content-container .displayer-button .plus-circle::before { -webkit-transition: -webkit-transform 0.65s ease-in-out; transition: -webkit-transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out, -webkit-transform 0.65s ease-in-out; }
#intro .footer-block .content-container .displayer-button .plus-circle.x::before { -webkit-transform: translate( -50%, -50% ) rotate(45deg); transform: translate( -50%, -50% ) rotate(45deg); }
#intro .footer-block .content-container .displayer-button .plus-circle.x::after { -webkit-transform: translate( -50%, -50% ) rotate(135deg); transform: translate( -50%, -50% ) rotate(135deg); }
#intro .footer-block .content-container .displayer-button .arrow-circle { width: 3.5rem; height: 3.5rem; background-color: #1da3dd; -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%); clip-path: polygon(50% 0%, 100% 100%, 0% 100%); -webkit-transform: rotate(90deg) translate(-60%, 40%); transform: rotate(90deg) translate(-60%, 40%); position: absolute; top: 50%; left: 50%; cursor: pointer; }
#intro .footer-block .content-container .displayer-button .button-body { -webkit-filter: drop-shadow( .3rem .2rem .3rem rgba( 0, 0, 0, .15 ) ); filter: drop-shadow( .3rem .2rem .3rem rgba( 0, 0, 0, .15 ) ); }
@media (max-width: 87.45em) { #intro .footer-block .content-container .displayer-button { margin-right: 1rem; margin-left: 0; } }
@media (max-width: 68.7em) { #intro .footer-block .content-container { margin-left: 1.5rem; } }
@media (max-width: 68.7em) { #intro .footer-block .content-container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
@media (max-width: 68.7em) { #intro .footer-block { padding: 2.5rem 1.5rem; } }
@media (max-width: 28.1em) { #intro .footer-block { padding: 0 1.5rem; } }

#life-events { background: url("../../multimedia/images/large/l-couple-1.jpg") no-repeat left 60%/auto #fafafa; }
#life-events .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 120rem; margin: 0 auto 0 35.1rem; height: 76rem; padding-top: 10rem; position: relative; }
#life-events .content-container .heading-container .heading-set .title { font: 700 7.5rem "Montserrat", sans-serif; color: #1da3dd; margin-bottom: 1rem; line-height: 1; text-transform: lowercase; }
#life-events .content-container .heading-container .heading-set .title .highlight { color: #5fc1e7; }
#life-events .content-container .heading-container .heading-set .title .gradient { color: transparent; background-image: linear-gradient( 135deg, #5fc1e7, #4bb8e4 50%, #1da3dd ); -webkit-background-clip: text; background-clip: text; }
@supports not (-webkit-background-clip: text) { #life-events .content-container .heading-container .heading-set .title .gradient { color: #5fc1e7; background-image: unset; } }
#life-events .content-container .heading-container .heading-set .title::first-letter { text-transform: capitalize; }
#life-events .content-container .heading-container .heading-set .subtitle { font-size: 1.4rem; font-weight: 500; color: #36464e; text-transform: uppercase; letter-spacing: .2rem; text-indent: 6.2rem; }
@media (max-width: 24.95em) { #life-events .content-container .heading-container .heading-set .title .m-line { display: block; } }
@media (max-width: 37.45em) { #life-events .content-container .heading-container .heading-set .title { font-size: 12vw; } }
@media (max-width: 24.95em) { #life-events .content-container .heading-container .heading-set .title { text-transform: capitalize; font-size: 4.5rem; } }
@media (max-width: 24.95em) { #life-events .content-container .heading-container .heading-set .title .m-gradient { color: transparent; background-image: linear-gradient( 135deg, #5fc1e7, #4bb8e4 50%, #1da3dd ); -webkit-background-clip: text; background-clip: text; }
  @supports not (-webkit-background-clip: text) { #life-events .content-container .heading-container .heading-set .title .m-gradient { color: #5fc1e7; background-image: unset; } } }
#life-events .content-container .heading-container .heading-set .subtitle { text-indent: 0; }
@media (max-width: 37.45em) { #life-events .content-container .heading-container .heading-set .subtitle .removable { display: none; } }
@media (max-width: 79.95em) { #life-events .content-container .heading-container { text-align: center; margin-bottom: 4rem; } }
#life-events .content-container .side-images { -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; right: 0; top: 19rem; }
#life-events .content-container .side-images .row::after { content: ""; display: table; clear: both; }
#life-events .content-container .side-images .row .image-container { float: right; }
#life-events .content-container .side-images .row .image-container:not(:last-of-type) { margin-left: 7rem; }
#life-events .content-container .side-images .row .image-container .ilustration { width: 100%; height: 10.8rem; margin-bottom: 3.4rem; }
#life-events .content-container .side-images .row .image-container .ilustration img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#life-events .content-container .side-images .row .image-container .description-container { text-align: center; }
#life-events .content-container .side-images .row .image-container .description-container .description { text-transform: uppercase; font-size: 1.4rem; font-weight: 500; color: #36464e; }
#life-events .content-container .side-images .row .image-container .description-container .description .line { display: block; }
#life-events .content-container .side-images .row:first-child { max-width: 48.7rem; margin-left: auto; margin-right: 0; }
#life-events .content-container .side-images .row:first-child .image-container { width: calc( ( 1 * ( 100% - ( 7rem * ( 3 - 1 ) ) )/3 ) + ( 7rem * ( 1 - 1 ) ) ); }
#life-events .content-container .side-images .row:not(:first-child) { max-width: 68.4rem; }
#life-events .content-container .side-images .row:not(:first-child) .image-container { width: calc( ( 1 * ( 100% - ( 7rem * ( 4 - 1 ) ) )/4 ) + ( 7rem * ( 1 - 1 ) ) ); }
#life-events .content-container .side-images .row:not(:last-child) { margin-bottom: 11.2rem; }
@media (max-width: 98.7em) { #life-events .content-container .side-images .row { display: none; } }
#life-events .content-container .side-images > .image-container { -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; max-width: 9rem; margin-bottom: 3rem; }
#life-events .content-container .side-images > .image-container .ilustration { width: 100%; height: 10.8rem; margin-bottom: 1.5rem; }
#life-events .content-container .side-images > .image-container .ilustration img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#life-events .content-container .side-images > .image-container .description-container { text-align: center; }
#life-events .content-container .side-images > .image-container .description-container .description { text-transform: uppercase; font-size: 1.4rem; font-weight: 500; color: #36464e; }
#life-events .content-container .side-images > .image-container .description-container .description .line { display: block; }
#life-events .content-container .side-images > .image-container.investment { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
#life-events .content-container .side-images > .image-container.wealth { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
#life-events .content-container .side-images > .image-container.maternity { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
#life-events .content-container .side-images > .image-container.marriage { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
#life-events .content-container .side-images > .image-container.aging { -webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5; }
#life-events .content-container .side-images > .image-container.legacy { -webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6; }
#life-events .content-container .side-images > .image-container.home { -webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7; }
#life-events .content-container .side-images > .image-container.marriage { position: relative; right: -11rem; }
#life-events .content-container .side-images > .image-container.home, #life-events .content-container .side-images > .image-container.aging, #life-events .content-container .side-images > .image-container.legacy { margin-left: 15rem; }
@media (max-width: 24.95em) { #life-events .content-container .side-images > .image-container .ilustration { display: block; width: 10rem; margin: 0 auto 1.5rem; } }
@media (max-width: 24.95em) { #life-events .content-container .side-images > .image-container .description-container .description { font-size: 1.2rem; } }
@media (max-width: 79.95em) { #life-events .content-container .side-images > .image-container { max-width: none; }
  #life-events .content-container .side-images > .image-container.marriage { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #life-events .content-container .side-images > .image-container.maternity { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #life-events .content-container .side-images > .image-container.home { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  #life-events .content-container .side-images > .image-container.legacy { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
  #life-events .content-container .side-images > .image-container.aging { -webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5; }
  #life-events .content-container .side-images > .image-container.investment { -webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6; }
  #life-events .content-container .side-images > .image-container.wealth { -webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7; }
  #life-events .content-container .side-images > .image-container:nth-of-type(n) { margin-left: 0; -ms-flex-preferred-size: 32%; flex-basis: 32%; }
  #life-events .content-container .side-images > .image-container.marriage { -ms-flex-preferred-size: 100%; flex-basis: 100%; position: static; } }
@media (max-width: 34.35em) { #life-events .content-container .side-images > .image-container:not(.marriage) { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }
@media (max-width: 98.7em) { #life-events .content-container .side-images { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-flow: column-reverse wrap; flex-flow: column-reverse wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-line-pack: center; align-content: center; width: 50%; max-height: 75rem; top: 1rem; } }
@media (max-width: 86.2em) { #life-events .content-container .side-images { -ms-flex-line-pack: end; align-content: flex-end; } }
@media (max-width: 79.95em) { #life-events .content-container .side-images { position: static; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; width: 100%; max-width: 75rem; max-height: none; margin: 0 auto; } }
@media (max-width: 98.7em) { #life-events .content-container { max-width: none; margin-left: 24rem; margin-right: 3rem; } }
@media (max-width: 79.95em) { #life-events .content-container { margin: 0; height: auto; padding: 3rem 1.5rem 5rem; } }
@media (max-width: 79.95em) { #life-events { background-image: none; } }

#track-banner { background-image: -webkit-gradient( linear, right top, left top, from(hsl( 179, 33%, 76% )), color-stop(5.6%, hsl( 184, 33%, 82% )), color-stop(16.5%, hsl( 203, 32%, 92% )), color-stop(62.5%, transparent), color-stop(71.5%, transparent), to(hsl( 187, 34%, 85% )) ); background-image: linear-gradient( 270deg, hsl( 179, 33%, 76% ), hsl( 184, 33%, 82% ) 5.6%, hsl( 203, 32%, 92% ) 16.5%, transparent 62.5%, transparent 71.5%, hsl( 187, 34%, 85% ) ); }
#track-banner .banner { background: url("../../multimedia/images/x-large/xl-people-1.jpg") no-repeat 35%/cover; -webkit-transform: skewY(3.9deg); transform: skewY(3.9deg); }
#track-banner .banner .content-container { width: 100%; max-width: 117rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 49rem; padding: 0 4.5rem 3rem; -webkit-transform: skewY(-3.9deg); transform: skewY(-3.9deg); }
@media (max-width: 40.6em) { #track-banner .banner .content-container { -webkit-transform: none; transform: none; } }
@media (max-width: 40.6em) { #track-banner .banner { -webkit-transform: none; transform: none; } }
#track-banner .banner .content-container .text-container { width: 100%; max-width: 38rem; margin-left: 4.5rem; }
#track-banner .banner .content-container .text-container .heading-container { margin-bottom: 2rem; }
#track-banner .banner .content-container .text-container .heading-container .title { color: white; text-transform: uppercase; }
#track-banner .banner .content-container .text-container .heading-container .title > [class$="line"] { display: block; }
#track-banner .banner .content-container .text-container .heading-container .title > [class$="line"][class^="side"] { font-size: 4.4rem; font-weight: 400; margin-bottom: 1rem; }
#track-banner .banner .content-container .text-container .heading-container .title > [class$="line"][class^="main"] { font-size: 4.4rem; font-weight: 500; }
@media (max-width: 27.45em) { #track-banner .banner .content-container .text-container .heading-container .title > [class$="line"][class^="side"] { font-size: 3.8rem; } }
@media (max-width: 23.1em) { #track-banner .banner .content-container .text-container .heading-container .title > [class$="line"][class^="side"] { margin-bottom: 0; } }
@media (max-width: 23.1em) { #track-banner .banner .content-container .text-container .heading-container .title > [class$="line"][class^="main"] .line { display: block; } }
@media (max-width: 27.45em) { #track-banner .banner .content-container .text-container .heading-container .title > [class$="line"][class^="main"] { font-size: 3.8rem; } }
@media (max-width: 62.45em) and (min-width: 33.11em) { #track-banner .banner .content-container .text-container .heading-container .title > [class$="line"] { display: inline; } }
@media (max-width: 23.1em) { #track-banner .banner .content-container .text-container .heading-container .title { line-height: 1.1; } }
#track-banner .banner .content-container .text-container .side-image { display: block; max-width: 45rem; margin: 0 auto 2rem; }
#track-banner .banner .content-container .text-container .text-set { color: #ededed; font-size: 1.2rem; font-weight: 300; line-height: 1.83; margin-bottom: 3.5rem; }
@media (max-width: 62.45em) { #track-banner .banner .content-container .text-container .text-set { font-size: 1.3rem; max-width: 45rem; } }
@media (max-width: 27.45em) { #track-banner .banner .content-container .text-container .text-set { font-size: 1.2rem; } }
#track-banner .banner .content-container .text-container .button-container button[name='quote'] { font-size: 1.8rem; text-transform: uppercase; color: #1d6358; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 2.8rem 1.4rem; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 78%, 83% )), to(hsl( 193, 36%, 64% )) ); background-image: linear-gradient( 90deg, hsl( 198, 78%, 83% ), hsl( 193, 36%, 64% ) ); -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#track-banner .banner .content-container .text-container .button-container button[name='quote'] { -webkit-box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
#track-banner .banner .content-container .text-container .button-container button[name='quote']:hover, #track-banner .banner .content-container .text-container .button-container button[name='quote']:focus { -webkit-transform: translateY(-0.3rem) scale(1.008); transform: translateY(-0.3rem) scale(1.008); -webkit-box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); }
#track-banner .banner .content-container .text-container .button-container button[name='quote']:active { -webkit-transform: translateY(-0.4rem) scale(1.012); transform: translateY(-0.4rem) scale(1.012); -webkit-box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); }
@media (max-width: 68.7em) { #track-banner .banner .content-container .text-container { margin-left: 0; } }
@media (max-width: 62.45em) { #track-banner .banner .content-container .text-container { max-width: 50rem; margin-bottom: 3rem; text-align: center; } }
@media (max-width: 33.11em) { #track-banner .banner .content-container .text-container { margin-bottom: 0.5rem; } }
#track-banner .banner .content-container > .side-image { margin-bottom: 6rem; margin-right: 0.5rem; }
@media (max-width: 74.95em) { #track-banner .banner .content-container { padding: 0 1.5rem 3rem; } }
@media (max-width: 62.45em) { #track-banner .banner .content-container { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; } }
@media (max-width: 27.45em) { #track-banner .banner .content-container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

#testimonials { position: relative; }
#testimonials .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 13rem 4.5rem 14.5rem; }
#testimonials .content-container > .heading-container { margin-bottom: 6.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#testimonials .content-container > .heading-container .heading-set .title { font: 700 7.5rem "Montserrat", sans-serif; color: #1da3dd; margin-bottom: 1rem; line-height: 1; text-transform: lowercase; }
#testimonials .content-container > .heading-container .heading-set .title .highlight { color: #5fc1e7; }
#testimonials .content-container > .heading-container .heading-set .title .gradient { color: transparent; background-image: linear-gradient( 135deg, #5fc1e7, #4bb8e4 50%, #1da3dd ); -webkit-background-clip: text; background-clip: text; }
@supports not (-webkit-background-clip: text) { #testimonials .content-container > .heading-container .heading-set .title .gradient { color: #5fc1e7; background-image: unset; } }
#testimonials .content-container > .heading-container .heading-set .subtitle { font-size: 1.4rem; font-weight: 500; color: #36464e; text-transform: uppercase; letter-spacing: .2rem; text-indent: 1.4rem; }
@media (max-width: 31.2em) { #testimonials .content-container > .heading-container .heading-set .title { font-size: 14vw; } }
@media (max-width: 24.95em) { #testimonials .content-container > .heading-container .heading-set .subtitle .removable { display: none; } }
#testimonials .content-container > .heading-container .testimonials-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#testimonials .content-container > .heading-container .testimonials-nav .trustpilot { margin-right: 8.7rem; }
@media (max-width: 70.6em) { #testimonials .content-container > .heading-container .testimonials-nav .trustpilot { margin-right: 0; } }
@media (max-width: 43.7em) { #testimonials .content-container > .heading-container .testimonials-nav .trustpilot { display: none; } }
#testimonials .content-container > .heading-container .testimonials-nav .arrows-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#testimonials .content-container > .heading-container .testimonials-nav .arrows-set [class$="arr"] { height: 3rem; padding: .8rem 0; cursor: pointer; }
#testimonials .content-container > .heading-container .testimonials-nav .arrows-set [class$="arr"] img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#testimonials .content-container > .heading-container .testimonials-nav .arrows-set .larr { margin-right: 10.5rem; }
#testimonials .content-container > .heading-container .testimonials-nav .arrows-set .larr::after { content: "|"; color: #e0e6e5; font-size: 3.6rem; position: relative; right: -7.9rem; top: -3.5rem; cursor: default; }
@media (max-width: 43.7em) { #testimonials .content-container > .heading-container { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; } }
#testimonials .content-container .testimonial-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#testimonials .content-container .testimonial-content .slideshow-image { width: 58rem; -webkit-filter: drop-shadow( .8rem .8rem 1rem rgba(0, 0, 0, 0.25) ); filter: drop-shadow( .8rem .8rem 1rem rgba(0, 0, 0, 0.25) ); }
@media (max-width: 70.6em) { #testimonials .content-container .testimonial-content .slideshow-image { margin-bottom: 3.5rem; } }
@media (max-width: 40.6em) { #testimonials .content-container .testimonial-content .slideshow-image { width: 85vw; } }
#testimonials .content-container .testimonial-content .arrows-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 12rem; margin-bottom: 3rem; }
#testimonials .content-container .testimonial-content .arrows-set [class$="arr"] { cursor: pointer; }
@media (max-width: 40.6em) { #testimonials .content-container .testimonial-content .arrows-set [class$="arr"] { width: 1.4rem; } }
@media (max-width: 31.2em) { #testimonials .content-container .testimonial-content .arrows-set [class$="arr"] { width: 1.2rem; } }
#testimonials .content-container .testimonial-content .slideshow-text { max-width: 46rem; margin-right: 6.4rem; position: relative; }
#testimonials .content-container .testimonial-content .slideshow-text .heading-container { margin-bottom: 3.5rem; }
#testimonials .content-container .testimonial-content .slideshow-text .heading-container .title { color: #467286; font-size: 3.2rem; font-weight: 500; }
@media (max-width: 40.6em) { #testimonials .content-container .testimonial-content .slideshow-text .heading-container .title { font-size: 3rem; } }
@media (max-width: 31.2em) { #testimonials .content-container .testimonial-content .slideshow-text .heading-container .title { font-size: 2.8rem; } }
@media (max-width: 24.95em) { #testimonials .content-container .testimonial-content .slideshow-text .heading-container .title { font-size: 2.5rem; } }
@media (max-width: 40.6em) { #testimonials .content-container .testimonial-content .slideshow-text .heading-container { margin-bottom: 2rem; } }
#testimonials .content-container .testimonial-content .slideshow-text .text-set { font-size: 2.2rem; font-weight: 300; color: #546d78; line-height: 1.62; margin-bottom: 4.5rem; }
#testimonials .content-container .testimonial-content .slideshow-text .text-set .quote::before { content: '"'; }
#testimonials .content-container .testimonial-content .slideshow-text .text-set .quote::after { content: '"'; }
@media (max-width: 40.6em) { #testimonials .content-container .testimonial-content .slideshow-text .text-set { font-size: 2rem; margin-bottom: 3.5rem; } }
@media (max-width: 31.2em) { #testimonials .content-container .testimonial-content .slideshow-text .text-set { font-size: 1.8rem; margin-bottom: 2.5rem; } }
@media (max-width: 24.95em) { #testimonials .content-container .testimonial-content .slideshow-text .text-set { font-size: 1.5rem; margin-bottom: 1.5rem; } }
#testimonials .content-container .testimonial-content .slideshow-text .footer-container { font-size: 2.2rem; font-weight: 500; color: #546d78; line-height: 1.62; text-align: left; }
#testimonials .content-container .testimonial-content .slideshow-text .footer-container .name { color: #546d78; }
@media (max-width: 40.6em) { #testimonials .content-container .testimonial-content .slideshow-text .footer-container { font-size: 2rem; } }
@media (max-width: 31.2em) { #testimonials .content-container .testimonial-content .slideshow-text .footer-container { font-size: 1.8rem; } }
@media (max-width: 24.95em) { #testimonials .content-container .testimonial-content .slideshow-text .footer-container { font-size: 1.6rem; } }
#testimonials .content-container .testimonial-content .slideshow-text::before { content: url("../../multimedia/images/small/s-quote-1.png"); position: absolute; top: -12rem; left: -11.3rem; }
#testimonials .content-container .testimonial-content .slideshow-text::after { content: url("../../multimedia/images/x-small/xs-quote-1.png"); position: absolute; bottom: -6.4rem; right: -6.4rem; }
@media (max-width: 96.85em) { #testimonials .content-container .testimonial-content .slideshow-text::before, #testimonials .content-container .testimonial-content .slideshow-text::after { content: ""; } }
@media (max-width: 81.2em) { #testimonials .content-container .testimonial-content .slideshow-text { margin-right: 0; } }
@media (max-width: 70.6em) { #testimonials .content-container .testimonial-content .slideshow-text { max-width: 86rem; text-align: center; } }
@media (max-width: 70.6em) { #testimonials .content-container .testimonial-content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media (max-width: 74.95em) { #testimonials .content-container { padding: 13rem 1.5rem 14.5rem; } }
@media (max-width: 31.2em) { #testimonials .content-container { padding: 7rem 1.5rem 7rem; } }
#testimonials .smudge { position: absolute; bottom: -31rem; right: 0; z-index: -1; }
@media (max-width: 96.85em) { #testimonials .smudge { display: none; } }

#picklife .content-container { width: 100%; max-width: 120rem; margin: 0 auto 0; padding-bottom: 12.4rem; }
#picklife .content-container > .heading-container { margin-bottom: 6rem; }
#picklife .content-container > .heading-container .heading-set { display: inline-block; position: relative; }
#picklife .content-container > .heading-container .heading-set::after { display: inline-block; content: url("../../multimedia/images/x-small/xs-ilustration-1.png"); position: absolute; right: -15rem; bottom: 0; }
#picklife .content-container > .heading-container .heading-set .title { font: 700 9rem "Montserrat", sans-serif; color: #1da3dd; margin-bottom: 1rem; line-height: 1; text-transform: lowercase; }
#picklife .content-container > .heading-container .heading-set .title .highlight { color: #5fc1e7; }
#picklife .content-container > .heading-container .heading-set .title .gradient { color: transparent; background-image: linear-gradient( 135deg, #5fc1e7, #4bb8e4 50%, #1da3dd ); -webkit-background-clip: text; background-clip: text; }
@supports not (-webkit-background-clip: text) { #picklife .content-container > .heading-container .heading-set .title .gradient { color: #5fc1e7; background-image: unset; } }
#picklife .content-container > .heading-container .heading-set .subtitle { font-size: 1.4rem; font-weight: 500; color: #36464e; text-transform: uppercase; letter-spacing: .2rem; text-indent: 3.9rem; }
@media (max-width: 74.95em) { #picklife .content-container > .heading-container .heading-set::after { right: -10rem; } }
@media (max-width: 78.1em) and (min-width: 75em) { #picklife .content-container > .heading-container { padding-left: 2.5rem; } }
@media (max-width: 74.95em) { #picklife .content-container > .heading-container { text-align: center; } }
#picklife .content-container .articles-block { width: 100%; border-collapse: collapse; }
#picklife .content-container .articles-block .articles-group .content-box { background-position: center; background-size: cover; background-repeat: no-repeat; width: 40rem; height: 25.5rem; vertical-align: bottom; }
#picklife .content-container .articles-block .articles-group .content-box.dolorum { background-image: url("../../multimedia/images/medium/m-dolorum-1.jpg"); }
#picklife .content-container .articles-block .articles-group .content-box.etiam { background-image: url("../../multimedia/images/medium/m-etiam-1.jpg"); }
#picklife .content-container .articles-block .articles-group .content-box.morbi { background-image: url("../../multimedia/images/medium/m-morbi-1.jpg"); }
#picklife .content-container .articles-block .articles-group .content-box.curabitur { background-image: url("../../multimedia/images/medium/m-curabitur-1.jpg"); }
#picklife .content-container .articles-block .articles-group .content-box.nulla { background-image: url("../../multimedia/images/medium/m-nulla-1.jpg"); }
#picklife .content-container .articles-block .articles-group .content-box.cras { background-image: url("../../multimedia/images/medium/m-cras-1.jpg"); }
#picklife .content-container .articles-block .articles-group .content-box.featured article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-sizing: border-box; box-sizing: border-box; color: #546d78; }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .description-container .heading-container { color: #253137; }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .description-container .heading-container time { display: block; font-size: 1.2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: default; }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .description-container .heading-container .title { font-weight: 500; }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .know-more { width: 1.6rem; height: 1.6rem; border-radius: 50%; background-color: transparent; border: solid 0.2rem #4269ae; position: relative; cursor: pointer; }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .know-more::before, #picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .know-more::after { content: ""; display: inline-block; width: 0.8rem; height: 0.2rem; background-color: #4269ae; }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .know-more::before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#picklife .content-container .articles-block .articles-group .content-box.featured article .info-box .know-more::after { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(1) article { padding: 4.6rem 4rem; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .heading-container { margin-bottom: 2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 64rem; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .heading-container time { margin-bottom: 1.2rem; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .heading-container .title { font-size: 2.6rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .description { max-width: 56rem; font-size: 1.6rem; line-height: 1.5; height: 4.8rem; overflow: hidden; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(2) article { padding: 3rem; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container { max-width: 20rem; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container .heading-container time { margin-bottom: 0.9rem; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container .heading-container .title { font-size: 2rem; letter-spacing: -0.2rem; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container .description { display: none; }
#picklife .content-container .articles-block .articles-group .content-box.featured:nth-of-type(2) article .info-box .know-more { -webkit-filter: brightness(50%); filter: brightness(50%); }
#picklife .content-container .articles-block .articles-group .content-box:not(.featured) article { display: none; }
@media (max-width: 74.95em) { #picklife .content-container .articles-block .articles-group .content-box { display: none; } }
@media (max-width: 74.95em) and (max-width: 74.95em) and (min-width: 43.75em) { #picklife .content-container .articles-block .articles-group .content-box.featured:first-of-type { display: table-cell; height: 42rem; } }

@media (max-width: 74.95em) and (max-width: 74.95em) and (min-width: 43.75em) and (max-width: 53.1em) { #picklife .content-container .articles-block .articles-group .content-box.featured:first-of-type article { padding: 1.6rem 2rem; }
  #picklife .content-container .articles-block .articles-group .content-box.featured:first-of-type article .info-box .description-container .heading-container { max-width: 62rem; } }

@media (max-width: 43.7em) { #picklife { display: none; } }

#quote-banner { margin-bottom: 18.8rem; }
#quote-banner { background-image: -webkit-gradient( linear, right top, left top, from(hsl( 179, 33%, 76% )), color-stop(5.6%, hsl( 184, 33%, 82% )), color-stop(16.5%, hsl( 203, 32%, 92% )), color-stop(62.5%, transparent), color-stop(71.5%, transparent), to(hsl( 187, 34%, 85% )) ); background-image: linear-gradient( 270deg, hsl( 179, 33%, 76% ), hsl( 184, 33%, 82% ) 5.6%, hsl( 203, 32%, 92% ) 16.5%, transparent 62.5%, transparent 71.5%, hsl( 187, 34%, 85% ) ); }
#quote-banner .banner { background: url("../../multimedia/images/x-large/xl-people-2.jpg") no-repeat 60%/cover; -webkit-transform: skewY(3.9deg); transform: skewY(3.9deg); }
#quote-banner .banner .content-container { width: 100%; max-width: 124.5rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 49rem; padding: 0 4.5rem 3rem; -webkit-transform: skewY(-3.9deg); transform: skewY(-3.9deg); }
@media (max-width: 40.6em) { #quote-banner .banner .content-container { -webkit-transform: none; transform: none; } }
@media (max-width: 40.6em) { #quote-banner .banner { -webkit-transform: none; transform: none; } }
#quote-banner .banner .content-container .heading-container { max-width: 51.6rem; }
#quote-banner .banner .content-container .heading-container .title { color: white; text-transform: uppercase; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"] { display: block; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"][class^="side"] { font-size: 4.4rem; font-weight: 400; margin-bottom: 1.2rem; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"][class^="main"] { font-size: 4.4rem; font-weight: 500; }
@media (max-width: 74.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="side"] { font-size: 3.2rem; } }
@media (max-width: 39.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="side"] { display: none; } }
@media (max-width: 74.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="main"] { font-size: 3.4rem; } }
@media (max-width: 22.45em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="main"] { font-size: 3rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container .heading-container .title [class$="line"] { display: inline; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container .heading-container { max-width: none; margin-bottom: 3rem; } }
#quote-banner .banner .content-container [name^="quote-form"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 58.4rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body { margin-bottom: 2.7rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field { margin-bottom: 1.4rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field label[for^="zip"] { display: block; font-size: 3rem; font-weight: 500; color: black; text-transform: uppercase; margin-bottom: 3.5rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 2.5rem; color: black; background-color: #f5f1ef; border: solid 0.1rem #e0e0e0; border-left: solid 0.3rem #a1bab5; -webkit-transition: all 0.65s ease-in-out; transition: all 0.65s ease-in-out; width: 100%; padding: 2.7rem 2.2rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-webkit-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus { border-color: #a1bab5; background-color: rgba(102, 138, 131, 0.3); }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-webkit-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus:-ms-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-ms-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::placeholder { opacity: 0; }
@media (max-width: 28.1em) { #quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { padding: 2.4rem 1.6rem; font-size: 2rem; } }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id=zip] { color: black; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote'] { font-size: 1.8rem; text-transform: uppercase; color: #1d6358; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 2.8rem 1.4rem; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 78%, 83% )), to(hsl( 193, 36%, 64% )) ); background-image: linear-gradient( 90deg, hsl( 198, 78%, 83% ), hsl( 193, 36%, 64% ) ); -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote'] { -webkit-box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:hover, #quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:focus { -webkit-transform: translateY(-0.3rem) scale(1.008); transform: translateY(-0.3rem) scale(1.008); -webkit-box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:active { -webkit-transform: translateY(-0.4rem) scale(1.012); transform: translateY(-0.4rem) scale(1.012); -webkit-box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); }
#quote-banner .banner .content-container [name^="quote-form"] .message { color: #fafafa; font-size: 1.8rem; }
#quote-banner .banner .content-container [name^="quote-form"] .message a { color: white; }
@media (max-width: 74.95em) { #quote-banner .banner .content-container [name^="quote-form"] { max-width: 48.4rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container [name^="quote-form"] { width: 100%; max-width: 60rem; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; text-align: center; margin-bottom: 3rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }
@media (max-width: 56.2em) { #quote-banner .banner .content-container { padding: 0 1.5rem 3rem; } }
@media (max-width: 74.95em) { #quote-banner .banner { background-position: 40%; } }

#top-footer .contact-section { background-color: #e8e8e8; }
#top-footer .contact-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 9.5rem 4.5rem 4.5rem; }
#top-footer .contact-section .content-container .contact-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 6.2rem; }
#top-footer .contact-section .content-container .contact-row .logo { -ms-flex-item-align: start; align-self: flex-start; }
#top-footer .contact-section .content-container .contact-row .logo img { width: 27rem; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .logo { width: 100%; margin-bottom: 2rem; text-align: center; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row .logo { margin-bottom: 4rem; } }
#top-footer .contact-section .content-container .contact-row .contact-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.6rem; color: #546d78; cursor: default; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address { margin-right: 8.4rem; margin-top: 2.9rem; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address .description .line { display: block; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address .description .line:not(:last-child) { margin-bottom: 0.5rem; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .contact-info .company-address { margin-top: 1rem; margin-right: 0; } }
#top-footer .contact-section .content-container .contact-row .contact-info .company-tel { font-weight: 500; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .contact-info { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row .contact-info { display: none; } }
#top-footer .contact-section .content-container .contact-row .social-list li { display: inline-block; }
#top-footer .contact-section .content-container .contact-row .social-list li:not(:last-child) { margin-right: 5.4rem; }
#top-footer .contact-section .content-container .contact-row .social-list li a { display: inline-block; width: 2.7rem; height: 2.7rem; background-repeat: no-repeat; background-position: center; background-size: contain; outline: none; }
#top-footer .contact-section .content-container .contact-row .social-list li a.twitter { background-image: url("../../multimedia/images/x-small/xs-twitter-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.facebook { background-image: url("../../multimedia/images/x-small/xs-facebook-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.youtube { background-image: url("../../multimedia/images/x-small/xs-youtube-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.linkedin { background-image: url("../../multimedia/images/x-small/xs-linkedin-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a { -webkit-filter: grayscale(100%) opacity(30%); filter: grayscale(100%) opacity(30%); -webkit-transition: -webkit-filter 1s ease-in-out; transition: -webkit-filter 1s ease-in-out; transition: filter 1s ease-in-out; transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out; }
#top-footer .contact-section .content-container .contact-row .social-list li a:hover, #top-footer .contact-section .content-container .contact-row .social-list li a:focus { -webkit-filter: grayscale(100%) opacity(60%); filter: grayscale(100%) opacity(60%); }
#top-footer .contact-section .content-container .contact-row .social-list li a:active { -webkit-filter: grayscale(100%) opacity(80%); filter: grayscale(100%) opacity(80%); }
@media (max-width: 22.45em) { #top-footer .contact-section .content-container .contact-row .social-list li:not(:last-child) { margin-right: 4rem; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 4rem; } }
#top-footer .contact-section .content-container .form-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#top-footer .contact-section .content-container .form-row form { -webkit-box-flex: 1; -ms-flex: 1 1 46.8rem; flex: 1 1 46.8rem; }
#top-footer .contact-section .content-container .form-row form .heading-container { margin-bottom: 3.5rem; }
#top-footer .contact-section .content-container .form-row form .heading-container .title { font-size: 1.8rem; font-weight: 500; color: #546d78; text-transform: uppercase; }
@media (max-width: 28.1em) { #top-footer .contact-section .content-container .form-row form .heading-container .title .removable { display: none; } }
@media (max-width: 22.45em) { #top-footer .contact-section .content-container .form-row form .heading-container .title { font-size: 1.6rem; } }
#top-footer .contact-section .content-container .form-row form:not(:last-of-type) { margin-right: 4rem; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.8rem; color: #546d78; background-color: #f5f1ef; border: solid 0.1rem #e0e0e0; border-left: solid 0.3rem #93cde6; -webkit-transition: all 0.65s ease-in-out; transition: all 0.65s ease-in-out; width: calc( 100% - 26.7rem - 1rem ); padding: 2.1rem 1rem 2.1rem 2rem; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::-webkit-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus { border-color: #93cde6; background-color: rgba(83, 145, 172, 0.15); }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::-webkit-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus:-ms-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::-ms-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::placeholder { opacity: 0; }
@media (max-width: 34.95em) { #top-footer .contact-section .content-container .form-row form [class$="field"] input { display: block; width: 100%; max-width: 45rem; margin: 0 auto 2rem; } }
#top-footer .contact-section .content-container .form-row form [class$="field"] button { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; color: white; font-size: 1.6rem; text-transform: uppercase; width: 26.7rem; padding: 2.4rem 1.2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 77%, 49% )), to(hsl( 201, 83%, 46% )) ); background-image: linear-gradient( 90deg, hsl( 198, 77%, 49% ), hsl( 201, 83%, 46% ) ); }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .form-row form { -ms-flex-preferred-size: auto; flex-basis: auto; text-align: center; width: 100%; max-width: 85rem; }
  #top-footer .contact-section .content-container .form-row form:not(:last-of-type) { margin-right: 0; margin-bottom: 4rem; } }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .form-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container { padding-top: 4.5rem; } }
@media (max-width: 56.2em) { #top-footer .contact-section .content-container { padding: 4.5rem 1.5rem; } }

#top-footer .links-section { background-color: #ebebeb; }
#top-footer .links-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 5rem 4.5rem; }
#top-footer .links-section .content-container .links-set { color: #546d78; }
#top-footer .links-section .content-container .links-set .title { display: block; font-size: 1.8rem; font-weight: 500; text-transform: capitalize; cursor: default; margin-bottom: 2.2rem; }
#top-footer .links-section .content-container .links-set .title::after { content: ""; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set .title { font-size: 1.5rem; } }
#top-footer .links-section .content-container .links-set .content { display: block; }
#top-footer .links-section .content-container .links-set .content ul { font-size: 1.4rem; }
#top-footer .links-section .content-container .links-set .content ul li:not(:last-child) { margin-bottom: 2.2rem; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set .content ul { font-size: 1.2rem; } }
#top-footer .links-section .content-container .links-set .content .magazine-list { font-weight: 500; color: #8fa3ae; }
#top-footer .links-section .content-container .links-set .content .magazine-list li { font-size: 1.8rem; }
#top-footer .links-section .content-container .links-set .content .magazine-list li:not(:last-child) { margin-bottom: 3rem; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set .content .magazine-list li { font-size: 1.4rem; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set .content .magazine-list li:not(:last-child) { margin-bottom: 0; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set .content .magazine-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
@media (max-width: 34.95em) { #top-footer .links-section .content-container .links-set .content .picklife-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #top-footer .links-section .content-container .links-set .content .picklife-list li:nth-child(n) { margin-bottom: 0; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.magazine { -ms-flex-preferred-size: 40%; flex-basis: 40%; -webkit-box-ordinal-group: -1; -ms-flex-order: -2; order: -2; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.product-learn .removable { display: none; } }
@media (max-width: 28.1em) { #top-footer .links-section .content-container .links-set.product-learn { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 34.95em) { #top-footer .links-section .content-container .links-set.picklife { -ms-flex-preferred-size: 100%; flex-basis: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }
@media (max-width: 28.1em) { #top-footer .links-section .content-container .links-set.resources { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.reviews { -ms-flex-preferred-size: 40%; flex-basis: 40%; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set { text-align: center; margin-bottom: 3rem; } }
@media (max-width: 55.6em) { #top-footer .links-section .content-container { padding: 4.5rem 1.5rem 0.5rem; } }

#top-footer .copyright-section { background-color: #ededed; }
#top-footer .copyright-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 5.2rem 4.5rem 3.8rem; }
#top-footer .copyright-section .content-container .nav-container { font-size: 1.2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #abb5ba; margin-bottom: 4rem; }
#top-footer .copyright-section .content-container .nav-container .logo { margin-right: 3.8rem; }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .nav-container .logo { display: none; } }
#top-footer .copyright-section .content-container .nav-container .pages-list li { display: inline-block; }
#top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child) { margin-right: 3.5rem; }
#top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child)::after { content: "/"; color: inherit; position: relative; right: -1.75rem; }
@media (max-width: 34.95em) { #top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child) { margin-right: 1rem; }
  #top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child)::after { content: ""; } }
@media (max-width: 22.45em) { #top-footer .copyright-section .content-container .nav-container .pages-list li:last-child { display: none; } }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .nav-container { margin-bottom: 2rem; } }
#top-footer .copyright-section .content-container .text-block { font-size: 1.2rem; color: #b0bec4; text-align: center; }
#top-footer .copyright-section .content-container .text-block .text-set { line-height: 1.83; margin-bottom: 3.2rem; }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .text-block .text-set { display: none; } }
#top-footer .copyright-section .content-container .text-block .copyright { cursor: default; }
@media (max-width: 56.2em) { #top-footer .copyright-section .content-container { padding: 4.5rem 1.5rem; } }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container { padding: 1.5rem 1.5rem; } }
/*# sourceMappingURL=front-page.css.map */