// Misturas Globais de Fontes

  // Museo Sans
  @mixin museo-sans( $hair-thin: false, $thin: false, $medium: false, $bold: false, $black: false, $italic: false, $all: true )
    { @if $hair-thin or $all
      { @font-face
          { font-family: "Museo Sans";
            src: local( "Museo Sans ExtraLeve" ), local( "Museo Sans HairThin" ), local( "MuseoSans-ExtraLeve" ), local( "MuseoSans-HairThin" ),
            url( "../../multimedia/fonts/museo-sans/MuseoSans-100.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-100.otf" );
            font-weight: 100; font-style: normal } }
      @if $thin or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Leve" ), local( "Museo Sans Thin" ), local( "MuseoSans-Leve" ), local( "MuseoSans-Thin" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-300.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-300.otf" );
              font-weight: 300; font-style: normal } }
      @if $medium or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Médio" ), local( "Museo Sans Medium" ), local( "MuseoSans-Médio" ), local( "MuseoSans-Medium" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-500.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-500.otf" );
              font-weight: 500; font-style: normal } }
      @if $bold or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Negrito" ), local( "Museo Sans Bold" ), local( "MuseoSans-Negrito" ), local( "MuseoSans-Bold" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-700.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-700.otf" );
              font-weight: 700; font-style: normal } }
      @if $black or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans ExtraNegrito" ), local( "Museo Sans Black" ), local( "MuseoSans-ExtraNegrito" ), local( "MuseoSans-Black" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-900.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-900.otf" );
              font-weight: 900; font-style: normal } }
      @if ( $hair-thin and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Itálico e Extraleve" ), local( "Museo Sans HairThin Italic" ), local( "MuseoSans-ItálicoExtraLeve" ), local( "MuseoSans-HairThinItalic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf" );
              font-weight: 100; font-style: italic } }
      @if ( $thin and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Itálico e Leve" ), local( "Museo Sans Thin Italic" ), local( "MuseoSans-ItálicoLeve" ), local( "MuseoSans-ThinItalic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf" );
              font-weight: 300; font-style: italic } }
      @if ( $medium and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Itálico e Médio" ), local( "Museo Sans Medium Italic" ), local( "MuseoSans-ItálicoMédio" ), local( "MuseoSans-MediumItalic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf" );
              font-weight: 500; font-style: italic } }
      @if ( $bold and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Itálico e Negrito" ), local( "Museo Sans Bold Italic" ), local( "MuseoSans-ItálicoNegrito" ), local( "MuseoSans-BoldItalic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf" );
              font-weight: 700; font-style: italic } }
      @if ( $black and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans Itálico e ExtraNegrito" ), local( "Museo Sans Black Italic" ), local( "MuseoSans-ItálicoExtraNegrito" ), local( "MuseoSans-BlackItalic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf" );
              font-weight: 900; font-style: italic } } }

  // Akrobat
  @mixin akrobat( $thin: false, $regular: false, $medium: false, $bold: false, $italic: false, $all: true )
    { @if $thin or $all
        { @font-face
						{ font-family: "Akrobat";
							src: local( "Akrobat Thin" ), local( "Akrobat-Thin" ),
							url( "../../multimedia/fonts/akrobat/Akrobat-Thin.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Thin.otf" );
							font-weight: 100; font-style: normal; font-stretch: normal } }
      @if $regular or $all
          { @font-face
  						{ font-family: "Akrobat";
  							src: local( "Akrobat Regular" ), local( "Akrobat-Regular" ),
  							url( "../../multimedia/fonts/akrobat/Akrobat-Regular.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Regular.otf" );
  							font-weight: 400; font-style: normal; font-stretch: normal } }
      @if $bold or $all
          { @font-face
  						{ font-family: "Akrobat";
  							src: local( "Akrobat Bold" ), local( "Akrobat-Bold" ),
  							url( "../../multimedia/fonts/akrobat/Akrobat-Bold.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Bold.otf" );
  							font-weight: 700; font-style: normal; font-stretch: normal } } }

  // GothamHTF
  @mixin gotham-htf( $thin: false, $medium: true, $bold: true, $italic: false, $all: true )
    { @if $thin or $all
        { @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Leve" ), local( "GothamHTF Thin" ), local( "GothamHTF-Leve" ), local( "GothamHTF-Thin" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Thin.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Thin.otf" );
							font-weight: 300; font-style: normal } }
      @if $medium or $all
        { @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Médio" ), local( "GothamHTF Medium" ), local( "GothamHTF-Médio" ), local( "GothamHTF-Medium" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Medium.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Medium.otf" );
							font-weight: 500; font-style: normal } }
			@if $bold or $all
				{ @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Negrito" ), local( "GothamHTF Bold" ), local( "GothamHTF-Negrito" ), local( "GothamHTF-Bold" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Bold.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Bold.otf" );
							font-weight: 700; font-style: normal } }
      @if ( $thin and $italic ) or $all
  			{ @font-face
  					{ font-family: "GothamHTF";
  						src: local( "GothamHTF Itálico e Leve" ), local( "GothamHTF Thin Italic" ), local( "GothamHTF-ItálicoLeve" ), local( "GothamHTF-ThinItalic" ),
  						url( "../../multimedia/fonts/gotham-htf/GothamHTF-ThinItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-ThinItalic.otf" );
  						font-weight: 300; font-style: italic } }
      @if ( $medium and $italic ) or $all
        { @font-face
            { font-family: "GothamHTF";
              src: local( "GothamHTF Itálico e Médio" ), local( "GothamHTF Medium Italic" ), local( "GothamHTF-ItálicoMédio" ), local( "GothamHTF-MediumItalic" ),
              url( "../../multimedia/fonts/gotham-htf/GothamHTF-MediumItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-MediumItalic.otf" );
              font-weight: 500; font-style: italic } }
			@if ( $bold and $italic ) or $all
				{ @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Itálico e Negrito" ), local( "Museo Sans Bold Italic" ), local( "GothamHTF-ItálicoNegrito" ), local( "GothamHTF-BoldItalic" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-BoldItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-BoldItalic.otf" );
							font-weight: 700; font-style: italic } } }
