@charset "UTF-8";
/* Animações */
@-webkit-keyframes moveInLeft { 0% { opacity: 0; -webkit-transform: translateX(-10rem); transform: translateX(-10rem); }
  80% { -webkit-transform: translateX(1rem); transform: translateX(1rem); }
  100% { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes moveInLeft { 0% { opacity: 0; -webkit-transform: translateX(-10rem); transform: translateX(-10rem); }
  80% { -webkit-transform: translateX(1rem); transform: translateX(1rem); }
  100% { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes moveInRight { 0% { opacity: 0; -webkit-transform: translateX(10rem); transform: translateX(10rem); }
  80% { -webkit-transform: translate(-1rem); transform: translate(-1rem); }
  100% { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes moveInRight { 0% { opacity: 0; -webkit-transform: translateX(10rem); transform: translateX(10rem); }
  80% { -webkit-transform: translate(-1rem); transform: translate(-1rem); }
  100% { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes moveInBottom { 0% { opacity: 0; -webkit-transform: translateY(5rem); transform: translateY(5rem); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes moveInBottom { 0% { opacity: 0; -webkit-transform: translateY(5rem); transform: translateY(5rem); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
/* Classes & Pseudoseletores */
.row::after { content: ""; display: table; clear: both; }

.act-btn { text-decoration: none; text-transform: uppercase; display: inline-block; padding: 1.5rem 4rem; border-radius: 5rem; position: relative; -webkit-transition: all .2s; transition: all .2s; cursor: pointer; -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.15); box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.15); }
.act-btn:hover { -webkit-transform: translateY(-0.3rem); transform: translateY(-0.3rem); -webkit-box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); -webkit-box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.25); box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.25); }
.act-btn:active, .act-btn:focus { outline: none; -webkit-transform: translateY(-0.1rem); transform: translateY(-0.1rem); -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); -webkit-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2); box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2); }
.act-btn::after { border-radius: inherit; position: absolute; top: 0; left: 0; z-index: -1; background-color: inherit; -webkit-transition: all 0.4s; transition: all 0.4s; }
.act-btn:hover::after { -webkit-transform: scaleX(1.4) scaleY(1.6); transform: scaleX(1.4) scaleY(1.6); opacity: 0; }

.arrow-btn { font-size: 1.6rem; -webkit-transition: all .5s ease-out; transition: all .5s ease-out; cursor: pointer; display: inline-block; color: #55c57a; text-decoration: none; padding: .3rem; border-bottom: 0.1rem solid #55c57a; }
.arrow-btn:hover { color: white; background-color: #55c57a; -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); -webkit-transform: translateY(-0.2rem); transform: translateY(-0.2rem); }
.arrow-btn:active { -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); -webkit-transform: translateY(-0.1rem); transform: translateY(-0.1rem); }

.colored-words, .colored-skewed-word { display: inline-block; color: transparent; -webkit-background-clip: text; }

.skewed-words:hover, .colored-skewed-word:hover { -webkit-transform: skew(15deg, 2deg) scale(1.1); transform: skew(15deg, 2deg) scale(1.1); text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
@media (max-width: 58.7em) { .skewed-words:hover, .colored-skewed-word:hover { -webkit-transform: skew(15deg, 1deg) scale(1.05); transform: skew(15deg, 1deg) scale(1.05); text-shadow: 0.3rem 0.6rem 2rem rgba(0, 0, 0, 0.2); } }
@media (max-width: 46.2em) { .skewed-words:hover, .colored-skewed-word:hover { -webkit-transform: none; transform: none; text-shadow: none; } }

.colored-skewed-word { -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }

/* Redefinição de Configurações */
*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html { font-size: 62.5%; }
@media (max-width: 74.95em) { html { font-size: 56.25%; } }
@media (max-width: 56.2em) { html { font-size: 50%; } }

body { font: 400 1.6rem/1.7 "Lato", "Arial", "Helvetica", sans-serif; color: #777777; border: solid 1.5rem white; border-bottom: none; background-color: #f7f7f7; }
@media (max-width: 56.2em) { body { border: none; } }

main > section { text-align: center; }
main > section h2, main > section h3 { text-transform: uppercase; cursor: default; }
main > section h2 { font-size: 3.5rem; font-weight: 700; letter-spacing: 0.2rem; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

ul, ol { list-style: none; }

::-moz-selection { background-color: #55c57a; }

::selection { background-color: #55c57a; }

/* Exibidor do Menu */
[for="menu-displayer"] { display: inline-block; width: 5rem; height: 5rem; padding: .8rem 0; border-radius: 50%; background-color: white; -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.25); box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.25); position: fixed; top: 2rem; right: 5rem; z-index: 3; cursor: pointer; }
[for="menu-displayer"] .menu-line { display: block; width: 50%; height: .3rem; background-color: #999999; margin: .6rem auto; -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
[for="menu-displayer"]:hover .menu-line:nth-of-type(1) { -webkit-transform: translateY(-0.1rem); transform: translateY(-0.1rem); }
[for="menu-displayer"]:hover .menu-line:nth-of-type(3) { -webkit-transform: translateY(0.1rem); transform: translateY(0.1rem); }
#menu-displayer:checked + [for="menu-displayer"] .menu-line:nth-of-type(1) { -webkit-transform: translateY(1rem) rotate(135deg); transform: translateY(1rem) rotate(135deg); }
#menu-displayer:checked + [for="menu-displayer"] .menu-line:nth-of-type(2) { opacity: 0; }
#menu-displayer:checked + [for="menu-displayer"] .menu-line:nth-of-type(3) { -webkit-transform: translateY(-0.8rem) rotate(-135deg); transform: translateY(-0.8rem) rotate(-135deg); }

#page-navigation-bg { display: inline-block; width: 4.4rem; height: 4.4rem; border-radius: 50%; background-image: radial-gradient(#349956, #8ed8a7); position: fixed; top: 2.3rem; right: 5.3rem; z-index: 1; -webkit-transition: -webkit-transform 1s cubic-bezier(0.12, 0.85, 0.87, 1); transition: -webkit-transform 1s cubic-bezier(0.12, 0.85, 0.87, 1); transition: transform 1s cubic-bezier(0.12, 0.85, 0.87, 1); transition: transform 1s cubic-bezier(0.12, 0.85, 0.87, 1), -webkit-transform 1s cubic-bezier(0.12, 0.85, 0.87, 1); }
#menu-displayer:checked ~ #page-navigation-bg { -webkit-transform: scale(80); transform: scale(80); }

#displayer-menu { opacity: 0; height: 100vh; width: 0; position: fixed; left: -20rem; top: 0; z-index: 2; -webkit-transition: opacity .4s .8s; transition: opacity .4s .8s; }
#displayer-menu ul { text-align: center; width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); counter-reset: displayer-list; }
#displayer-menu ul li { margin: 1rem 0; }
#displayer-menu ul li a { display: inline-block; font-size: 3rem; font-weight: 300; padding: 1rem 2rem; color: white; text-transform: uppercase; text-decoration: none; background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%); background-size: 220%; -webkit-transition: background-position .4s linear, color .2s ease .2s, -webkit-transform .4s ease-out; transition: background-position .4s linear, color .2s ease .2s, -webkit-transform .4s ease-out; transition: background-position .4s linear, color .2s ease .2s, transform .4s ease-out; transition: background-position .4s linear, color .2s ease .2s, transform .4s ease-out, -webkit-transform .4s ease-out; cursor: pointer; }
#displayer-menu ul li a::before { counter-increment: displayer-list; content: counter(displayer-list,decimal-leading-zero) ": "; }
#displayer-menu ul li a:hover { color: #55c57a; background-position: 100%; -webkit-transform: translateX(2rem); transform: translateX(2rem); }
@media (max-width: 22.45em) and (max-height: 27.45em) { #displayer-menu ul { text-align: left; top: 60%; }
  #displayer-menu ul li { margin: 0; } }
#menu-displayer:checked ~ #displayer-menu { width: 100%; opacity: 1; left: 0; }

@media (max-width: 56.2em) { [for="menu-displayer"] { top: 1rem; right: 1rem; }
  #page-navigation-bg { top: 1.3rem; right: 1.3rem; } }
/* Imagem Inicial */
#main_image { min-height: 52.5rem; height: 95vh; background: linear-gradient(135deg, rgba(142, 216, 167, 0.5), rgba(52, 153, 86, 0.5)), url("../../../multimedia/images/background/hero.jpg") right top/cover; position: relative; -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
#main_image figure { position: absolute; top: 2rem; left: 2%; }
#main_image figure img { min-height: 2.5rem; height: 5vh; }
@media (max-width: 39.3em) and (min-width: 35em) { #main_image { background-position-x: center; } }
@media (max-width: 29em) { #main_image { background-position-x: 75%; } }

#text_box { position: absolute; top: 40%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }
#text_box h1 { color: white; font-weight: 700; text-transform: uppercase; margin-bottom: 6rem; -webkit-backface-visibility: hidden; backface-visibility: hidden; cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#text_box h1 span { display: block; -webkit-animation-duration: 3s; animation-duration: 3s; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
#text_box h1 span:first-child { font-size: 4rem; letter-spacing: 2rem; -webkit-animation-name: moveInLeft; animation-name: moveInLeft; }
#text_box h1 span:last-child { font-size: 1.25rem; letter-spacing: 1.3rem; -webkit-animation-name: moveInRight; animation-name: moveInRight; }
@media (max-width: 52.45em) { #text_box h1 span:first-child { letter-spacing: 1.6rem; }
  #text_box h1 span:last-child { letter-spacing: 1rem; } }
@media (max-width: 37.45em) { #text_box h1 span:first-child { letter-spacing: 1.2rem; }
  #text_box h1 span:last-child { letter-spacing: 0.6rem; } }
#text_box .act-btn { color: #777777; background-color: white; }
#text_box .act-btn::after { content: ""; display: inline-block; width: 100%; height: 100%; }
@media (max-width: 37.45em) { #text_box .act-btn { font-size: 1.5rem; padding: 1.4rem 2.8rem; } }

/* Sobre Nós */
#about-us { padding: 25rem 0; margin-top: -20vh; margin-bottom: -15vh; }
@media (max-width: 46.2em) and (min-width: 35em) { #about-us { padding-bottom: 38rem; } }
#about-us h2 { background-image: -webkit-gradient(linear, left top, right top, from(#8ed8a7), to(#349956)); background-image: linear-gradient(90deg, #8ed8a7, #349956); margin-bottom: 4rem; }
#about-us h2 br { display: none; }
@media (max-width: 56.2em) { #about-us h2 { font-size: 3.2rem; } }
@media (max-width: 43.7em) { #about-us h2 { font-size: 2.8rem; } }
@media (max-width: 37.45em) { #about-us h2 { font-size: 2.2rem; } }
@media (max-width: 29.95em) { #about-us h2 br { display: initial; } }
#about-us .row { text-align: left; padding: 0 4%; }
#about-us .row .col-4-of-7 { font-size: 1.4rem; float: left; margin-right: 2rem; width: calc( ( 4 * ( 100% - ( 2rem * ( 7 - 1 ) ) )/7 ) + ( 2rem * ( 4 - 1 ) ) ); }
#about-us .row .col-4-of-7 .text-set { margin-bottom: 2rem; }
#about-us .row .col-4-of-7 .text-set h3 { font-size: 1.6rem; }
@media (max-width: 37.45em) { #about-us .row .col-4-of-7 .text-set h3 { font-size: 1.5rem; } }
@media (max-width: 22.45em) { #about-us .row .col-4-of-7 .text-set h3 { font-size: 1.4rem; }
  #about-us .row .col-4-of-7 .text-set h3 span { display: none; } }
@media (max-width: 87.45em) { #about-us .row .col-4-of-7 .text-set p { text-indent: 1.5rem; } }
#about-us .row .col-4-of-7 .arrow-btn { margin-bottom: 2rem; }
@media (max-width: 87.45em) { #about-us .row .col-4-of-7 { float: none; margin: 0 auto 2rem; text-align: justify; width: 100%; max-width: 95rem; }
  #about-us .row .col-4-of-7 h3 { text-align: center; margin-bottom: 0.5rem; }
  #about-us .row .col-4-of-7 .arrow-btn { margin-bottom: 0; } }
#about-us .row .col-3-of-7 { float: right; position: relative; width: calc( ( 3 * ( 100% - ( 2rem * ( 7 - 1 ) ) )/7 ) + ( 2rem * ( 3 - 1 ) ) ); height: 0; }
#about-us .row .col-3-of-7 img { min-width: 24rem; width: 45%; border-radius: 0.3rem; -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); outline-offset: 1.2rem; position: absolute; -webkit-transition: all .4s; transition: all .4s; }
#about-us .row .col-3-of-7 img:nth-child(1) { left: 2rem; top: 1.5rem; }
#about-us .row .col-3-of-7 img:nth-child(2) { right: 2rem; top: 1.5rem; }
#about-us .row .col-3-of-7 img:nth-child(3) { right: calc( 25% ); top: 6rem; }
#about-us .row .col-3-of-7 img:hover { -webkit-transform: scale(1.05) translateY(-0.5rem); transform: scale(1.05) translateY(-0.5rem); -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); outline: 1.5rem solid #55c57a; z-index: 1; }
#about-us .row .col-3-of-7:hover img:not(:hover) { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
@media (max-width: 87.45em) { #about-us .row .col-3-of-7 { float: none; width: 100%; }
  #about-us .row .col-3-of-7 img { float: left; position: static; width: calc( ( 1 * ( 100% - ( 5rem * ( 3 - 1 ) ) )/3 ) + ( 5rem * ( 1 - 1 ) ) ); }
  #about-us .row .col-3-of-7 img:not(:last-child) { margin-right: 5rem; } }
@media (max-width: 46.2em) and (min-width: 35em) { #about-us .row .col-3-of-7 img { width: calc( ( 1 * ( 100% - ( 10rem * ( 2 - 1 ) ) )/2 ) + ( 10rem * ( 1 - 1 ) ) ); }
  #about-us .row .col-3-of-7 img:nth-child(1) { margin-right: 10rem; }
  #about-us .row .col-3-of-7 img:nth-child(2) { margin: 0; }
  #about-us .row .col-3-of-7 img:nth-child(3) { float: none; display: block; margin: 0 auto; clear: left; }
  #about-us .row .col-3-of-7 img:not(:last-child) { margin-bottom: 4rem; }
  #about-us .row .col-3-of-7 img:hover { outline: none; -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.45); box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.45); } }
@media (max-width: 34.95em) { #about-us .row .col-3-of-7 { height: auto; }
  #about-us .row .col-3-of-7 img:first-child { float: none; display: block; width: 100%; margin: 0 auto; }
  #about-us .row .col-3-of-7 img:first-child:hover { -webkit-transform: scale(1.02) translateY(-0.3rem); transform: scale(1.02) translateY(-0.3rem); outline: none; -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.45); box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.45); }
  #about-us .row .col-3-of-7 img:not(:first-child) { display: none; } }

/* Características */
#features { height: 85rem; background: linear-gradient(135deg, rgba(52, 153, 86, 0.7), rgba(142, 216, 167, 0.7)), url("../../../multimedia/images/background/nat-4.jpg") no-repeat 100%/cover; -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 85%, 0 100%); clip-path: polygon(0 15vh, 100% 0, 100% 85%, 0 100%); position: relative; }
@media (max-width: 48.7em) { #features { height: 100rem; } }
@media (max-width: 39.3em) { #features { height: 150rem; } }
#features .row { line-height: 1.4; width: 75%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
@media (max-width: 74.95em) and (min-width: 56.25em), (max-width: 48.7em) { #features .row { width: 90%; } }
@media (max-width: 56.2em) and (min-width: 48.75em) { #features .row { width: 97%; } }
@media (max-width: 39.3em) { #features .row { top: 47%; } }
#features .row .col-1-of-4 { float: left; min-height: 30.8rem; padding: 2rem 1%; background: rgba(247, 247, 247, 0.5); border-radius: 0.3rem; -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); -webkit-transition: all .3s; transition: all .3s; width: calc( ( 1 * ( 100% - ( 3rem * ( 4 - 1 ) ) )/4 ) + ( 3rem * ( 1 - 1 ) ) ); }
#features .row .col-1-of-4:not(:last-child) { margin-right: 3rem; }
#features .row .col-1-of-4:hover { -webkit-transform: translateY(-0.5rem) scale(1.02); transform: translateY(-0.5rem) scale(1.02); -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5); box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5); }
#features .row .col-1-of-4 header img { margin-bottom: 3rem; }
#features .row .col-1-of-4 header h3 { font-size: 1.6rem; margin-bottom: 2rem; cursor: default; }
@media (max-width: 78.7em) { #features .row .col-1-of-4 header h3 { font-size: 1.5rem; } }
#features .row .col-1-of-4 p { font-size: 1.5rem; }
@media (max-width: 48.7em) { #features .row .col-1-of-4 { width: calc( ( 1 * ( 100% - ( 3rem * ( 2 - 1 ) ) )/2 ) + ( 3rem * ( 1 - 1 ) ) ); min-height: 23rem; margin-bottom: 3rem; }
  #features .row .col-1-of-4:nth-child(even) { margin-right: 0; }
  #features .row .col-1-of-4 header img { margin-bottom: 1.5rem; }
  #features .row .col-1-of-4 header h3 { margin-bottom: 1rem; } }
@media (max-width: 39.3em) { #features .row .col-1-of-4 { float: none; display: table; width: 100%; min-height: 15rem; }
  #features .row .col-1-of-4 header { display: table-cell; min-width: 15rem; white-space: nowrap; } }
@media (max-width: 39.3em) and (max-width: 22.45em) { #features .row .col-1-of-4 header h3 { font-size: 1.4rem; } }
@media (max-width: 39.3em) { #features .row .col-1-of-4 p { display: table-cell; vertical-align: middle; } }

/* Tour */
#tours { padding: 25rem 0 7.5rem; margin-top: -20rem; }
#tours h2 { background-image: -webkit-gradient(linear, left top, right top, from(#8ed8a7), to(#349956)); background-image: linear-gradient(90deg, #8ed8a7, #349956); margin-bottom: 3.5rem; }
@media (max-width: 23.7em) { #tours h2 { font-size: 2.7rem; } }
#tours .row { max-width: 140rem; padding: 0 4%; margin: 0 auto 4rem; }
@media (max-width: 67.45em) { #tours .row { margin-bottom: 0; } }
#tours .row .col-1-of-3 { float: left; max-width: 40rem; height: 49rem; width: calc( ( 1 * ( 100% - ( 6rem * ( 3 - 1 ) ) )/3 ) + ( 6rem * ( 1 - 1 ) ) ); position: relative; -webkit-perspective: 150rem; perspective: 150rem; visibility: hidden; }
@media (max-width: 67.45em) { #tours .row .col-1-of-3 { float: none; width: 100%; margin: 0 auto 5rem !important; } }
#tours .row .col-1-of-3:not(:last-child) { margin-right: 6rem; }
#tours .row .col-1-of-3 > div { width: 100%; height: 49rem; border-radius: 0.3rem; -webkit-box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.2); box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.2); position: absolute; top: 0; left: 0; visibility: visible; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: all .8s ease; transition: all .8s ease; }
#tours .row .col-1-of-3 > div.front { background-color: white; overflow: hidden; }
#tours .row .col-1-of-3 > div.front .card-image { height: 20rem; position: relative; }
#tours .row .col-1-of-3 > div.front .card-image .image { width: 100%; height: 100%; background-size: cover; -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
#tours .row .col-1-of-3 > div.front .card-image h3 { color: white; font-size: 2rem; font-weight: 300; width: 50%; padding: .4rem .8rem; border: solid 0.2rem white; position: absolute; bottom: 2.4rem; right: -.5rem; cursor: default; }
#tours .row .col-1-of-3 > div.front .card-details { text-align: center; width: 80%; padding: 3rem; margin: 0 auto; }
#tours .row .col-1-of-3 > div.front .card-details li { font-size: 1.5rem; padding: 1rem; }
#tours .row .col-1-of-3 > div.front .card-details li:not(:last-child) { border-bottom: solid 0.1rem #eeeeee; }
#tours .row .col-1-of-3 > div.back { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
#tours .row .col-1-of-3 > div.back .act-btn { color: #777777; background-color: white; }
#tours .row .col-1-of-3 > div.back .act-btn::after { content: ""; display: inline-block; width: 100%; height: 100%; }
#tours .row .col-1-of-3 > div.back > :first-child { margin-top: 30%; cursor: default; }
#tours .row .col-1-of-3 > div.back > :first-child p { color: white; font-variant: small-caps; font-size: 1.6rem; }
#tours .row .col-1-of-3 > div.back > :first-child p span { font-size: 4.2rem; letter-spacing: .3rem; display: block; }
#tours .row .col-1-of-3 > div.back > :first-child p span::before { content: "$"; }
#tours .row .col-1-of-3 > div.back .act-btn { margin-top: 30%; }
#tours .row .col-1-of-3:nth-child(1) .image { background-image: linear-gradient(135deg, rgba(255, 115, 48, 0.8), rgba(255, 185, 0, 0.8)), url("../../../multimedia/images/background/nat-5.jpg"); background-position: 50% 30%; background-blend-mode: color-burn; }
#tours .row .col-1-of-3:nth-child(1) h3 { background-color: rgba(255, 115, 48, 0.65); }
#tours .row .col-1-of-3:nth-child(1) .back { background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7330), to(#ffb900)); background-image: linear-gradient(#ff7330, #ffb900); }
#tours .row .col-1-of-3:nth-child(2) .image { background-image: linear-gradient(135deg, rgba(52, 153, 86, 0.7), rgba(142, 216, 167, 0.7)), url("../../../multimedia/images/background/nat-6.jpg"); background-position: 50% 60%; background-blend-mode: color; }
#tours .row .col-1-of-3:nth-child(2) h3 { background-color: rgba(52, 153, 86, 0.65); }
#tours .row .col-1-of-3:nth-child(2) .back { background-image: -webkit-gradient(linear, left top, left bottom, from(#349956), to(#8ed8a7)); background-image: linear-gradient(#349956, #8ed8a7); }
#tours .row .col-1-of-3:nth-child(3) .image { background-image: linear-gradient(135deg, rgba(86, 67, 250, 0.8), rgba(41, 136, 255, 0.8)), url("../../../multimedia/images/background/nat-7.jpg"); background-position: 50%; background-blend-mode: screen; }
#tours .row .col-1-of-3:nth-child(3) h3 { background-color: rgba(86, 67, 250, 0.65); }
#tours .row .col-1-of-3:nth-child(3) .back { background-image: linear-gradient(135deg, #5643fa, #2988ff); }
#tours .row .col-1-of-3:hover { -webkit-box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.35); box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.35); }
#tours .row .col-1-of-3:hover .front { -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); }
#tours .row .col-1-of-3:hover .back { -webkit-transform: rotateY(0); transform: rotateY(0); }
#tours .act-btn { color: white; background-color: #55c57a; }
#tours .act-btn { margin-top: 4rem; }

/* Tour – Pop-Up */
#booking-call { width: 100%; height: 100vh; opacity: 0; visibility: hidden; position: fixed; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.6); z-index: 3; -webkit-transition: opacity .6s; transition: opacity .6s; }
#booking-call > :only-child { display: table; width: 75%; opacity: 0; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) scale(0); transform: translate(-50%, -50%) scale(0); border: inset 0.3rem #55c57a; border-radius: .6rem; -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); background-color: white; position: relative; -webkit-transition: all .8s ease-out .6s; transition: all .8s ease-out .6s; }
#booking-call > :only-child > :not(.times) { display: table-cell; }
#booking-call > :only-child .exit { color: #999999; font-size: 3.5rem; line-height: 1; text-decoration: none; position: absolute; top: .6rem; right: 2rem; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: color .5s ease-out; transition: color .5s ease-out; }
#booking-call > :only-child .exit:hover { color: #dc0028; }
#booking-call:target { opacity: 1; visibility: visible; }
#booking-call:target > :only-child { opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }

#booking-call-img { width: 33.33%; }
#booking-call-img img { display: block; width: 100%; height: auto; }

#booking-call-text { text-align: left; vertical-align: middle; width: 66.66%; padding: 2rem 6%; }
#booking-call-text header { cursor: default; }
#booking-call-text header h3 { background-image: -webkit-gradient(linear, left top, right top, from(#8ed8a7), to(#349956)); background-image: linear-gradient(90deg, #8ed8a7, #349956); font-size: 3.6rem; }
#booking-call-text header strong { display: block; font-weight: 900; font-size: 1.8rem; text-transform: uppercase; margin: 2rem 0; }
#booking-call-text main div { -webkit-column-count: 2; column-count: 2; -webkit-column-gap: 4rem; column-gap: 4rem; -webkit-column-rule: solid 0.1rem #999999; column-rule: solid 0.1rem #999999; }
#booking-call-text main div p { -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }
#booking-call-text main div .act-btn { margin: 3.5rem 0; }

/* Testemunhos */
#stories { padding: 7.5rem 0; overflow: hidden; position: relative; background: transparent; }
#stories h2 { background-image: -webkit-gradient(linear, left top, right top, from(#8ed8a7), to(#349956)); background-image: linear-gradient(90deg, #8ed8a7, #349956); }
#stories h2 br { display: none; }
@media (max-width: 39.95em) { #stories h2 { font-size: 2.8rem; } }
@media (max-width: 31.8em) { #stories h2 { font-size: 3.5rem; line-height: 1.5; }
  #stories h2 br { display: initial; } }
@media (max-width: 23.7em) { #stories h2 { font-size: 2.8rem; } }
#stories video { opacity: .2; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top; position: absolute; top: 0; left: 0; z-index: -1; }
#stories > section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; line-height: 1.5; width: 75%; padding: 3rem; margin: 5rem auto; background-color: rgba(255, 255, 255, 0.6); -webkit-transform: skewX(-12deg); transform: skewX(-12deg); -webkit-box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.2); box-shadow: 0 1.8rem 4rem rgba(0, 0, 0, 0.2); }
#stories > section::after { content: ""; display: table; clear: both; }
#stories > section .stories-image { width: 15rem; height: 15rem; float: left; position: relative; -webkit-transform: skewX(12deg); transform: skewX(12deg); -webkit-clip-path: circle(50% at 50% 50%); clip-path: circle(50% at 50% 50%); shape-outside: circle(50% at 50% 50%); }
#stories > section .stories-image img { height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; -webkit-transform: scale(1.2); transform: scale(1.2); -webkit-transition: -webkit-transform 0.5s ease-out; transition: -webkit-transform 0.5s ease-out; transition: transform 0.5s ease-out; transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }
#stories > section .stories-image figcaption { color: white; font-size: 1.7rem; font-variant: small-caps; opacity: 0; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, 20%); transform: translate(-50%, 20%); -webkit-transition: all .5s ease-out; transition: all .5s ease-out; cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#stories > section .stories-image:hover img { -webkit-filter: brightness(90%) blur(0.2rem); filter: brightness(90%) blur(0.2rem); -webkit-transform: scale(1); transform: scale(1); -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#stories > section .stories-image:hover figcaption { opacity: 1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#stories > section .stories-text { display: inline-block; width: calc( 95% - 15rem ); -webkit-transform: skewX(12deg); transform: skewX(12deg); }
#stories > section .stories-text h3 { margin: 1.2rem 0; }
@media (max-width: 49.95em) { #stories > section { width: 95%; padding: 2rem 1.5rem; -webkit-transform: none; transform: none; }
  #stories > section .stories-image, #stories > section .stories-text { -webkit-transform: none; transform: none; }
  #stories > section .stories-text { width: calc( 100% - 15rem ); } }
@media (max-width: 39.95em) { #stories > section { width: 100%; padding: 2rem 1rem; }
  #stories > section .stories-text h3 { font-size: 1.6rem; } }
@media (max-width: 36.2em) { #stories > section { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #stories > section .stories-text { width: 100%; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; margin-bottom: 2rem; }
  #stories > section .stories-image { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }
@media (max-width: 23.7em) { #stories > section .stories-text h3 { font-size: 1.5rem; }
  #stories > section .stories-text h3 span { display: none; } }

/* Reservas */
#booking { padding: 10rem 0; background: linear-gradient(135deg, #349956, #8ed8a7); }
#booking #booking-container { width: 100%; max-width: 132rem; margin: 0 auto; background: linear-gradient(105deg, rgba(247, 247, 247, 0.85) 0%, rgba(247, 247, 247, 0.85) 50%, transparent 50.1%), linear-gradient(135deg, rgba(230, 190, 0, 0.8), rgba(230, 190, 0, 0.8)), url("../../../multimedia/images/background/nat-10.jpg") center/cover; background-blend-mode: normal, overlay; border-radius: 0.3rem; -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); }
#booking #booking-container form { width: 50%; padding: 3rem 3%; }
#booking #booking-container form :not(h3) { text-align: left; }
#booking #booking-container form h3 { color: #349956; font-size: 2rem; font-weight: 900; word-spacing: .5rem; margin-bottom: 4rem; }
#booking #booking-container form > label { display: block; margin-bottom: 4rem; }
#booking #booking-container form > label input { font-size: 1.5rem; font-family: inherit; width: calc( 100% - 1rem - 4.8rem - .4rem ); max-width: 35rem; padding: 1rem 1.4rem; border: none; border-bottom: solid .3rem transparent; border-radius: .2rem; margin-left: 1rem; margin-top: -0.4rem; background-color: rgba(255, 255, 255, 0.5); }
#booking #booking-container form > label input::-webkit-input-placeholder { color: #999999; }
#booking #booking-container form > label input:-ms-input-placeholder { color: #999999; }
#booking #booking-container form > label input::-ms-input-placeholder { color: #999999; }
#booking #booking-container form > label input::placeholder { color: #999999; }
#booking #booking-container form > label input:focus { outline: 0; -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
#booking #booking-container form > label input:focus:invalid { border-color: #e6be00; }
#booking #booking-container form > label input:focus:valid { border-color: #55c57a; }
#booking #booking-container form fieldset { all: initial; display: block; width: calc( 100% - 5.6rem ); margin: 0 0 4rem calc( 4.8rem + 1rem ); }
#booking #booking-container form fieldset div { display: inline-block; font: 1.5rem/1.2 "Lato", sans-serif; word-spacing: .3rem; }
#booking #booking-container form fieldset div:first-of-type { margin-right: calc( 35rem - ( 2 * 14.6rem ) ); }
#booking #booking-container form fieldset div label { cursor: pointer; position: relative; }
#booking #booking-container form fieldset div label :first-child { display: inline-block; width: 2.5rem; height: 2.5rem; border: solid 0.3rem #55c57a; border-radius: 50%; position: absolute; left: 0; top: -.3rem; }
#booking #booking-container form fieldset div label :first-child::after { content: ""; display: none; width: 1.2rem; height: 1.2rem; border-radius: 50%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #55c57a; }
#booking #booking-container form fieldset div label :last-child { margin-left: 3rem; }
#booking #booking-container form fieldset div input:checked + label :first-child::after { display: inline-block; }
#booking #booking-container form .act-btn { display: block; border: none; margin-bottom: 4rem; }
#booking #booking-container form .act-btn { color: white; background-color: #55c57a; }
#booking #booking-container form .act-btn::after { content: ""; display: inline-block; width: 100%; height: 100%; }
@media (max-width: 48.7em) { #booking #booking-container { background-image: linear-gradient(90deg, rgba(247, 247, 247, 0.7) 0%, rgba(247, 247, 247, 0.7) 100%), linear-gradient(135deg, rgba(230, 190, 0, 0.8), rgba(230, 190, 0, 0.8)), url("../../../multimedia/images/background/nat-10.jpg"); }
  #booking #booking-container form { width: 100%; }
  #booking #booking-container form::after { content: ""; display: table; clear: both; }
  #booking #booking-container form > label, #booking #booking-container form fieldset { color: black; text-align: center; }
  #booking #booking-container form label input { background-color: white; }
  #booking #booking-container form label input::-webkit-input-placeholder { color: #282828; }
  #booking #booking-container form label input:-ms-input-placeholder { color: #282828; }
  #booking #booking-container form label input::-ms-input-placeholder { color: #282828; }
  #booking #booking-container form label input::placeholder { color: #282828; }
  #booking #booking-container form .act-btn { float: right; }
  #booking #booking-container form .act-btn:hover::after { -webkit-transform: scaleX(1.2) scaleY(1.4); transform: scaleX(1.2) scaleY(1.4); } }
@media (max-width: 31.2em) { #booking #booking-container form > label input { width: 26.5rem; }
  #booking #booking-container form fieldset { width: 100%; margin: 0 0 4rem; }
  #booking #booking-container form fieldset div:first-of-type { margin-right: 3.4rem; }
  #booking #booking-container form .act-btn { float: none; margin: 0 auto 4rem; } }

/* Rodapé */
#nat-footer { padding: 5rem 3%; background-color: #282828; }
@media (max-width: 88.7em) { #nat-footer { padding: 5rem 0; } }
@media (max-width: 62.45em) { #nat-footer { padding-bottom: 1rem; } }
#nat-footer > picture { display: block; width: 100%; max-width: 16rem; margin: 0 auto 4rem; }
#nat-footer > picture img { width: 100%; height: 100%; -o-object-fit: contain; object-fit: contain; }
@media (max-width: 62.45em) and (min-width: 40.6em) { #nat-footer > div { padding: 0 10rem; } }
#nat-footer > div #footer-menu, #nat-footer > div #footer-text { width: calc( 48% - 16rem/2 ); padding: 1.6rem 0; border-top: solid 0.2rem #999999; }
@media (max-width: 88.7em) { #nat-footer > div #footer-menu, #nat-footer > div #footer-text { padding: 1rem 0; } }
#nat-footer > div #footer-menu { float: left; text-align: center; }
#nat-footer > div #footer-menu ul { font-size: 1.5rem; }
#nat-footer > div #footer-menu ul li { display: inline-block; }
#nat-footer > div #footer-menu ul li:not(:last-child) { margin-right: 2.5rem; }
#nat-footer > div #footer-menu ul li a { display: inline-block; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; cursor: pointer; color: white; text-decoration: none; text-transform: uppercase; }
#nat-footer > div #footer-menu ul li a:hover { color: #55c57a; -webkit-transform: scale(1.05) skew(-4deg, -8deg); transform: scale(1.05) skew(-4deg, -8deg); }
@media (max-width: 88.7em) { #nat-footer > div #footer-menu ul li:not(:last-child) { margin-right: 2rem; } }
@media (max-width: 82.45em) and (min-width: 62.5em) { #nat-footer > div #footer-menu ul { font-size: 1.4rem; padding: 0 1rem; }
  #nat-footer > div #footer-menu ul::after { content: ""; display: table; clear: both; }
  #nat-footer > div #footer-menu ul li:nth-child(1), #nat-footer > div #footer-menu ul li:nth-child(4) { float: left; clear: right; }
  #nat-footer > div #footer-menu ul li:nth-child(3), #nat-footer > div #footer-menu ul li:nth-child(5) { float: right; margin: 0; } }
@media (max-width: 62.45em) { #nat-footer > div #footer-menu { float: none; width: 100%; } }
@media (max-width: 40.55em) { #nat-footer > div #footer-menu ul { font-size: 1.4rem; } }
@media (max-width: 26.2em) { #nat-footer > div #footer-menu ul li:not(:last-child) { margin-right: 1rem; }
  #nat-footer > div #footer-menu ul li:not(:last-child) span { display: none; } }
#nat-footer > div #footer-text { float: right; text-align: justify; }
#nat-footer > div #footer-text p { color: white; font-size: 1.2rem; line-height: 1.4; margin-right: 1.5rem; }
@media (max-width: 62.45em) { #nat-footer > div #footer-text { float: none; width: 100%; padding-top: 3rem; }
  #nat-footer > div #footer-text p { margin-right: 0; } }
@media (max-width: 40.55em) { #nat-footer > div #footer-text p { padding: 0 2rem; } }
/*# sourceMappingURL=natours.css.map */