@charset "UTF-8";

// Variáveis
	// Cores
	$c0: rgb( 119, 119, 119 );
		$c0_1: rgb( 0, 0, 0 ); $c0_2: rgb( 238, 238, 238 ); $c0_3: rgb( 247, 247, 247 );	$c0_4: rgb( 255, 255, 255 ); $c0_5: rgb( 153, 153, 153 ); $c0_6: rgb( 40, 40, 40 );
	$c1_1: rgb( 220, 0, 40 );
	$c2_1: rgb(255,115,48); $c2_2: rgb( 255, 185, 0 ); $c2_3: rgb( 230, 190, 0 );
	$c6: rgb( 85, 197, 122 );
		$c6_1: darken( $c6, 15% );	$c6_2: lighten( $c6, 15% );
	$c8_1: rgb( 86, 67, 250 ); $c8_2: rgb( 41, 136, 255 );


	// Fontes
	$f1: "Lato", "Arial", "Helvetica", sans-serif;

	// Sombras
	$bs-light: 0 1.8rem 4rem rgba( $c0_1, .2 ); $bs-light-h: 0 1.8rem 4rem rgba( $c0_1, .35 );
	$bs-medium: 0 1.5rem 2rem rgba( $c0_1, .3 ); $bs-medium-h: 0 1.5rem 2rem rgba( $c0_1, .5 );

	// Bordas Arredondadas
	$b-rad-default: .3rem;

// Misturas & Extensões
	// Rebaseia as medidas de um ascendente a de seus descendentes enquanto elementos flutuantes
	@mixin clearfix()
		{ &::after { content: ""; display: table; clear: both } };

	// Indica que o pseudoelemento não terá conteúdo textual
	@mixin null-content( $width: 100%, $height: 100% )
		{ content: ""; display: inline-block; width: $width; height: $height };

	// Centraliza horizontal e verticalmente objetos posicionados
  @mixin abs-center( $direction: both, $position: absolute, $add-transform: false )
		{ $transform: null; position: $position;
      @if $direction == both
        { top: 50%; left: 50%; $transform: translate( -50%, -50% ) }
      @else
        { #{ $direction }: 50%; $transform: if( $direction == left, translateX( -50% ), translateY( -50% ) ); }
			transform: if( not $add-transform, $transform, $transform $add-transform ) };

	// Define a largura de uma coluna dentro do grupo de colunas em que se inseri
	@mixin col-calc( $margin, $col, $spaceCount: 1 )
		{ width: calc( ( #{ $spaceCount } * ( 100% - ( #{ $margin } * ( #{ $col } - 1 ) ) )/#{ $col } ) + ( #{ $margin } * ( #{ $spaceCount } - 1 ) ) ) }

	// Complemento necessário do pseudoseletor colored-words
	@mixin colored-words( $color1: $c6_2,  $color2: $c6_1 )
		{ background-image: linear-gradient( 90deg, $c6_2, $c6_1 ) };

	// Complemento necessário da classe act-btn
	@mixin act-btn( $after: true, $color: $c0, $bg-color: $c0_4 )
		{ & .act-btn { color: $color; background-color: $bg-color;
			@if $after
				{ &::after { @include null-content } } } };

/* Animações */
@keyframes moveInLeft
	{ 0% { opacity: 0; transform: translateX(-10rem) }
	  80% { transform: translateX(1rem) }
	  100% { opacity: 1; transform: translateX(0) } }
@keyframes moveInRight
	{ 0% { opacity: 0; transform: translateX(10rem) }
	  80% { transform: translate(-1rem) }
	  100% { opacity: 1; transform: translateX(0) } }
@keyframes moveInBottom
	{ 0% { opacity: 0; transform: translateY(5rem) }
	  100% { opacity: 1; transform: translateY(0) } }

/* Classes & Pseudoseletores */
	// Linha para Layouts Flutuantes
	.row { @include clearfix }

	// Botões de Ação
	.act-btn { text-decoration: none; text-transform: uppercase; display: inline-block; padding: 1.5rem 4rem; border-radius: 5rem; position: relative; transition: all .2s; cursor: pointer; box-shadow: 0 .4rem .6rem rgba( $c0_1, .15 );
	 	&:hover { transform: translateY(-.3rem); box-shadow: 0 1rem 2rem rgba( $c0_4, .2 ); box-shadow: 0 .6rem .6rem rgba( $c0_1, .25 ) };
	 	&:active, &:focus { outline: none; transform: translateY(-.1rem); box-shadow: 0 .5rem 1rem rgba( $c0_4, .2 ); box-shadow: 0 .5rem .6rem rgba( $c0_1, .2 ) };
		&::after { border-radius: inherit; position: absolute; top: 0; left: 0; z-index: -1; background-color: inherit; transition: all .4s };
		&:hover::after { transform: scaleX(1.4) scaleY(1.6); opacity: 0 } }

	// Botão com Seta
	.arrow-btn { font-size: 1.6rem; transition: all .5s ease-out; cursor: pointer; display: inline-block; color: $c6; text-decoration: none; padding: .3rem; border-bottom: .1rem solid $c6;
	   &:hover { color: $c0_4; background-color: $c6; box-shadow: 0 1rem 2rem rgba( $c0_1, .2 ); transform: translateY( -.2rem ) };
	   &:active { box-shadow: 0 1rem 1rem rgba( $c0_1, .2 ); transform: translateY( -.1rem ) } }

	// Cromatizar e Inclinar Títulos da Página
	.colored-words { display: inline-block; color: transparent; -webkit-background-clip: text }
	.skewed-words:hover { transform: skew( 15deg, 2deg ) scale( 1.1 ); text-shadow: .5rem 1rem 2rem rgba( $c0_1, .2 );
	 	@media ( max-width: 58.7em /* 939px */ ) { transform: skew( 15deg, 1deg ) scale( 1.05 ); text-shadow: .3rem .6rem 2rem rgba( $c0_1, .2 ) }
	 	@media ( max-width: 46.2em /* 739px */ ) { transform: none; text-shadow: none } }
	.colored-skewed-word { @extend .colored-words, .skewed-words; transition: all .5s ease-out }

/* Redefinição de Configurações */
*, *::after, *::before { box-sizing: border-box; padding: 0; margin: 0 }
	html { font-size: 62.5%;
	 	@media ( max-width: 74.95em /* 1199px */ ) { font-size: 56.25% }
	 	@media ( max-width: 56.2em /* 899px */ ) { font-size: 50% } }
	body { font: 400 1.6rem/1.7 $f1; color: $c0; border: solid 1.5rem white; border-bottom: none; background-color: $c0_3;
		@media ( max-width: 56.2em /* 899px */ ) { border: none } }
	main > section { text-align: center;
		& h2, & h3 { text-transform: uppercase; cursor: default };
		& h2 { font: { size: 3.5rem; weight: 700 }; letter-spacing: .2rem } }
	img { user-select: none }
	ul, ol { list-style: none }
	::selection { background-color: $c6 }

/* Exibidor do Menu */
[ for="menu-displayer" ] { display: inline-block; width: 5rem; height: 5rem; padding: .8rem 0; border-radius: 50%; background-color: $c0_4; box-shadow: 0 .3rem 2rem rgba( $c0_1, .25 ); position: fixed; top: 2rem; right: 5rem; z-index: 3; cursor: pointer;
 	& .menu-line { display: block; width: 50%; height: .3rem; background-color: $c0_5; margin: .6rem auto; transition: all .4s ease-out };
 	&:hover .menu-line:nth-of-type(1) { transform: translateY( -.1rem ) };
 	&:hover .menu-line:nth-of-type(3) { transform: translateY( .1rem ) };
 	#menu-displayer:checked + & {
		& .menu-line:nth-of-type(1) { transform: translateY( 1rem ) rotate( 135deg ) }
	 	& .menu-line:nth-of-type(2) { opacity: 0 }
	 	& .menu-line:nth-of-type(3) { transform: translateY( -.8rem ) rotate( -135deg ) } } }
#page-navigation-bg { display: inline-block; width: 4.4rem; height: 4.4rem; border-radius: 50%; background-image: radial-gradient( $c6_1, $c6_2); position: fixed; top: 2.3rem; right: 5.3rem; z-index: 1; transition: transform 1s cubic-bezier( .12, .85, .87, 1 );
 #menu-displayer:checked ~ & { transform: scale( 80 ) } }
#displayer-menu { opacity: 0; height: 100vh; width: 0; position: fixed; left: -20rem; top: 0; z-index: 2; transition: opacity .4s .8s;
	& ul { text-align: center; width: 100%; @include abs-center; counter-reset: displayer-list;
		& li { margin: 1rem 0;
	 	& a { display: inline-block; font: { size: 3rem; weight: 300 }; padding: 1rem 2rem; color: $c0_4; text-transform: uppercase; text-decoration: none; background: { image: linear-gradient( 120deg, transparent 0%, transparent 50%, $c0_4 50% ); size: 220% }; transition: background-position .4s linear, color .2s ease .2s, transform .4s ease-out; cursor: pointer;
			&::before { counter-increment: displayer-list; content: counter( displayer-list, decimal-leading-zero ) ": " }
		 	&:hover { color: $c6; background-position: 100%; transform: translateX( 2rem ) } } }
		@media ( max-width: 22.45em /* 359px */ ) and ( max-height: 27.45em /* 439px */ )
			{ & { text-align: left; top: 60%;
			 		& li { margin: 0 } } } };
	#menu-displayer:checked ~ & { width: 100%; opacity: 1; left: 0 } }
@media ( max-width: 56.2em /* 899px */ )
	{ [ for="menu-displayer" ] { top: 1rem; right: 1rem }
		#page-navigation-bg { top: 1.3rem; right: 1.3rem } }

/* Imagem Inicial */
#main_image	{ min-height: 52.5rem; height: 95vh; background: linear-gradient( 135deg, rgba( $c6_2, .5 ), rgba( $c6_1, .5) ), url("../../../multimedia/images/background/hero.jpg") right top/cover; position: relative; clip-path: polygon( 0 0, 100% 0, 100% 80%, 0 100% );
	& figure { position: absolute; top: 2rem; left: 2%;
		& img { min-height: 2.5rem; height: 5vh } }
	@media ( max-width: 39.3em /* 629px */ ) and ( min-width: 35em /* 560px */ ) { background-position-x: center }
 	@media ( max-width: 29em /* 464px */ ) { background-position-x: 75% }	}
#text_box { position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center;
 	& h1 { color: $c0_4; font-weight: 700; text-transform: uppercase; margin-bottom: 6rem; backface-visibility: hidden; cursor: default; user-select: none;
	 	& span { display: block; animation-duration: 3s; animation-timing-function: ease-out;
		 	&:first-child { font-size: 4rem; letter-spacing: 2rem; ; animation-name: moveInLeft };
		 	&:last-child { font-size: 1.25rem; letter-spacing: 1.3rem; animation-name: moveInRight };
			@media ( max-width: 52.45em /* 839px */ )
				{ &:first-child { letter-spacing: 1.6rem };
			 		&:last-child { letter-spacing: 1rem } }
			@media ( max-width: 37.45em /* 599px */ )
				{ &:first-child { letter-spacing: 1.2rem };
			 		&:last-child { letter-spacing: .6rem } } } };
	@include act-btn;
 	@media ( max-width: 37.45em /* 599px */ )
		{ & .act-btn { font-size: 1.5rem; padding: 1.4rem 2.8rem } } }

/* Sobre Nós */
#about-us { padding: 25rem 0; margin-top: -20vh; margin-bottom: -15vh;
	@media ( max-width: 46.2em /* 739px */ ) and ( min-width: 35em /* 600px */ ) { padding-bottom: 38rem }
	& h2 { @include colored-words; margin-bottom: 4rem;
		& br { display: none }
		@media ( max-width: 56.2em /* 899px */ ) { font-size: 3.2rem }
		@media ( max-width: 43.7em /* 699px */ ) { font-size: 2.8rem }
	 	@media ( max-width: 37.45em /* 599px */ ) { font-size: 2.2rem }
	 	@media ( max-width: 29.95em /* 499px */ ) { & br { display: initial } }	};
	& .row { text-align: left; padding: 0 4%; $gutter-horizontal: 2rem;
		& .col-4-of-7 { font-size: 1.4rem; float: left; margin-right: $gutter-horizontal; @include col-calc( $gutter-horizontal, 7, 4 );
			& .text-set { margin-bottom: 2rem;
			 	& h3 { font-size: 1.6rem;
				 	@media ( max-width: 37.45em /* 599px */)
						{ font-size: 1.5rem }
				 	@media ( max-width: 22.45em /* 359px */ )
						{ font-size: 1.4rem;
					 		& span { display: none } } }
				@media ( max-width: 87.45em /* 1399px */ ) { & p { text-indent: 1.5rem } } };
			& .arrow-btn { margin-bottom: 2rem }
			@media ( max-width: 87.45em /* 1399px */ ) { float: none; margin: 0 auto 2rem; text-align: justify; width: 100%; max-width: 95rem;
			 	& h3 { text-align: center; margin-bottom: .5rem }
				& .arrow-btn { margin-bottom: 0 } } };
		& .col-3-of-7 { float: right; position: relative; @include col-calc( $gutter-horizontal, 7, 3 ); height: 0;
	 		& img { min-width: 24rem; width: 45%; border-radius: $b-rad-default; box-shadow: 0 1.5rem 4rem rgba( $c0_1, .4 ); outline-offset: 1.2rem; position: absolute; transition: all .4s;
			 	&:nth-child(1) { left: 2rem; top: 1.5rem };
			 	&:nth-child(2) { right: 2rem; top: 1.5rem };
			 	&:nth-child(3) { right: calc( 25% ); top: 6rem };
			 	&:hover { transform: scale(1.05) translateY(-.5rem); box-shadow: 0 2.5rem 4rem rgba( $c0_1, .5 ); outline: 1.5rem solid $c6; z-index: 1 } };
			&:hover img:not(:hover) { filter: grayscale(100%) }
		@media ( max-width: 87.45em /* 1399px */ ) { float: none; width: 100%;
		 	& img { float: left; position: static; @include col-calc( 5rem, 3, 1 );
			 	&:not( :last-child ) { margin-right: 5rem } } }
		@media ( max-width: 46.2em /* 739px */ ) and ( min-width: 35em /* 600px */ ) {
		 	& img { @include col-calc( 10rem, 2, 1 );
				&:nth-child( 1 ) { margin-right: 10rem }
				&:nth-child( 2 ) { margin: 0 }
				&:nth-child( 3 ) { float: none; display: block; margin: 0 auto; clear: left }
				&:not( :last-child ) { margin-bottom: 4rem }
				&:hover { outline: none; box-shadow: 0 2rem 4rem rgba( $c0_1, .45 ) } } }
		@media ( max-width: 34.95em /* 599px */ ) { height: auto;
		 	& img:first-child { float: none; display: block; width: 100%; margin: 0 auto;
			 	&:hover { transform: scale(1.02) translateY(-.3rem); outline: none; box-shadow: 0 2rem 4rem rgba( $c0_1, .45 ) } }
		 	& img:not( :first-child ) { display: none } } } } }

/* Características */
#features { height: 85rem; background: linear-gradient( 135deg, rgba( $c6_1, .7 ), rgba( $c6_2, .7 ) ), url( "../../../multimedia/images/background/nat-4.jpg" ) no-repeat 100%/cover; clip-path: polygon( 0 15vh, 100% 0, 100% 85%, 0 100% ); position: relative;
	@media ( max-width: 48.7em /* 779px */ ) { height: 100rem }
	@media ( max-width: 39.3em /* 629px */ ) { height: 150rem }
	& .row { line-height: 1.4; width: 75%; @include abs-center; $gutter-horizontal: 3rem;
		@media ( max-width: 74.95em /* 1199px */ ) and ( min-width: 56.25em /* 900px */ ), ( max-width: 48.7em /* 779px */ ) { width: 90% }
		@media ( max-width: 56.2em /* 899px */ ) and ( min-width: 48.75em /* 780px */ ) { width: 97% }
		@media ( max-width: 39.3em /* 629px */ ) { top: 47% }
	 	& .col-1-of-4 { float: left; min-height: 30.8rem; padding: 2rem 1%; background: rgba( $c0_3, .5 ); border-radius: $b-rad-default; box-shadow: $bs-medium; transition: all .3s; @include col-calc( $gutter-horizontal, 4, 1 );
			&:not( :last-child ) { margin-right: $gutter-horizontal };
			&:hover { transform: translateY( -.5rem ) scale( 1.02 ); box-shadow: $bs-medium-h };
			& header {
				& img { margin-bottom: 3rem };
			 	& h3 { font-size: 1.6rem; margin-bottom: 2rem; cursor: default;
				 	@media ( max-width: 78.7em /* 1259px */ ) { font-size: 1.5rem } } };
			& p { font-size: 1.5rem }
		 	@media ( max-width: 48.7em /* 779px */ ) {
			 	& { @include col-calc( $gutter-horizontal, 2, 1 ); min-height: 23rem; margin-bottom: 3rem;
					&:nth-child( even ) { margin-right: 0 }
				 	& header {
						& img { margin-bottom: 1.5rem }
						& h3 { margin-bottom: 1rem } } } }
			@media ( max-width: 39.3em /* 629px */ )
		 		{ & { float: none; display: table; width: 100%; min-height: 15rem;
				 		& header { display: table-cell; min-width: 15rem; white-space: nowrap;
						 	@media ( max-width: 22.45em /* 359px */ ) { & h3 { font-size: 1.4rem } } }
					 	& p { display: table-cell; vertical-align: middle } } } } } }

/* Tour */
#tours { padding: 25rem 0 7.5rem; margin-top: -20rem;
	& h2 { @include colored-words; margin-bottom: 3.5rem;
		@media ( max-width: 23.7em /* 379px */ ) { font-size: 2.7rem } }
	& .row { max-width: 140rem; padding: 0 4%; margin: 0 auto 4rem; $gutter-horizontal: 6rem;
		@media( max-width: 67.45em /* 1079px */ ) { margin-bottom: 0 }
		& .col-1-of-3 { float: left; max-width: 40rem; height: 49rem; @include col-calc( $gutter-horizontal, 3, 1 ); position: relative; perspective: 150rem; visibility: hidden;
			@media( max-width: 67.45em /* 1079px */ ) { float: none; width: 100%; margin: 0 auto 5rem !important }
			&:not( :last-child ) { margin-right: $gutter-horizontal }
			& > div { width: 100%; height: 49rem; border-radius: $b-rad-default; box-shadow: $bs-light; position: absolute; top: 0; left: 0; visibility: visible; backface-visibility: hidden; transition: all .8s ease;
				&.front { background-color: $c0_4; overflow: hidden;
				 	& .card-image { height: 20rem; position: relative;
					 	& .image { width: 100%; height: 100%; background-size: cover; clip-path: polygon( 0 0, 100% 0, 100% 90%, 0 100% ) };
					 	& h3 { color: $c0_4; font: { size: 2rem; weight: 300 }; width: 50%; padding: .4rem .8rem; border: solid .2rem $c0_4; position: absolute; bottom: 2.4rem; right: -.5rem; cursor: default } };
					& .card-details { text-align: center; width: 80%; padding: 3rem; margin: 0 auto;
					 	& li { font-size: 1.5rem; padding: 1rem;
							&:not( :last-child ) { border-bottom: solid .1rem $c0_2 } } } };
				&.back { transform: rotateY( 180deg ); @include act-btn;
					& > :first-child { margin-top: 30%; cursor: default;
						& p { color: $c0_4; font-variant: small-caps; font-size: 1.6rem;
							& span { font-size: 4.2rem; letter-spacing: .3rem; display: block;
							 	&::before { content: "$" } } } }
				 	& .act-btn { margin-top: 30% } } };
			&:nth-child(1) {
				& .image { background-image: linear-gradient( 135deg, rgba( $c2_1, .8 ), rgba( $c2_2, .8 ) ), url( "../../../multimedia/images/background/nat-5.jpg" ); background-position: 50% 30%; background-blend-mode: color-burn };
				& h3 { background-color: rgba( $c2_1, .65 ) };
				& .back { background-image: linear-gradient( $c2_1, $c2_2 ) } };
			&:nth-child(2) {
				& .image { background-image: linear-gradient( 135deg, rgba( $c6_1, .7 ), rgba( $c6_2, .7 ) ), url( "../../../multimedia/images/background/nat-6.jpg" ); background-position: 50% 60%; background-blend-mode: color };
				& h3 { background-color: rgba( $c6_1, .65 ) };
				& .back { background-image: linear-gradient( $c6_1, $c6_2 ) } };
		 	&:nth-child(3) {
				& .image { background-image: linear-gradient( 135deg, rgba( $c8_1, .8 ), rgba( $c8_2, .8 ) ), url( "../../../multimedia/images/background/nat-7.jpg" ); background-position: 50%; background-blend-mode: screen };
				& h3 { background-color: rgba( $c8_1, .65 ) };
				& .back { background-image: linear-gradient( 135deg, $c8_1, $c8_2 ) } };
			&:hover { box-shadow: $bs-light-h;
				& .front { transform: rotateY( -180deg ) };
		 		& .back { transform: rotateY(0) } } } };
	@include act-btn( false, $c0_4, $c6 );
 	& .act-btn { margin-top: 4rem } }

/* Tour – Pop-Up */
#booking-call { width: 100%; height: 100vh; opacity: 0; visibility: hidden; position: fixed; top: 0; left: 0; background-color: rgba( $c0_1, .6 ); z-index: 3; transition: opacity .6s;
	& > :only-child { display: table; width: 75%; opacity: 0; @include abs-center( $add-transform: scale(0) ); border: inset .3rem $c6; border-radius: .6rem; box-shadow: 0 1rem 2rem rgba( $c0_1, .4 ); background-color: $c0_4; position: relative; transition: all .8s ease-out .6s;
 		& > :not( .times ) { display: table-cell };
	 	& .exit { color: $c0_5; font-size: 3.5rem; line-height: 1; text-decoration: none; position: absolute; top: .6rem; right: 2rem; cursor: pointer; user-select: none; transition: color .5s ease-out;
		 	&:hover { color: $c1_1 } } }
	&:target { opacity: 1; visibility: visible;
	 	& > :only-child { opacity: 1; transform: translate(-50%, -50%) scale(1) } } }
#booking-call-img { width: 33.33%;
	img { display: block; width: 100%; height: auto } }
#booking-call-text { text-align: left; vertical-align: middle; width: 66.66%; padding: 2rem 6%;
	& header { cursor: default;
		& h3 { @include colored-words; font-size: 3.6rem };
	 	& strong { display: block; font: { weight: 900; size: 1.8rem }; text-transform: uppercase; margin: 2rem 0 } };
	& main div { column-count: 2; column-gap: 4rem; column-rule: solid .1rem $c0_5;
		& p { hyphens: auto };
		& .act-btn { margin: 3.5rem 0 } } }

/* Testemunhos */
#stories { $img-size: 15rem;
					 padding: 7.5rem 0; overflow: hidden; position: relative; background: transparent;
 	& h2 { @include colored-words;
		& br { display: none }
	 	@media ( max-width: 39.95em /* 639px */ ) { font-size: 2.8rem }
	 	@media ( max-width: 31.8em /* 509px */ )
			{ font-size: 3.5rem; line-height: 1.5;
				& br { display: initial } };
		@media ( max-width: 23.7em /* 379px */ )
			{ font-size: 2.8rem } }
	& video { opacity: .2; width: 100%; height: 100%; object-fit: cover; object-position: top; position: absolute; top: 0; left: 0; z-index: -1 };
 	& > section { display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center; @include clearfix; line-height: 1.5; width: 75%; padding: 3rem; margin: 5rem auto; background-color: rgba( $c0_4, .6 ); transform: skewX(-12deg); box-shadow: $bs-light;
		& {
			& .stories-image { width: $img-size; height: $img-size; float: left; position: relative; transform: skewX(12deg); clip-path: circle( 50% at 50% 50% ); -webkit-shape-outside: circle( 50% at 50% 50% ); shape-outside: circle( 50% at 50% 50% );
				& img { height: 100%; width: 100%; object-fit: cover; object-position: center; transform: scale(1.2); transition: transform .5s ease-out };
			 	& figcaption { color: $c0_4; font: { size: 1.7rem; variant: small-caps }; opacity: 0; position: absolute; left: 50%; top: 50%; transform: translate( -50%, 20% ); transition: all .5s ease-out; cursor: default; user-select: none };
				&:hover img { filter: brightness(90%) blur(.2rem); transform: scale(1); backface-visibility: hidden };
			 	&:hover figcaption { opacity: 1; transform: translate( -50%, -50% ) }	};
			& .stories-text { display: inline-block; width: calc( 95% - #{ $img-size } ); transform: skewX(12deg);
		 		& h3 { margin: 1.2rem 0 } } }
		@media ( max-width: 49.95em /* 799px */ )
	 		{ width: 95%; padding: 2rem 1.5rem; transform: none;
			& .stories-image, & .stories-text { transform: none }
		 	& .stories-text { width: calc( 100% - #{ $img-size } ) } }
		@media ( max-width: 39.95em /* 639px */ )
	 		{ width: 100%; padding: 2rem 1rem;
			& .stories-text h3 { font-size: 1.6rem } }
		@media ( max-width: 36.2em /* 579px */ )
	 		{ flex-direction: column;
			& .stories-text { width: 100%; order: 0; margin-bottom: 2rem }
		 	& .stories-image { order: 1 }	}
		@media ( max-width: 23.7em /* 379px */ )
	 		{ & .stories-text h3 { font-size: 1.5rem;
			 		& span { display: none } } } } }

/* Reservas */
#booking { padding: 10rem 0; background: linear-gradient( 135deg, $c6_1, $c6_2 );
 	& &-container { width: 100%; max-width: 132rem; margin: 0 auto; background: linear-gradient( 105deg, rgba( $c0_3, .85 ) 0%, rgba( $c0_3, .85 ) 50%, transparent 50.1% ), linear-gradient( 135deg, rgba( $c2_3, .8 ), rgba( $c2_3, .8 ) ), url( "../../../multimedia/images/background/nat-10.jpg" ) center/cover; background-blend-mode: normal, overlay; border-radius: $b-rad-default; box-shadow: $bs-medium;
	 	& form { width: 50%; padding: 3rem 3%;
			& { $t-input-max-width: 35rem; $t-input-left-margin: 1rem; $label-width: 4.8rem; $r-input-width: 14.6rem;
				& :not( h3 ) { text-align: left };
				& h3 { color: $c6_1; font-size: 2rem; font-weight: 900; word-spacing: .5rem; margin-bottom: 4rem };
				& > label { display: block; margin-bottom: 4rem;
				 	& input { font: { size: 1.5rem; family: inherit }; width: calc( 100% - #{ $t-input-left-margin } - #{ $label-width } - .4rem ); max-width: $t-input-max-width; padding: 1rem 1.4rem; border: none; border-bottom: solid .3rem transparent; border-radius: .2rem; margin: { left: $t-input-left-margin; top: -.4rem }; background-color: rgba( $c0_4, .5 );
						&::placeholder { color: $c0_5 }
				 		&:focus { outline: 0; box-shadow: 0 .5rem 1rem rgba( $c0_1, .4 );
						 	&:invalid { border-color: $c2_3 };
						 	&:valid { border-color: $c6 } } } };
				& fieldset { all: initial; display: block; width: calc( 100% - 5.6rem ); margin: 0 0 4rem calc( #{ $label-width } + #{ $t-input-left-margin } );
				 	& div { display: inline-block; font: 1.5rem/1.2 "Lato", sans-serif; word-spacing: .3rem;
						&:first-of-type { margin-right: calc( #{ $t-input-max-width } - ( 2 * #{ $r-input-width } ) ) };
				 		& label { cursor: pointer; position: relative;
						 	& :first-child { display: inline-block; width: 2.5rem; height: 2.5rem; border: solid .3rem $c6; border-radius: 50%; position: absolute; left: 0; top: -.3rem;
							 	&::after { content: ""; display: none; width: 1.2rem; height: 1.2rem; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate( -50%, -50% ); background-color: $c6 } };
						 	& :last-child { margin-left: 3rem } };
						& input:checked + label :first-child::after { display: inline-block } } };
				& .act-btn { display: block; border: none; margin-bottom: 4rem }; @include act-btn( $color: $c0_4, $bg-color: $c6 ) } }
	@media ( max-width: 48.7em /* 779px */ )
		{ & { background-image: linear-gradient( 90deg, rgba( $c0_3, .7 ) 0%, rgba( $c0_3, .7 ) 100% ), linear-gradient( 135deg, rgba( $c2_3, .8 ), rgba( $c2_3, .8 ) ), url( "../../../multimedia/images/background/nat-10.jpg" );
		 		& form { width: 100%; @include clearfix;
				 	& > label, & fieldset { color: black; text-align: center }
					& label input { background-color: white;
					 	&::placeholder { color: rgb( 40, 40, 40 ) } }
					& .act-btn { float: right;
						&:hover::after { transform: scaleX( 1.2 ) scaleY( 1.4 ) } } } } }
	@media ( max-width: 31.2em /* 499px */ )
 		{ & form {
				& > label input { width: 26.5rem }
				& fieldset { width: 100%; margin: 0 0 4rem;
				 	& div:first-of-type { margin-right: 3.4rem } }
				& .act-btn { float: none; margin: 0 auto 4rem } } } } }

/* Rodapé */
#nat-footer { padding: 5rem 3%; background-color: $c0_6;
	@media ( max-width: 88.7em /* 1419px */ ) { padding: 5rem 0 }
	@media ( max-width: 62.45em /* 999px */ ) { padding-bottom: 1rem }
	& { $logo-size: 16rem;
	 	& > picture { display: block; width: 100%; max-width: $logo-size; margin: 0 auto 4rem;
		 	& img { width: 100%; height: 100%; object-fit: contain } };
		& > div {
			@media ( max-width: 62.45em /* 999px */ ) and ( min-width: 40.6em /* 650px */ ) { padding: 0 10rem }
		 	& #footer-menu, & #footer-text { width: calc( 48% - #{ $logo-size }/2 ); padding: 1.6rem 0; border-top: solid .2rem $c0_5;
		 		@media ( max-width: 88.7em /* 1419px */ ) { padding: 1rem 0 } };
			& #footer-menu { float: left; text-align: center;
			 	& ul { font-size: 1.5rem;
				 	& li { display: inline-block;
						&:not( :last-child ) { margin-right: 2.5rem };
					 	& a { display: inline-block; transition: all .3s ease-out; cursor: pointer; color: $c0_4; text-decoration: none; text-transform: uppercase;
					 		&:hover { color: $c6; transform: scale(1.05) skew( -4deg, -8deg ) } } } };
				@media ( max-width: 88.7em /* 1419px */ )
					{ & ul li:not( :last-child ) { margin-right: 2rem } };
				@media ( max-width: 82.45em /* 1319px */  ) and ( min-width: 62.5em /* 1000px */ )
					{ & ul { font-size: 1.4rem; padding: 0 1rem; @include clearfix;
							& li:nth-child( 1 ), & li:nth-child( 4 ) { float: left; clear: right }
							& li:nth-child( 3 ), & li:nth-child( 5 ) { float: right; margin: 0 } } };
				 @media ( max-width: 62.45em /* 999px */ )
				 	{ & { float: none; width: 100% } }
				 @media ( max-width: 40.55em /* 649px */ )
			 		{ & ul { font-size: 1.4rem } }
				 @media ( max-width: 26.2em /* 419px */ )
			 		{ & ul li:not( :last-child ) { margin-right: 1rem;
							& span { display: none } } } }
		 	& #footer-text { float: right; text-align: justify;
				& p { color: $c0_4; font-size: 1.2rem; line-height: 1.4; margin-right: 1.5rem }
			 	@media ( max-width: 62.45em /* 999px */ )
					{ float: none; width: 100%; padding-top: 3rem;
					 	& p { margin-right: 0 } }
				@media ( max-width: 40.55em /* 649px */ )
			 		{ & p { padding: 0 2rem } } } } } }
