// Misturas Globais Gerais
	@mixin enclosed-viewport() // Para páginas sem barra de rolagem vertical
		{ html { height: 100%;
		  	& body { height: 100%; overflow-y: hidden } } }

  @mixin set-grid( $grid: 120rem, $m-top: 0, $m-bottom: 0 ) // Define a Grade de Layout
    { width: 100%; max-width: $grid; margin: $m-top auto $m-bottom }

  @mixin set-bg-images( $set-1, $set-2: $set-1, $set-3: $set-2, $set-4: $set-3 )
    { & { background: { repeat: no-repeat; size: cover };
        @media ( min-width: 87.45em /* 1400px */ ) { background: { image: url( "../../multimedia/images/#{ unquote( nth( $set-1, 1 ) ) }" ); position: nth( $set-1, 2 ) } }
        @media ( min-width: 62.45em /* 1000px */ ) and ( max-width: 87.45em /* 1399px */ ) { background: { image: url( "../../multimedia/images/#{ unquote( nth( $set-2, 1 ) ) }" ); position: nth( $set-2, 2 ) } }
        @media ( min-width: 37.45em /* 600px */ ) and ( max-width: 62.45em /* 999px */ ) { background: { image: url( "../../multimedia/images/#{ unquote( nth( $set-3, 1 ) ) }" ); position: nth( $set-3, 2 ) } }
        @media ( max-width: 37.45em /* 599px */ ) { background: { image: url( "../../multimedia/images/#{ unquote( nth( $set-4, 1 ) ) }" ); position: nth( $set-4, 2 ) } } } }

  @mixin shape-square( $size, $color: black, $rounded: false ) // Forma Quadrados
    { width: $size; height: $size; background-color: $color;
      @if $rounded { border-radius: $rounded } }

  @mixin shape-circle( $diameter: 1rem, $color: black ) // Forma Círculos
    { width: $diameter; height: $diameter; border-radius: 50%; background-color: $color }

  @mixin shape-full-arrow( $size, $color, $degree, $fallback: null, $add-transform: null )
    { @include shape-square( $size, $color ); clip-path: polygon( 50% 0%, 100% 100%, 0% 100% ); transform: rotate( $degree ) $add-transform;
      @if $fallback
        { @supports not ( clip-path: polygon( 0% 0% ) )
          { background: url( "../../multimedia/images/#{ unquote( $fallback ) }" ) no-repeat center/auto } } }

  @mixin shape-minus( $width, $height, $color: black ) // Cria Sinais de Menos Centralizados no Ascendente
    { &::before { @include null-content( $width, $height ); background-color: $color; @include abs-center; @content; } }

  @mixin shape-plus( $width, $height, $color: black  ) // Cria Sinais de Mais Centralizados no Ascendente
    { &::before, &::after { @include null-content( $width, $height ); background-color: $color; @content; }
      &::before { @include abs-center }
      &::after { @include abs-center( $add-transform: rotate( 90deg ) ) } }

  @mixin plus-to-x( $selector, $dt: ".5s ease-out", $original-transform: null, $add-transition: null ) // Transforma Sinais de Mais em X
    { &::after, &::before { transition: if( $add-transition, unquote( "transform #{ unquote( $dt ) }, #{ unquote( $add-transition ) }" ), transform unquote( $dt ) ) }
      &#{ unquote( $selector ) }::before { transform: unquote( o-first( $original-transform ) ) rotate( 45deg ) }
      &#{ unquote( $selector ) }::after { transform: unquote( o-last( $original-transform ) ) rotate( 135deg ) } }

  @mixin col-calc( $margin, $col, $spaceCount: 1 ) // Define a largura de uma coluna dentro do grupo de colunas em que se inseri
		{ width: calc( ( #{ $spaceCount } * ( 100% - ( #{ $margin } * ( #{ $col } - 1 ) ) )/#{ $col } ) + ( #{ $margin } * ( #{ $spaceCount } - 1 ) ) ) }

  @mixin clearfix() // Para objetos com medidas em colapso devido a descendentes flutuantes
		{ &::after { content: ""; display: table; clear: both } }

	@mixin null-content( $width: 100%, $height: 100% ) // Indica que o pseudoelemento não terá conteúdo textual
		{ content: ""; display: inline-block; width: $width; height: $height }

  @mixin row-flex( $wrap: nowrap, $main: space-between, $side: center ) // Definição de conteúdo flexível horizontal
		{ display: flex; flex-flow: row $wrap; justify-content: $main; align-items: $side }

	@mixin column-flex( $wrap: nowrap, $main: space-between, $side: center ) // Definição de conteúdo flexível vertical
		{ display: flex; flex-flow: column $wrap; justify-content: $main; align-items: $side }

  @mixin sort-order( $flex-itens )
    { $i: 1;
      @each $item in $flex-itens
        { &#{ unquote( $item ) } { order: $i }; $i: $i + 1 } }

	@mixin abs-center( $direction: both, $position: absolute, $add-transform: false ) // Centraliza horizontal e verticalmente objetos posicionados
		{ $transform: null; position: $position;
      @if $direction == both
        { top: 50%; left: 50%; $transform: translate( -50%, -50% ) }
      @else
        { #{ $direction }: 50%; $transform: if( $direction == left, translateX( -50% ), translateY( -50% ) ); }
			transform: if( not $add-transform, $transform, $transform $add-transform ) };

  @mixin img-center() // Centraliza imagens em dado recipiente
    { width: 100%; height: 100%; object: { fit: scale-down; position: center } }

  @mixin text-hidden( $hidden-sign: ellipsis ) // Oculta textos com indicador de ocultamento predefinido
		{ overflow: hidden; white-space: nowrap; text-overflow: $hidden-sign }

  @mixin color-change( $color-1, $color-2, $td, $degree: 100%, $add-transition: null ) // Altera a cor de dado texto para a da cor de referência
    { & { transition: color $td $add-transition;
        &:hover, &:focus { color: mix( $color-1, $color-2, $degree/1.5 ) }
        &:active { color: mix( $color-1, $color-2, $degree ) } } }

  @mixin text-gradient( $gradient, $fallback ) // Confere Gradiente a Textos
		{ color: transparent; background-image: $gradient; -webkit-background-clip: text; background-clip: text;
      @supports not ( -webkit-background-clip: text )
        { color: $fallback; background-image: unset } }

  @mixin icon-before( $path, $left: 0, $bottom: 0, $pos: absolute ) // Posiciona ícones à esquerda de dado seletor
    { &::before { display: inline-block; content: url( "../../multimedia/images/#{ unquote( $path ) }" ); position: $pos; left: $left; bottom: $bottom; @content; } }

  @mixin icon-after( $path, $right: 0, $bottom: 0, $pos: absolute ) // Posiciona ícones à direita de dado seletor
    { &::after { display: inline-block; content: url( "../../multimedia/images/#{ unquote( $path ) }" ); position: $pos; right: $right; bottom: $bottom; @content; } }

  @mixin raise-object( $transition: false, $active: false, $xMove: 0 ) // Alça Objetos
		{ @if $transition { & { transition: all .4s ease-out } }
			&:hover { transform: translate( $xMove, -.2rem ) scale( 1.05 ) skewX( -2deg ) }
		 	@if $active { &:active { transform: translate( $xMove, -.1rem ) scale( 1.05 ) skewX( -1deg ) } } }
