@charset "UTF-8";

/* Predefinições Globais */
*, *::before, *::after { padding: 0; border: none; margin: 0 }
html { font-size: 62.5% }
h1, h2, h3, h4, h5, h6, caption, legend { cursor: default }
p {
	&:not( :last-child ) { margin-bottom: .6em } }
a:link, a:visited, a:hover, a:active { color: inherit; hyphens: none; text-decoration: none; transition: color .4s ease-out }
ol, ul { list-style: none }
dt { display: inline;
	&::after { content: ": " } }
dd { display: inline;
	&::after { content:"\0A"; white-space: pre } }
picture { display: inline-block;
  & img { width: 100%; height: auto } }
img { user-select: none }
abbr { font-style: normal; hyphens: none; text-decoration: none;
	&[title] { border: { bottom: dashed .1rem; color: inherit }; cursor: help;
		@media( max-device-width: 899px ) { border: none } }
 	&[data-title]::after { content: " (" attr( data-title ) ")" } }
address, cite:not( [lang] ) { font-style: normal }
button { box-sizing: content-box; font: { family: inherit; weight: inherit }; line-height: 1; text-transform: inherit; background-color: transparent; cursor: pointer; user-select: none; outline: none }
input, textarea { outline: none; resize: none }
template { display: none }
