// Variáveis

	// Cores
		// Componentes
		$topic: ( current: nth( $c-2, 1 ), hover: adjust-color( nth( $c-2, 1 ), $saturation: -20%, $lightness: 10% ), active: lighten( nth( $c-2, 1 ), 10% ) );

	// Medidas
		// Componentes
		$p-curriculum: 9rem;
			$h-topic: 4.2rem; $topic-line: $h-topic/4;

// Misturas
	@mixin icon-placement( $c-icon, $top1, $top2, $top3, $top4, $top5, $top6 ) // Posicionamento dos Ícones dos Tópicos
		{ &::before { @include null-content( 1em, 1em ); background: { size: 100%; repeat: no-repeat }; position: relative; left: -.3em }
			&.general-info::before { background-image: url( "../../multimedia/images/icon/general-info-#{ $c-icon }.png" ); top: $top1 }
			&.profissional-fields::before { background-image: url( "../../multimedia/images/icon/profissional-fields-#{ $c-icon }.png" ); top: $top2 }
			&.education::before { background-image: url( "../../multimedia/images/icon/education-#{ $c-icon }.png" ); top: $top3 }
			&.skills::before { background-image: url( "../../multimedia/images/icon/skills-#{ $c-icon }.png" ); top: $top4 }
			&.jobs::before { background-image: url( "../../multimedia/images/icon/jobs-#{ $c-icon }.png" ); top: $top5 }
			&.personal-info::before { background-image: url( "../../multimedia/images/icon/personal-info-#{ $c-icon }.png" ); top: $top6 } }

	@mixin text-shadow( $color: nth( $c-0, 1 ) ) // Sombra do Texto
		{ text-shadow: .1rem .1rem .2rem rgba( $color, .9 ), .2rem .2rem .6rem rgba( $color, .2 ) }

	@mixin title-gradient() // Gradiente para Título do Conteúdo Dinâmico
		{ background-image: linear-gradient( 0deg, darken( nth( $c-1, 1 ), 10% ), nth( $c-1, 1 ) 30%, nth( $c-1, 1 ) 60%, darken( nth( $c-1, 1 ), 10% ) ) }

	@mixin topics-cols( $col ) // Arranjo Flutuante dos Tópicos Primários em Inquéritos de Mídia
		{ @if( $col == 0 )
				{ & > dl { padding: .9rem 1.8rem; @include clearfix;
						&::after { width: 0; height: 0 }
						& > dt { float: left; box-sizing: border-box; margin: 0 0 2rem; white-space: normal;
							&::after, & span { display: none } } } }
			@else
				{ & > dl > dt { @include col-calc( 5%, $col );
					&:not( :nth-of-type( #{ $col }n ) ) { margin-right: 5% } } } }
