@import "../global/preset", "../global/mixins", "../global/functions", "../global/animations", "../global/typography", "../home/home-var", "sobre-mim-var";

/* Predefinições Locais */
@include enclosed-viewport;
body { @include set-main-font; font-size: 1.5rem; line-height: 1.15 }
a {
	p &:link, dd &:link, li &:link { color: map-get( $c-anchor, link ) }
	p &:visited, dd &:visited, li &:visited { color: map-get( $c-anchor, visited ) }
	p &:hover, dd &:hover, li &:hover { color: map-get( $c-anchor, hover ) }
	p &:active, dd &:active, li &:active { color: map-get( $c-anchor, active ) } }
::selection { background-color: nth( $c-1, 7 ) }

/* Recipiente do Conteúdo */
#content-container { height: 100%; background-color: nth( $c-1, 6 ) }

	/* Conteúdo Estático */
	#static-content { float: left; text-align: center; width: 43.5rem; position: relative; top: 50%; transform: translateY( -50% ); margin-left: 6.5%;
	 	& > h1 { font: 700 small-caps 2.7rem $f-serif-2; @include text-shadow; margin-left: 23.5% }
	 	& > dl { box-sizing: border-box; width: 95%; padding: .2rem 0 .2rem $p-curriculum; border-left: solid #{ $p-curriculum/4 } black; border-radius: 12%;
		 	& > dt { display: block; color: black; font: { size: 1.7rem; weight: bold }; white-space: nowrap; max-width: 25.5rem; padding: 1rem 1.7rem; background: { color: nth( $c-0, 1 ); clip: padding-box }; border-radius: .7rem; box-shadow: .2rem .3rem .5rem rgba( 0, 0, 0, .8 ); margin: 2.6rem 0; transition: background-color .6s ease-out, color .3s ease-out .3s; position: relative; cursor: pointer; user-select: none;
				& { @include icon-placement( black, .2rem, .2rem, .3rem, .3rem, .2rem, 0 ) }
				&.current-topic, &:hover { color: white; outline: none }
				&.current-topic { background-color: map-get( $topic, current ) }
				&:hover { background-color: map-get( $topic, hover ) }
				&:active { background-color: map-get( $topic, active ) }
				&::after { content: ""; display: inline-block; width: calc( #{ $p-curriculum } + .1rem ); height: $topic-line; position: absolute; left: calc( -#{ $p-curriculum } - .1rem ); top: 50%; transform: translateY( -50% ); background-color: black; cursor: default } }
		 	& > dd { display: none } } }

	/* Conteúdo Dinâmico */
	#dynamic-content { float: right; box-sizing: border-box; font-size: 1.5rem; hyphens: auto; width: 50%; height: 100%; border-left: solid .2rem black; background-color: nth( $c-0, 1 ); overflow: auto;
		& > header { display: table; text-align: center; width: 100%; @include title-gradient; margin-bottom: 1.6rem; position: sticky; top: 0; z-index: 1;
			& h1 { display: table-cell; color: white; font-size: 2.6rem; padding: 1.2rem 0;
				& { @include icon-placement( white, .5rem, .4rem, .8rem, .4rem, .4rem, .1rem ) } }
			& div { display: none } }
		& > :not( header ) { margin: 0 2.6rem }
    & > header ~ :last-child { margin-bottom: 1.4rem }
		& div.general-info { @include row-flex( $main-aligment: center );
			& dl { font-size: 1.6rem; flex-shrink: 0; text-align: center; margin-right: 4.8rem; cursor: default;
			 	& dt { display: block; color: nth( $c-2, 1 ); font-size: 1.8rem; font-weight: bold; margin-bottom: .4rem;
				 	&::after { content: "" } }
				& dd { display: block;
					&:not( :last-child ) { margin-bottom: 2.9rem } } }
			& picture { flex-shrink: 1;
				& img { width: 100%; height: auto; border-radius: .8rem; filter: drop-shadow( 0 0 .5rem hsla( 0, 0%, 0%, .85 ) ) } } }
		& ul.general-list { list-style-type: disc; color: nth( $c-2, 1 ); margin-left: map-get( $m-size, medium );
			& > li:not( :last-child ) { margin-bottom: 2.4rem }
		 	& span { color: black; position: relative; left: -.3rem } }
		& ol.cronological-list { list-style: upper-roman outside; margin-left: map-get( $m-size, medium );
			& > li {
			 	& time { display: inline; font-weight: bold;
			 		&::after { content: ": " } };
			 	& time + p { display: inline;
          &::after { content: ""; display: table; height: 1rem } }
			 	& section {
					& > :first-child { font-size: 1.6rem; margin: .8rem 0 }
				 	& ul.general-list { margin-left: map-get( $m-size, large );
					 	& > li:not( :last-child ) { margin-bottom: .5rem } } } }
			& > li:not( :last-child ) { margin-bottom: 3.5rem } }
		& dl.nested-list {
			& > dt { display: block; font: bold 1.9rem/1.15 $f-serif-2; margin-bottom: 1.9rem;
			 	&:not( :first-child ) { margin-top: 7.6rem } }
			& > dd { display: block;
			 	&::after { content: "" }
				&:not( :last-child ) section.meter-text:only-child { margin-bottom: map-get( $m-size, x-large ) } }
		 	& section.meter-text {
			 	& > :first-child { font-size: 1.8rem } } }
		& section.meter-text { padding-left: 1.9rem; border-left: solid map-get( $b-size, small ) nth( $c-2, 1 );
			&:not( :last-child ) { margin-bottom: map-get( $m-size, x-large ) }
		 	& > :first-child { float: left; font-size: 1.9rem; margin-bottom: .8rem }
		 	& > meter { float: right; width: 8rem; height: 1.6rem; cursor: help }
		 	& > p {
			 	&:first-of-type { clear: both }
		 		&.list-heading { text-indent: 0; font-weight: bold } }
			& ul.general-list { margin-left: map-get( $m-size, large );
				& > li:not( :last-child ) { margin-bottom: 1rem }	}
			& ul.general-list + p { margin-top: .8rem } }
		& [ class="key-anchor" ] { color: map-get( $c-anchor, link ); cursor: pointer } }

		/* Telas com Pouca Largura */
		@media ( max-width: 91em /* 1456px */ ) and ( min-width: 81.25em /* 1300px */ ), ( max-width: 43.7em /* 699px */  ) and ( min-width: 38.75em /* 620px */ )
			{ #dynamic-content div.general-info dl { margin-right: 1.6rem } }
		@media ( max-width: 81.2em /* 1299px */ ) and ( min-width: 56.25em /* 900px */ ), ( max-width: 38.7em /* 619px */ )
			{ #dynamic-content div.general-info { flex-direction: column;
					& dl { margin-right: 0;
						& dt { margin-bottom: .2rem }
						& dd:not( :last-child ) { margin-bottom: 1.6rem } }
					& picture { width: 95%; max-width: 40rem; margin-top: 1.9rem } } }
		@media ( max-width: 69em /* 1105px */ ) and ( min-width: 56.25em /* 900px */ ), ( max-width: 29.95em /* 479px */ )
			{ #static-content { margin-left: 1% }
		 		#dynamic-content { font-size: 1.4rem;
				 	& > :not( header ) { margin: 0 1.6rem }
					& div.general-info {
						& dl { font-size: 1.5rem } }
					& ol.cronological-list {
						& > li {
							& time + p { display: block; margin: .8rem 0; text-indent: 0 }
							& section {
								& > :first-child { font-size: 1.5rem }
								& ul.general-list { margin-left: 1.2rem;
									& > li:not( :last-child ) { margin-bottom: 1.2rem } } } } }
				 	& section.meter-text { padding-left: 1.3rem;
						& > :first-child span { display: none }
						& > meter { width: 6rem }
						& ul.general-list { margin-left: 1.5rem;
							& > li:not( :last-child ) { margin-bottom: 1.5rem } } }
					& section.meter-text > :first-child, & dl.nested-list section.meter-text > :first-child { font-size: 1.7rem } } }

		/* Telas com Pouca Altura */
		@media ( max-height: 30em /* 480px */ ) and ( min-width: 56.25em /* 900px */ )
			{ #static-content { position: static; transform: none; width: 50%; margin-left: 0;
					& > h1 { width: 100%; margin: .7rem 0 }
					& > dl { width: 100%; padding: 0; border-left: none;
						& > dt { margin: 1.4rem auto;
							&::after { display: none } } } } }
		@media ( max-height: 24em /* 384px */ ) and ( min-height: 14.7em /* 235px */ ) and ( min-width: 75em /* 1200px */ )
			{ #static-content { @include topics-cols( 0 ); @include topics-cols( 3 ) } }
		@media ( max-height: 24em /* 384px */ ) and ( min-height: 14.7em /* 235px */ ) and ( max-width: 74.95em /* 1199px */ ) and ( min-width: 56.25em /* 900px */ )
			{ #static-content { @include topics-cols( 0 ); @include topics-cols( 2 ) } }

		/* Telas com Pouca Largura ou Altura */
		@media ( max-width: 56.2em /* 899px */ ), ( max-height: 14.65em /* 234px */ )
			{ #content-container { overflow: auto }
			 	#static-content, #dynamic-content { float: unset; width: 100%; margin: 0 }
			 	#static-content { position: static; transform: none; @include topics-cols( 0 );
				 	& > h1 { margin: 0 }
				 	& > dl { width: 100%; border: none } }
				#dynamic-content { height: auto; overflow: auto } }
		@media ( max-width: 56.2em /* 899px */ ) and ( min-width: 38.75em /* 620px */ ), ( max-height: 14.65em /* 234px */ ) and ( min-width: 56.25em /* 900px */ )
			{ #static-content { @include topics-cols( 3 ) }
		 		#dynamic-content { min-height: calc( 100% - 17.4rem ) }	}
		@media ( max-width: 38.7em /* 619px */ ) and ( min-width: 26.55em /* 425px */ )
			{ #static-content { @include topics-cols( 2 ) }
		 		#dynamic-content { min-height: calc( 100% - 23.6rem ) } }
		@media ( max-width: 26.5em /* 424px */ )
			{ #static-content { min-height: 48rem; height: 100vh;
					& > h1 { margin: 3rem 0 }
					& > dl {
						& > dt { float: unset; margin: 0 auto 2rem } } }
				#dynamic-content { min-height: 100vh;
				 	& > header {
						h1 { padding-left: 2.4rem;
							& span { display: none } }
					 	div { display: table-cell; vertical-align: middle; min-width: 3.8rem; width: 3.8rem; padding: 0 1rem; background-color: black; cursor: pointer;
						 	& img { width: 100% } } } } }
