@charset "UTF-8";
/* Predefinições Globais */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p { text-indent: 1.2em; text-align: justify; }
p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }
dd::after { content: "\0A"; white-space: pre; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

@font-face { font-family: "Embassy BT"; src: local("Embassy BT"), local("Embassy BT Regular"), local("EmbassyBT-Regular"), url("../../multimedia/fonts/embassy-bt/embassy-bt-regular.woff2"), url("../../multimedia/fonts/embassy-bt/embassy-bt-regular.ttf"); font-weight: normal; font-style: normal; }
/* Animações */
@-webkit-keyframes move-right { 0% { right: 2rem; opacity: 0; }
  80% { right: -0.5rem; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: 2rem; opacity: 0; }
  80% { right: -0.5rem; }
  100% { right: 0; opacity: 1; } }
@-webkit-keyframes move-bottom { 0% { bottom: 1rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@keyframes move-bottom { 0% { bottom: 1rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@-webkit-keyframes fade-in-out { 0% { opacity: 0; }
  10% { opacity: 0.9; }
  90% { opacity: 0.9; }
  100% { opacity: 0; } }
@keyframes fade-in-out { 0% { opacity: 0; }
  10% { opacity: 0.9; }
  90% { opacity: 0.9; }
  100% { opacity: 0; } }
/* Classes Locais */
/* Textos Sombreados, com Gradientes e Interativos */
.text-shadow { text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.15); }

.text-movement { text-shadow: 1px 1px 3px rgba(89, 34, 135, 0.3), 3px 3px 5px rgba(89, 34, 135, 0.15); }
.text-movement:hover { text-shadow: 2px 2px 4px rgba(89, 34, 135, 0.3), 4px 4px 6px rgba(89, 34, 135, 0.15); }
.text-movement { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.text-movement:hover { -webkit-transform: translate(0, -2px) scale(1.05) skewX(-2deg); transform: translate(0, -2px) scale(1.05) skewX(-2deg); }

.text-gradient { color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#9e7ece), to(#592287)); background-image: linear-gradient(90deg, #9e7ece, #592287); -webkit-background-clip: text; background-clip: text; }
@supports not (-webkit-background-clip: text) { .text-gradient { color: #592287; background-image: none; } }

/* Predefinições Locais */
html { height: 100%; }
html body { height: 100%; overflow-y: hidden; }

body { font-family: "Bitstream Charter", "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif; font-size-adjust: 0.459; font-size: 1.5rem; line-height: 1.15; }
@supports not (font-size-adjust: 0.459) { body { font-family: "Liberation Serif", "FreeSerif", "Nimbus Roman No9 L", "Times New Roman", "Times", serif; } }

p a:link, dd a:link, li a:link { color: #a985e0; }
p a:visited, dd a:visited, li a:visited { color: #5a29a3; }
p a:hover, dd a:hover, li a:hover { color: #8d5cd6; }
p a:active, dd a:active, li a:active { color: #7033cc; }

::-moz-selection { background-color: #c5acd2; }

::selection { background-color: #c5acd2; }

/* Recipiente do Conteúdo */
#content-container { height: 100%; background-color: #7a758a; }

/* Conteúdo Estático */
#static-content { float: left; text-align: center; width: 43.5rem; position: relative; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-left: 6.5%; }
#static-content > h1 { font: 700 small-caps 2.7rem "Caladea", "Cambria", serif; text-shadow: 0.1rem 0.1rem 0.2rem rgba(245, 245, 245, 0.9), 0.2rem 0.2rem 0.6rem rgba(245, 245, 245, 0.2); margin-left: 23.5%; }
#static-content > dl { -webkit-box-sizing: border-box; box-sizing: border-box; width: 95%; padding: 0.2rem 0 0.2rem 9rem; border-left: solid 2.25rem black; border-radius: 12%; }
#static-content > dl > dt { display: block; color: black; font-size: 1.7rem; font-weight: bold; white-space: nowrap; max-width: 25.5rem; padding: 1rem 1.7rem; background-color: whitesmoke; background-clip: padding-box; border-radius: .7rem; -webkit-box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.8); box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.8); margin: 2.6rem 0; -webkit-transition: background-color .6s ease-out, color .3s ease-out .3s; transition: background-color .6s ease-out, color .3s ease-out .3s; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#static-content > dl > dt::before { content: ""; display: inline-block; width: 1em; height: 1em; background-size: 100%; background-repeat: no-repeat; position: relative; left: -0.3em; }
#static-content > dl > dt.general-info::before { background-image: url("../../multimedia/images/icon/general-info-black.png"); top: 0.2rem; }
#static-content > dl > dt.profissional-fields::before { background-image: url("../../multimedia/images/icon/profissional-fields-black.png"); top: 0.2rem; }
#static-content > dl > dt.education::before { background-image: url("../../multimedia/images/icon/education-black.png"); top: 0.3rem; }
#static-content > dl > dt.skills::before { background-image: url("../../multimedia/images/icon/skills-black.png"); top: 0.3rem; }
#static-content > dl > dt.jobs::before { background-image: url("../../multimedia/images/icon/jobs-black.png"); top: 0.2rem; }
#static-content > dl > dt.personal-info::before { background-image: url("../../multimedia/images/icon/personal-info-black.png"); top: 0; }
#static-content > dl > dt.current-topic, #static-content > dl > dt:hover { color: white; outline: none; }
#static-content > dl > dt.current-topic { background-color: #99338f; }
#static-content > dl > dt:hover { background-color: #a6599e; }
#static-content > dl > dt:active { background-color: #bf40b3; }
#static-content > dl > dt::after { content: ""; display: inline-block; width: calc( 9rem + .1rem ); height: 1.05rem; position: absolute; left: calc( -9rem - .1rem ); top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background-color: black; cursor: default; }
#static-content > dl > dd { display: none; }

/* Conteúdo Dinâmico */
#dynamic-content { float: right; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.5rem; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; width: 50%; height: 100%; border-left: solid .2rem black; background-color: whitesmoke; overflow: auto; }
#dynamic-content > header { display: table; text-align: center; width: 100%; background-image: -webkit-gradient(linear, left bottom, left top, from(#3e175e), color-stop(30%, #592287), color-stop(60%, #592287), to(#3e175e)); background-image: linear-gradient(0deg, #3e175e, #592287 30%, #592287 60%, #3e175e); margin-bottom: 1.6rem; position: -webkit-sticky; position: sticky; top: 0; z-index: 1; }
#dynamic-content > header h1 { display: table-cell; color: white; font-size: 2.6rem; padding: 1.2rem 0; }
#dynamic-content > header h1::before { content: ""; display: inline-block; width: 1em; height: 1em; background-size: 100%; background-repeat: no-repeat; position: relative; left: -0.3em; }
#dynamic-content > header h1.general-info::before { background-image: url("../../multimedia/images/icon/general-info-white.png"); top: 0.5rem; }
#dynamic-content > header h1.profissional-fields::before { background-image: url("../../multimedia/images/icon/profissional-fields-white.png"); top: 0.4rem; }
#dynamic-content > header h1.education::before { background-image: url("../../multimedia/images/icon/education-white.png"); top: 0.8rem; }
#dynamic-content > header h1.skills::before { background-image: url("../../multimedia/images/icon/skills-white.png"); top: 0.4rem; }
#dynamic-content > header h1.jobs::before { background-image: url("../../multimedia/images/icon/jobs-white.png"); top: 0.4rem; }
#dynamic-content > header h1.personal-info::before { background-image: url("../../multimedia/images/icon/personal-info-white.png"); top: 0.1rem; }
#dynamic-content > header div { display: none; }
#dynamic-content > :not(header) { margin: 0 2.6rem; }
#dynamic-content > header ~ :last-child { margin-bottom: 1.4rem; }
#dynamic-content div.general-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#dynamic-content div.general-info dl { font-size: 1.6rem; -ms-flex-negative: 0; flex-shrink: 0; text-align: center; margin-right: 4.8rem; cursor: default; }
#dynamic-content div.general-info dl dt { display: block; color: #99338f; font-size: 1.8rem; font-weight: bold; margin-bottom: .4rem; }
#dynamic-content div.general-info dl dt::after { content: ""; }
#dynamic-content div.general-info dl dd { display: block; }
#dynamic-content div.general-info dl dd:not(:last-child) { margin-bottom: 2.9rem; }
#dynamic-content div.general-info picture { -ms-flex-negative: 1; flex-shrink: 1; }
#dynamic-content div.general-info picture img { width: 100%; height: auto; border-radius: .8rem; -webkit-filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.85)); filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.85)); }
#dynamic-content ul.general-list { list-style-type: disc; color: #99338f; margin-left: 1.6rem; }
#dynamic-content ul.general-list > li:not(:last-child) { margin-bottom: 2.4rem; }
#dynamic-content ul.general-list span { color: black; position: relative; left: -0.3rem; }
#dynamic-content ol.cronological-list { list-style: upper-roman outside; margin-left: 1.6rem; }
#dynamic-content ol.cronological-list > li time { display: inline; font-weight: bold; }
#dynamic-content ol.cronological-list > li time::after { content: ": "; }
#dynamic-content ol.cronological-list > li time + p { display: inline; }
#dynamic-content ol.cronological-list > li time + p::after { content: ""; display: table; height: 1rem; }
#dynamic-content ol.cronological-list > li section > :first-child { font-size: 1.6rem; margin: 0.8rem 0; }
#dynamic-content ol.cronological-list > li section ul.general-list { margin-left: 4rem; }
#dynamic-content ol.cronological-list > li section ul.general-list > li:not(:last-child) { margin-bottom: 0.5rem; }
#dynamic-content ol.cronological-list > li:not(:last-child) { margin-bottom: 3.5rem; }
#dynamic-content dl.nested-list > dt { display: block; font: bold 1.9rem/1.15 "Caladea", "Cambria", serif; margin-bottom: 1.9rem; }
#dynamic-content dl.nested-list > dt:not(:first-child) { margin-top: 7.6rem; }
#dynamic-content dl.nested-list > dd { display: block; }
#dynamic-content dl.nested-list > dd::after { content: ""; }
#dynamic-content dl.nested-list > dd:not(:last-child) section.meter-text:only-child { margin-bottom: 5.6rem; }
#dynamic-content dl.nested-list section.meter-text > :first-child { font-size: 1.8rem; }
#dynamic-content section.meter-text { padding-left: 1.9rem; border-left: solid 0.1rem #99338f; }
#dynamic-content section.meter-text:not(:last-child) { margin-bottom: 5.6rem; }
#dynamic-content section.meter-text > :first-child { float: left; font-size: 1.9rem; margin-bottom: 0.8rem; }
#dynamic-content section.meter-text > meter { float: right; width: 8rem; height: 1.6rem; cursor: help; }
#dynamic-content section.meter-text > p:first-of-type { clear: both; }
#dynamic-content section.meter-text > p.list-heading { text-indent: 0; font-weight: bold; }
#dynamic-content section.meter-text ul.general-list { margin-left: 4rem; }
#dynamic-content section.meter-text ul.general-list > li:not(:last-child) { margin-bottom: 1rem; }
#dynamic-content section.meter-text ul.general-list + p { margin-top: 0.8rem; }
#dynamic-content [class="key-anchor"] { color: #a985e0; cursor: pointer; }

/* Telas com Pouca Largura */
@media (max-width: 91em) and (min-width: 81.25em), (max-width: 43.7em) and (min-width: 38.75em) { #dynamic-content div.general-info dl { margin-right: 1.6rem; } }
@media (max-width: 81.2em) and (min-width: 56.25em), (max-width: 38.7em) { #dynamic-content div.general-info { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #dynamic-content div.general-info dl { margin-right: 0; }
  #dynamic-content div.general-info dl dt { margin-bottom: 0.2rem; }
  #dynamic-content div.general-info dl dd:not(:last-child) { margin-bottom: 1.6rem; }
  #dynamic-content div.general-info picture { width: 95%; max-width: 40rem; margin-top: 1.9rem; } }
@media (max-width: 69em) and (min-width: 56.25em), (max-width: 29.95em) { #static-content { margin-left: 1%; }
  #dynamic-content { font-size: 1.4rem; }
  #dynamic-content > :not(header) { margin: 0 1.6rem; }
  #dynamic-content div.general-info dl { font-size: 1.5rem; }
  #dynamic-content ol.cronological-list > li time + p { display: block; margin: .8rem 0; text-indent: 0; }
  #dynamic-content ol.cronological-list > li section > :first-child { font-size: 1.5rem; }
  #dynamic-content ol.cronological-list > li section ul.general-list { margin-left: 1.2rem; }
  #dynamic-content ol.cronological-list > li section ul.general-list > li:not(:last-child) { margin-bottom: 1.2rem; }
  #dynamic-content section.meter-text { padding-left: 1.3rem; }
  #dynamic-content section.meter-text > :first-child span { display: none; }
  #dynamic-content section.meter-text > meter { width: 6rem; }
  #dynamic-content section.meter-text ul.general-list { margin-left: 1.5rem; }
  #dynamic-content section.meter-text ul.general-list > li:not(:last-child) { margin-bottom: 1.5rem; }
  #dynamic-content section.meter-text > :first-child, #dynamic-content dl.nested-list section.meter-text > :first-child { font-size: 1.7rem; } }
/* Telas com Pouca Altura */
@media (max-height: 30em) and (min-width: 56.25em) { #static-content { position: static; -webkit-transform: none; transform: none; width: 50%; margin-left: 0; }
  #static-content > h1 { width: 100%; margin: 0.7rem 0; }
  #static-content > dl { width: 100%; padding: 0; border-left: none; }
  #static-content > dl > dt { margin: 1.4rem auto; }
  #static-content > dl > dt::after { display: none; } }
@media (max-height: 24em) and (min-height: 14.7em) and (min-width: 75em) { #static-content > dl { padding: .9rem 1.8rem; }
  #static-content > dl::after { content: ""; display: table; clear: both; }
  #static-content > dl::after { width: 0; height: 0; }
  #static-content > dl > dt { float: left; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 0 2rem; white-space: normal; }
  #static-content > dl > dt::after, #static-content > dl > dt span { display: none; }
  #static-content > dl > dt { width: calc( ( 1 * ( 100% - ( 5% * ( 3 - 1 ) ) )/3 ) + ( 5% * ( 1 - 1 ) ) ); }
  #static-content > dl > dt:not(:nth-of-type(3n)) { margin-right: 5%; } }
@media (max-height: 24em) and (min-height: 14.7em) and (max-width: 74.95em) and (min-width: 56.25em) { #static-content > dl { padding: .9rem 1.8rem; }
  #static-content > dl::after { content: ""; display: table; clear: both; }
  #static-content > dl::after { width: 0; height: 0; }
  #static-content > dl > dt { float: left; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 0 2rem; white-space: normal; }
  #static-content > dl > dt::after, #static-content > dl > dt span { display: none; }
  #static-content > dl > dt { width: calc( ( 1 * ( 100% - ( 5% * ( 2 - 1 ) ) )/2 ) + ( 5% * ( 1 - 1 ) ) ); }
  #static-content > dl > dt:not(:nth-of-type(2n)) { margin-right: 5%; } }
/* Telas com Pouca Largura ou Altura */
@media (max-width: 56.2em), (max-height: 14.65em) { #content-container { overflow: auto; }
  #static-content, #dynamic-content { float: unset; width: 100%; margin: 0; }
  #static-content { position: static; -webkit-transform: none; transform: none; }
  #static-content > dl { padding: .9rem 1.8rem; }
  #static-content > dl::after { content: ""; display: table; clear: both; }
  #static-content > dl::after { width: 0; height: 0; }
  #static-content > dl > dt { float: left; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 0 2rem; white-space: normal; }
  #static-content > dl > dt::after, #static-content > dl > dt span { display: none; }
  #static-content > h1 { margin: 0; }
  #static-content > dl { width: 100%; border: none; }
  #dynamic-content { height: auto; overflow: auto; } }
@media (max-width: 56.2em) and (min-width: 38.75em), (max-height: 14.65em) and (min-width: 56.25em) { #static-content > dl > dt { width: calc( ( 1 * ( 100% - ( 5% * ( 3 - 1 ) ) )/3 ) + ( 5% * ( 1 - 1 ) ) ); }
  #static-content > dl > dt:not(:nth-of-type(3n)) { margin-right: 5%; }
  #dynamic-content { min-height: calc( 100% - 17.4rem ); } }
@media (max-width: 38.7em) and (min-width: 26.55em) { #static-content > dl > dt { width: calc( ( 1 * ( 100% - ( 5% * ( 2 - 1 ) ) )/2 ) + ( 5% * ( 1 - 1 ) ) ); }
  #static-content > dl > dt:not(:nth-of-type(2n)) { margin-right: 5%; }
  #dynamic-content { min-height: calc( 100% - 23.6rem ); } }
@media (max-width: 26.5em) { #static-content { min-height: 48rem; height: 100vh; }
  #static-content > h1 { margin: 3rem 0; }
  #static-content > dl > dt { float: unset; margin: 0 auto 2rem; }
  #dynamic-content { min-height: 100vh; }
  #dynamic-content > header h1 { padding-left: 2.4rem; }
  #dynamic-content > header h1 span { display: none; }
  #dynamic-content > header div { display: table-cell; vertical-align: middle; min-width: 3.8rem; width: 3.8rem; padding: 0 1rem; background-color: black; cursor: pointer; }
  #dynamic-content > header div img { width: 100%; } }

/*# sourceMappingURL=sobre-mim.css.map */