@charset "UTF-8";

/* Geral */
* { padding: 0; margin: 0 }
	html { font-size: 62.5%; height: 100% }
		body { font: 1.6rem/1.15 "Liberation Sans", "FreeSans", "Nimbus Sans L", "Arial", "Helvetica", sans-serif; text-transform: uppercase; height: 100%; overflow: hidden }
	@media( max-width: 49.95em /* 799px */ ) { html { font-size: 52.5% } }
::-moz-selection { background-color: rgb( 240, 180, 80 ) }
::selection { background-color: rgb( 240, 180, 80 ) }

/* Cabeçalho */
#gameHeader { box-sizing: border-box; color: white; font-family: Tahoma; text-align: center; width: 100%; padding: 2rem 2%; background: rgb(65,125,185); cursor: default }
	#gameHeader h1 { font-size: 2.2rem; font-weight: 100; letter-spacing: .4rem; word-spacing: .6rem; margin: 0 }
		#gameHeader h1 span { display: block; font-size: 3rem; font-style: normal; letter-spacing: .2rem; word-spacing: .1rem; margin: .4rem 0 .8rem }

/* Interface do Jogo */
main { height: calc(100% - 13.5rem) }

/* Interface do Jogo – Menu */
#gameMenu { box-sizing: border-box; list-style: none; text-align: center; color: rgb(65,125,185); width: 100%; padding: 0 1.5%; background: white; -webkit-user-select: none; -moz-user-select: none; user-select: none }
	#menuList { display: flex; flex-flow: row nowrap; justify-content: space-between; width: 50%; margin: 0 auto }
		#menuList * { display: inline-block }
			#menuList li { font-size: 1.4rem; font-weight: 900; padding: .4rem; transition: all 1s ease-out; cursor: pointer }
				@media ( min-width: 28.1em /* 450px */ ) { #menuList li:hover, .selected { color: white; background: rgb(65,125,185) } }
			#menuList > :nth-child(1) { word-spacing: .6rem }
			#menuList > :nth-child(2) { cursor: default }
				#menuList > :nth-child(2) output { color: initial; font-weight: normal }
				@media ( min-width: 28.1em /* 450px */ ) { #menuList > :nth-child(2):hover { color: initial; background: none } }
	@media( max-width: 65.55em /* 1049px */ ) { #menuList { width: 100% } }
@media( max-width: 28.05em /* 449px */ )
	{	#gameMenu { color: black; background: rgb(65,125,185); padding: 0 2.5% }
			#menuList { font-variant: small-caps; text-transform: capitalize; flex-direction: column }
				#menuList > :nth-child(1) { order: 1; padding: 1rem 0; border: solid .2rem black; border-bottom: none }
				#menuList > :nth-child(2) { order: 3; padding: .6rem 0; background: black }
					#menuList > :nth-child(2) output { color: white; font-weight: bold; font-variant: normal }
				#menuList > :nth-child(3) { order: 2; display: flex; flex-flow: row nowrap; justify-content: space-evenly; align-items: center }
					#difficultyList > * { width: 33.3%; padding: .6rem 0; border-top: solid .2rem black }
						#difficultyList > :nth-child(1) { border-left: solid .2rem black; background: rgb(215,0,215) }
							#difficultyList > :nth-child(1).selected { background: linear-gradient( 90deg, rgb(115,0,115) -10%, rgb(250,0,250), rgb(115,0,115) 110% ) }
						#difficultyList > :nth-child(2) { border-left: solid .2rem black; border-right: solid .2rem black; background: rgb(0,215,215) }
							#difficultyList > :nth-child(2).selected { background: linear-gradient( 90deg, rgb(0,115,115) -10%, rgb(0,250,250), rgb(0,115,115) 110% ) }
						#difficultyList > :nth-child(3) { border-right: solid .2rem black; background: rgb(215,215,0) }
							#difficultyList > :nth-child(3).selected { background: linear-gradient( 90deg, rgb(115,115,0) -10%, rgb(250,250,0), rgb(115,115,0) 110% ) } }

/* Interface do Jogo – Tela de Exibição */
#gameBody { box-sizing: border-box; height: calc(100% - 2.4rem); padding: 1rem 0; background: url("../../../multimedia/images/background/transparency-grid.gif") repeat; overflow: auto }
	@media ( max-width: 49.95em /* 799px */ ) { #gameBody { height: calc(100% - 2.3rem) } }
	@media( max-width: 28.05em /* 449px */ ) { #gameBody { height: calc(100% - 9rem) } }
	#squaresContainer { opacity: 0; display: flex; flex-flow: row wrap; justify-content: center; align-items: center; width: 95%; max-width: 75rem; height: 100%; margin: 0 auto; transition: opacity 1.5s ease-in }
		@media( max-width: 33.35em /* 534px */ ) { #squaresContainer { justify-content: space-between } }
		#squaresContainer .square { display: inline-block; width: 18rem; height: 18rem; margin: 1rem; border-radius: 15%; box-shadow: 0px 0px 1rem .2rem black; transition: opacity 1.5s ease-in }
			#squaresContainer .square:hover { transform: translateY(-.4rem); box-shadow: 0px 0px 1.2rem .4rem black }
			#squaresContainer .square:active { transform: translateY(-.2rem); box-shadow: 0px 0px 1.1rem .3rem black }

/* Interface do Jogo – Tela de Exibição – Responsivo – Telas Largas e Baixas */
@media( min-aspect-ratio: 2/1 ) and ( min-width: 79.05em /* 1265px */ ) and ( max-height: 42.45em /* 679px */ )
	{ #squaresContainer { max-width: none } }
@media( min-aspect-ratio: 2/1 ) and ( min-width: 63.45em /* 1015px */ ) and ( max-width: 79em /* 1264px */ )
	{ #squaresContainer { max-width: none }
			#squaresContainer .square { width: 14rem; height: 14rem } }
@media( min-aspect-ratio: 2/1 ) and ( min-width: 56.25em /* 900px */ ) and ( max-width: 63.4em /* 1014px */ )
	{ #squaresContainer { max-width: none }
			#squaresContainer .square { width: 12rem; height: 12rem } }
@media( min-aspect-ratio: 2/1 ) and ( max-width: 56.2em /* 899px */ )
	{ #squaresContainer { max-width: none }
			#squaresContainer .square { width: 10rem; height: 10rem } }

/* Interface do Jogo – Tela de Exibição – Responsivo – Telas de Proporções Moderadas */
@media( max-aspect-ratio: 39/19 ) and ( max-height: 37.45em /* 599px */ ), ( max-width: 33.45em /* 535px */ )
	{ #squaresContainer { max-width: 50rem }
			#squaresContainer .square { width: 14rem; height: 14rem } }
@media( max-aspect-ratio: 39/19 ) and ( max-height: 31.2em /* 499px */ ), ( max-width: 28.05 /* 449px */ ) and ( max-height: 37.45em /* 599px */ )
	{ #squaresContainer { max-width: 45rem }
			#squaresContainer .square { width: 10rem; height: 10rem } }
