/* Seção de Bens de Consumo */
#about-us #what-we-do #consumer-goods {
  & .content-container { @include row-flex( $side-aligment: stretch ); @include set-grid; padding: 9.5rem map-get( $content-pad, normal ) 9rem;
    @media ( max-width: 81.2em /* 1299px */ ) { box-sizing: border-box }
    @media ( max-width: 65.59em /* 1049px */ ) { flex-direction: column; align-items: center; padding-top: 2rem }
    @media ( max-width: 34.35em /* 549px */ ) { padding: 9.5rem map-get( $content-pad, responsive ) 9rem }
    & .text-container { max-width: 38.2rem; padding-bottom: 3rem; position: relative; @include trailing-stroke( $left: -3.7rem, $bottom: 2rem, $responsive: ( map-get( $media, tail-1b ), map-get( $media, tail-2a ), map-get( $media, tail-3a ) ) );
      @media ( max-width: 65.59em /* 1049px */ ) { max-width: none; text-align: center; padding-bottom: 6rem }
      @media ( max-width: 65.59em /* 1049px */ ) and ( min-width: 34.36em /* 549px */ ) { margin-bottom: 4rem }
      @include heading-block-1 {
        @media ( max-width: 65.59em /* 1049px */ ) { margin-bottom: 3rem } };
      & .text-set {
        & .text {
          @media ( max-width: 65.59em /* 1049px */ ) { text-align: center }
          @media ( max-width: 65.59em /* 1049px */ ) and ( min-width: 34.36em /* 550px */ ) { font-size: 1.4rem } } } }
    & .side-images { @include column-flex( $side-aligment: flex-start );  margin-right: 4.6rem;
      @media ( max-width: 99.95em /* 1599px */ ) { margin-right: 0 }
      @include images-grid-block-1( $description: ( max-w: 25.4rem, m-right: 6.6rem, f-size: 1.7rem ), $responsive: ( map-get( $media, img-block-r-1a ) ) ) } } }
