/* Sobre Nós – O Que Fazemos – Soluções */
#about-us #what-we-do #solutions { width: 100%; margin-top: -8rem; padding-bottom: 6rem;
  @media ( max-width: 69.95em /* 1119px */ ) { margin-top: 0; padding: 6rem 0 }
  & .content-container { @include row-flex( $side-aligment: stretch ); @include set-grid; padding: 0 map-get( $content-pad, normal );
    @media ( max-width: 81.2em /* 1299px */ ) { box-sizing: border-box }
    @media ( max-width: 71.84em /* 1149px */ ) { flex-direction: column; align-items: center }
    @media ( max-width: 34.35em /* 549px */ ) { padding: 0 map-get( $content-pad, responsive ) }
    & .text-container { max-width: 37.2rem;
      @media ( max-width: 71.84em /* 1149px */ ) { max-width: none; text-align: center; padding-bottom: 6rem }
      @include heading-block-1 {
        @media ( max-width: 71.84em /* 1149px */ ) { margin-bottom: 3rem } };
      & .texts-set { margin-bottom: 4.6rem;
        & .text {
          @media ( max-width: 71.84em /* 1149px */ ) { text-align: center }
          @media ( max-width: 71.84em /* 1149px */ ) and ( min-width: 34.36em /* 550px */ ) { font-size: 1.4rem } } }
      & .images-set { @include clearfix;
        & picture { display: inline-block; float: left;
          &:not( :last-of-type ) { margin-right: 5.5rem }
          @media ( max-width: 71.84em /* 1149px */ ) { float: none } } } }
    & .side-images { @include column-flex( $side-aligment: flex-start ); margin-right: 4.6rem;
      @media ( max-width: 71.84em /* 1149px */ ) { width: 100%; margin-right: 0; align-items: center }
      @include images-grid-block-1( $description: ( max-w: 34.5rem, m-right: 6.6rem, f-size: 1.4rem ), $responsive: ( map-get( $media, img-block-r-1b ) ) ) { align-items: center } } } }
